<nav class="menu group" role="navigation">
  <ul>
    <li><a class="help-home" href="/help">Help</a></li>
    <li><a class="help-accessibility" href="/help/accessibility">Accessibility</a></li>
    <li><a class="help-accessibility" href="/help/accessibility-policies">Accessibility policies</a></li>
    <li><a class="help-cookies" href="/help/cookies">Cookies</a></li>
    <li><a class="help-cookies" href="/help/privacy-policy">Privacy policy</a></li>
  </ul>
</nav>
