<h2 id="organisation-accessibility-policy">Government Digital Service Organisational Web Accessibility Policy January 2012</h2>
<p>
  Government Digital Service (GDS) is committed to providing websites that are usable and accessible to everyone. GDS actively works to ensure that its websites are practical, helpful and available to people of all abilities.
</p>
<p>
  GDS aims to conform to British Standard (BS) 8878 Web Accessibility Code of Practice from the British Standards Institution (BSI). In accordance with BS8878, this policy documents the organisational accessibility goals that GDS aims to achieve.
</p>
<h3>Policy responsibility</h3>
<p>
  Joshua Marshall (<a href="mailto:Joshua.marshall@digital.cabinet-office.gov.uk">joshua.marshall@digital.cabinet-office.gov.uk</a>) is responsible for this policy and its implementation within GDS. Joshua will work with other people within GDS to ensure that the principles of this policy are upheld.
  </p>
  <p>
    Each person within GDS is also responsible for upholding the principles of this policy within their particular areas of operation. Effectively the principles of this policy form “business as usual” within GDS.
  </p>
  <h3>Policy intention</h3>
  <p>
    The intention of this policy is to identify clear accessibility principles that all GDS websites should follow. For the purpose of this policy, the term “websites” includes:
  </p>
  <ul>
    <li>
      External facing websites, microsites, and online applications;
    </li>
    <li>
      Internal facing websites and online applications.
    </li>
  </ul>
  <h3>Policy principles</h3>
  <p>
    The principles of this policy are:
  </p>
  <ul>
    <li>
      Engage with people with disabilities, understand their requirements, and incorporate those requirements into website scoping and planning;
    </li>
    <li>
      Meet Level AA of the Web Content Accessibility Guidelines 2.0 as a minimum, and Level AAA wherever possible;
    </li>
    <li>
      Conduct formal and informal accessibility evaluations against the Web Content Accessibility Guidelines 2.0 throughout development;
    </li>
    <li>
      Put in place an ongoing post launch programme of accessibility evaluations and testing with people with disabilities.
    </li>
  </ul>
