<h2 id="website-accessibility-policy">GOV.UK Web Accessibility Policy January 2012</h2>
<p>
  Government Digital Service (GDS) is committed to providing websites that are usable and accessible to everyone. GDS actively works to ensure that its websites are practical, helpful and available to people of all abilities.
</p>
<p>
  GDS aims to conform to British Standard (BS) 8878 Web Accessibility Code of Practice from the British Standards Institution (BSI). In accordance with BS8878, this policy documents the accessibility steps that were taken throughout the lifecycle of the beta Gov.UK website.
</p>

<h3>Purpose of the website</h3>

<p>
  GDS is developing a website that will bring together information, tools and resources relating to government services in a single place. The purpose of the website is to provide a way for UK citizens to find the information they need and complete the transactions they require.
</p>

<h3>User research and requirements</h3>

<h4>Target audience</h4>

<p>
  The target audience of the website is any adult who wants information, tools or resources relating to government services in the UK.
</p>

<h4>Audience requirements</h4>

<p>
  The proportion of older and disabled people using the website will be typical of the general population. General requirements for older and disabled people can be based on the following:
</p>

<ul>
  <li>People who are able to experience the website without assistance or accommodation;</li>
  <li>People who need to change the accessibility settings of their operating system or browser in order to experience the website;</li>
  <li>People who require assistance or use an assistive technology in order to experience the website.</li>
</ul>

<h4>Audience preferences</h4>
<p>
  Older and disabled people will use a range of devices, operating systems, browsers and assistive technologies to access the website. This may include both proprietary and open source technologies.
</p>

<h4>Audience relationship</h4>
<p>
  The website will be open. A choice of text and colour display settings will be available. Display choices will be stored in a cookie, so no login is required.
</p>
<p>
  It will be possible to filter information based on location. People may enter a postcode to receive information relevant to their local area.
</p>

<h4>Audience goals</h4>
<p>
  The following user goals have been identified for the beta Gov.UK website. Visitors to the site should be able to:
</p>

<ul>
  <li>Search and find government information and services;</li>
  <li>Browse by category and find government information and services;</li>
  <li>Set their location and be shown services and information relevant to their location;</li>
  <li>Find answers to complex questions using a simple decision tree style interface;</li>
  <li>Find clear consistent start pages for a range of online government services;</li>
  <li>Submit feedback on their experience of using the website;</li>
  <li>Browse help pages to help them use the site;</li>
  <li>Change the font of the website to suit their needs;</li>
  <li>Easily read content in a variety of page layouts.</li>
</ul>

<h3>Strategic choices</h3>
<h4>Audience experience</h4>
<p>
  BS8878 defines three experience levels: Technically accessible, useably accessible, and enjoyably accessible. The beta Gov.UK website will aim to deliver an experience that is enjoyably accessible by everyone.
</p>

<h4>Accessibility approach</h4>
<p>
  The beta Gov.UK website will take an inclusive design approach. Regular testing will take place throughout the lifetime of the site. Testing will be a combination of technical assessment against recognised guidelines and standards, and evaluation with people representative of the website’s diverse audience.
</p>
<p>
  The inclusive design approach will be supplemented by a degree of product adaptation (personalisation). People will be able to alter the size of text and choose alternate colour schemes from within the website itself.
</p>

<h4>Supported platforms</h4>
<p>
  The beta Gov.UK website will be based on best practice guidelines and standards. It is anticipated that this approach will facilitate accessibility on alternate platforms such as mobile or IPTV. No specific design, development or testing on alternate platforms is currently planned.
</p>

<h4>Supported technologies</h4>
<p>
  The beta Gov.UK website will be supported by Internet Explorer 7+, as well as recent versions of Chrome, Opera, Firefox and Safari.
</p>
<p>
  In addition the beta Gov.UK website should be supported by recent versions of Jaws, NVDA, VoiceOver, Window Eyes and Supernova screen readers, ZoomText, Magic, Supernova and basic operating system screen magnifiers, as well as speech recognition software including Dragon Naturally Speaking, and native operating system speech packages.
</p>
<p>
  The beta Gov.UK website should be usable without a mouse, and with a range of alternative hardware devices such as sip/puff technology, eye tracking or analogue devices including head/mouth wands.
</p>

<h3>Production choices</h3>
<h4>Web procurement</h4>
<div>
  <p>
    The website and the tools used to manage it will be created by the GDS team. The only third party tools will be systems monitoring applications such as Nagios. Where the output from these tools is required by the editorial team, it will be presented in a custom accessible interface.
  </p>
</div>

<h4>Web technologies</h4>
<p>
  The website and the tools used to manage it will be built using the following technologies:
</p>
<ul>
  <li>Ruby On Rails;
  </li>
  <li>HTML 5;
  </li>
  <li>CSS 2/3;
  </li>
  <li>ARIA 1.0;
  </li>
  <li>jQuery 1.6.x;
  </li>
  <li>jQuery UI 1.8.x.
  </li>
</ul>

<h4>Web guidelines</h4>
<p>
  The beta Gov.UK site will aim to meet Level AA of the Web Content Accessibility Guidelines 2.0, and conform to the relevant W3C specifications wherever possible.
</p>

<h3>Evaluation choices</h3>
<h4>Accessibility testing</h4>
<p>
  As each new feature of the beta Gov.UK website is added or refined, it will be informally assessed against the target accessibility guidelines.
</p>
<p>
  At regular points throughout the lifecycle of the beta Gov.UK website, it will be formally assessed against the target accessibility guidelines. It will also be formally evaluated with older, disabled and able people representative of the website’s diverse audience.
</p>

<h3>Communication choices</h3>
<h4>Accessibility statement</h4>
<p>
  The beta Gov.UK website will not include an accessibility statement. The GDS team is not comfortable with a statement that draws a distinction between accessibility and any other aspect of best practice development.
</p>

<h3>Sustainability choices</h3>
<h4>Accessibility maintenance</h4>
<p>
  The website will be a public beta. It will not be the finished product. It is anticipated that the website will continue to evolve and improve in response to feedback and further testing. Therefore the steps and decisions outlined in this document will be continually applied and refined.
</p>