<% content_for :title, "Help using GOV.UK | Help | GOV.UK Beta (Test)" %>
<section id="content" role="main" class="group ancillary help">
  <div class="article-container">

    <header class="page-header group">
      <hgroup>
        <h1>Help using GOV.UK</h1>
      </hgroup>
    </header>

    <%= render :partial => 'menu', :locals => { :help_location => action_name } %>
    <article role="article" class="group">
      <div class="inner">

        <h2>Accessibility and help using the internet</h2>
        <p>
          We’re trying to make this site as accessible and usable as we can for everyone.
        </p>

        <p>
          Your feedback will really help us to do that, so if you spot any problems please visit <a href="/feedback">the feedback page</a> and let us know. And, if you’re interested, <a href="http://digital.cabinetoffice.gov.uk/2012/01/20/user-testing-accessibility/">this blog post</a> will tell you more about the accessibility testing we’ve been doing.
        </p>
        <p>
          If you have any difficulty using the internet or have any accessibility issues, we hope the following information is useful.
        </p>

        <h3>
          If you need help getting started online
        </h3>

        <p>
          <a href="http://www.bbc.co.uk/webwise/topics/using-the-web/">Getting started with the internet</a> (BBC WebWise)
        </p>

        <h3>
          Find a free internet training course near you
        </h3>
        <p>
          <a href="/uk-online-centre-internet-access-computer-training">UK online centres</a> offer free computer and internet training across the country.
        </p>

        <h3>
          If you don’t have regular access to an internet connection
        </h3>
        <p>
          <a href="/book-internet-access-at-library">Book internet access in your local library</a>
        </p>
        <h3>
          If you find a keyboard or mouse hard to use
        </h3>
        <p>
          <a href="http://www.bbc.co.uk/accessibility/guides/mouse_easier/">Find out how to make your mouse easier to use</a> (BBC My Web)
        </p>
        <p>
          <a href="http://www.bbc.co.uk/accessibility/guides/keyboard_mouse/">Find out how to use your keyboard to control your mouse</a> (BBC My Web)
        </p>
        <p>
          <a href="http://www.bbc.co.uk/accessibility/guides/alternative_devices/">Find out about alternatives to a keyboard and mouse</a> (BBC My Web)
        </p>

        <h3>
          If you can't see very well
        </h3>
        <p>
          <a href="http://www.bbc.co.uk/accessibility/guides/text_larger/">Learn how to increase the size of the text in your web browser</a> (BBC My Web)
        </p>
        <p>
          <a href="http://www.bbc.co.uk/accessibility/guides/change_colours/">Learn how to change text and background colours to make them easier to read</a> (BBC My Web)
        </p>
        <p>
          <a href="http://www.bbc.co.uk/accessibility/guides/magnify/">Learn how to magnify your screen</a> (BBC My Web)
        </p>

        <h3>
          If you are blind
        </h3>
        <p>
          <a href="http://www.bbc.co.uk/accessibility/guides/screenreaders/">Find out about screen readers and talking browsers</a> (BBC My Web)
        </p>

      </div>

    </article>

  </div>
</section>
