<% content_for :title, "Help using GOV.UK | Help | GOV.UK Beta (Test)" %>
<section id="content" role="main" class="group ancillary help">
  <div class="article-container">

    <header class="page-header group">
      <hgroup>
        <h1>Help using GOV.UK</h1>
      </hgroup>
    </header>

    <%= render :partial => 'menu', :locals => { :help_location => action_name } %>
    <article role="article" class="group">
      <div class="inner">
        <h2>Accessibility policies</h2>            
        <p>
          This page includes the the accessibility policy for GOV.UK and the 
          organisation accessibility policy for the Government Digital Service.
        </p>
        <%= render "website_accessibility_policy" %>
        <%= render "organisation_accessibility_policy" %>
      </div>

    </article>

  </div>
</section>
