<% render :partial => 'section_meta_tags' %>
<% content_for :title, "Cookies | Help | GOV.UK" %>
<section id="content" role="main" class="group ancillary help">

  <header class="page-header group">
    <hgroup>
      <h1>Help using GOV.UK</h1>
    </hgroup>
  </header>

  <%= render :partial => 'menu' %>
  <article role="article" class="group">
    <h2>Cookies</h2>

    <p>To make this site simple to use, we sometimes place small amounts of information on your computer, known as cookies. They improve things by:</p>

    <ul>
      <li>remembering settings, so you don't have to keep re-entering them whenever you visit a new page</li>
      <li>remembering information you've given (e.g. your postcode) so you don't need to keep entering it</li>
      <li>measuring how you use the website so we can make sure it meets your needs</li>
    </ul>

    <p>Our cookies aren’t used to identify you personally. They’re just here to make the site work better for you. Indeed, you can manage and/or delete these small files as you wish.</p>

    <p>To learn more about cookies and how to manage them, visit <a href="http://www.aboutcookies.org/" title="Information about cookies">AboutCookies.org</a>. Or please read on to find out more about how and where we use cookies.</p>

    <hr/>

    <h3>How we use cookies</h3>

    <p>GOV.UK uses cookies in several places – we've listed each of them below with more details about why we use them and how long they will last.</p>

    <p>In most cases, we will let you know <strong>before</strong> we store a cookie on your computer by providing an icon similar to this: <span class="sets-cookie"><a href="#" title="This link is an example that doesn't do anything">sets a cookie</a>.</span></p>



    <h3 id="analyticscookies">Measuring website usage (Google Analytics)</h3>
    <p>We use Google Analytics to collect information about how people use this site. We do this to make sure it’s meeting its users’ needs and to understand how we could do it better.</p>
    <p>Google Analytics stores information about what pages you visit, how long you are on the site, how you got here and what you click on. This information cannot be used to identify you and we do not allow Google to use our analytics data.</p>

    <p>The following cookies are set by Google Analytics:</p>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Typical Content</th>
          <th>Expires</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>_utma</td>
          <td>randomly generated number</td>
          <td>2 years</td>
        </tr>
        <tr>
          <td>_utmb</td>
          <td>randomly generated number</td>
          <td>30 minutes</td>
        </tr>
        <tr>
          <td>_utmc</td>
          <td>randomly generated number</td>
          <td>when you close your browser</td>
        </tr>
        <tr>
          <td>_utmz</td>
          <td>randomly generated number and information on how the site was reached (e.g. direct or via a link, organic search or paid search)</td>
          <td>6 months</td>
        </tr>
      </tbody>
    </table>

    <hr/>

    <h3 id="locationcookies">Storing your approximate location</h3>
    <p>Some pages on this site provide you with information based on your location. So when you enter your postcode, we save it to a cookie. This means you don’t have to keep typing your postcode in, and means we’ll always point you towards services that are closest to you e.g. the nearest <a href="/uk-online-centre-internet-access-computer-training" title="find UK Online Centres near you">UK Online Centre</a>.</p>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Typical Content</th>
          <th>Expires</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>govukgeo</td>
          <td>Details about your location (such as postcode, longitude/latitude and a 'friendly name' for where we think you are).</td>
          <td>4 months <!-- currently 1 month --></td>
        </tr>
      </tbody>
    </table>

    <hr/>

    <h3 id="usabilitycookies">Storing your usability settings</h3>
    <p>This site provides usability settings that you can switch on or off as you need. If you switch them on, we store the settings in a cookie, so that they apply to each page you look at.</p>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Typical Content</th>
          <th>Expires</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>govuk-accessibility</td>
          <td>Your choice of usability setting.</td>
          <td>4 months <!--currently 24 hours --></td>
        </tr>
      </tbody>
    </table>

    <hr/>

    <h3 id="feedbackcookies">Remembering your feedback settings</h3>
    <p>Most pages on GOV.UK show a floating box that asks you if the content was helpful or not. When you close this box (by either providing feedback or clicking the ‘close’ button), we store a cookie so that we know not to show the box again.</p>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Typical Content</th>
          <th>Expires</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>govukfeedback</td>
          <td>The word 'dismiss' if you have closed the feedback box.</td>
          <td>7 days</td>
        </tr>
      </tbody>
    </table>

    <hr/>

    <h3 id="tourcookies">Remembering if you’ve seen our introductory message</h3>

    <p>On your first visit to GOV.UK, you’ll be greeted by a pop-up message, welcoming you and providing background to this trial site. When you close the message, we’ll store a cookie so that your computer knows you’ve seen it and knows not to show it again (and again...).</p>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Typical Content</th>
          <th>Expires</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>govuktour</td>
          <td>The word 'dismiss' once you have closed the popup box.</td>
          <td>4 months <!-- currently 1 year --></td>
        </tr>
      </tbody>
    </table>

  </article>
</section>
