<% content_for :title, "Feeback | Help | GOV.UK" %>
<section id="content" role="main" class="group ancillary help">

	<header class="page-header group">
		<hgroup>
		  <h1>Help using GOV.UK</h1>
		</hgroup>
	</header>

  <%= render :partial => 'menu' %>
  <article role="article" class="group">
    <h1>Feedback</h1>
    <h2>Help us improve GOV.UK</h2>
    <p>This site is an experimental trial (‘beta’) replacement for DirectGov and the first step towards a single government website. As it’s a beta site, we know there will be things that need fixing and improving. So we’d love your feedback.</p>

    <p>The best way to suggest an idea, report a fault, or ask a question is via our page at <a href="http://getsatisfaction.com/govuk"><strong>GetSatisfaction</strong></a>. This is an external site, staffed by people from GOV.UK, who will be on hand to respond to all queries and suggestions.</p>

    <p>You can also use Twitter (tweet us <a href="http://twitter.com/govuk">@GovUK</a>) or email us at <a href="mailto:beta-feedback@digital.cabinet-office.gov.uk">beta-feedback@digital.cabinet-office.gov.uk</a></p>

    <p>Thanks in advance for all and any feedback.</p>
        
  </article>
</section>