<% content_for :title, "Feeback | Help | GOV.UK" %>
<section id="content" role="main" class="group ancillary help">

	<header class="page-header group">
		<hgroup>
		  <h1>Help using GOV.UK</h1>
		</hgroup>
	</header>

  <%= render :partial => 'menu' %>
  <article role="article" class="group">
    <h1>Feedback</h1>
    <h2>Help us improve GOV.UK</h2>
    <p>This is a beta, we need your feedback.</p>
    <p>There are <em>3</em> ways you can tell us what you think:</p>
    <ol>
    	<li>Suggest an idea, report a bug, or ask a question at <a href="http://getsatisfaction.com/govuk">GetSatisfaction</a></li>
    	<li>Tell us on Twitter by tweeting at <a href="http://twitter.com/gov.uk">@GovUK</a></li>
    	<li>Email <a href="mailto:beta-feedback@digital.cabinet-office.gov.uk">beta-feedback@digital.cabinet-office.gov.uk</a></li>
    </ol>
    <p>Thank you from the GOV.UK team.</p>
    
  </article>
</section>