<% render :partial => 'section_meta_tags' %>
<% content_for :title, "Help using GOV.UK | Help | GOV.UK" %>
<section id="content" role="main" class="group ancillary help">
  <div class="article-container">

    <header class="page-header group">
      <hgroup>
        <h1>Help using GOV.UK</h1>
      </hgroup>
    </header>

    <%= render :partial => 'menu' %>
    <article role="article" class="group">
      <div class="inner">
        <p>Please remember, this is a test ‘beta’ website. It may contain
        inaccuracies or be misleading. <a href="http://www.direct.gov.uk">Directgov</a>
        remains the official website for government information and
        services.</p>

        <p>If you’re stuck, try typing what you’re looking for in the search
        box in the top right hand corner of every page, then press return and
        you’ll be offered a list of content that we think is relevant to your
        search –
        <a href="/">or go back to the homepage where you can browse by sections</a>.</p>

        <p>Since this is a beta site it’s entirely possible that we don’t yet
        have the information you’re searching for. There’s more on
        <a href="http://digital.cabinetoffice.gov.uk/2012/01/31/beta/">our blog</a>
        about what we’ve covered so far and what’s still to come.</p>

        <p><a href="/help/accessibility">If you need specific help with
        accessibility or using the internet, there is a page here that may be
        useful</a>.</p>

        <p>And, if you have had trouble using the site we’d love
        <a href="/feedback">your feedback</a> on what you found difficult. This
        will help us make things better in the future.</p>
      </div>
    </article>
  
  </div>
</section>
