<% content_for :title, "Help using GOV.UK - Help Pages - GOV.UK" %>
<% content_for :extra_headers do %>
  <meta name="description"
        content="Find out about GOV.UK, including the use of cookies, accessibility of the site, the privacy policy and terms and conditions of use." />
<% end %>

<main id="content" role="main" class="group help-page">
  <header class="page-header group">
    <div class="inner">
      <%= render "govuk_publishing_components/components/title", title: "Help using GOV.UK" %>
    </div>
  </header>

  <div class="article-container group">
    <nav role="navigation" class="help-contents group">
      <div class="inner">
        <p>Find out about GOV.UK, including the use of cookies, accessibility of the site, the privacy policy and terms and conditions of use.</p>
        <ul>
          <li>
            <a href="/help/about-govuk">About GOV.UK</a>
            <p>Information about the website and the team that are building it</p>
          </li>
          <li>
            <a href="/help/accessibility">Accessibility</a>
            <p>Details of accessibility and help using the internet</p>
          </li>
          <li>
            <a href="/help/beta">Beta services on GOV.UK</a>
            <p>How new services are developed on GOV.UK and what it means for users</p>
          </li>
          <li>
            <a href="/help/browsers">Browsers</a>
            <p>Information about browsers and how to upgrade yours</p>
          </li>
          <li>
            <a href="/help/cookies">Cookies</a>
            <p>How cookies are used on GOV.UK and each cookie’s purpose</p>
          </li>
          <li>
            <a href="/help/update-email-notifications">GOV.UK email notifications</a>
            <p>How to create a GOV.UK email notification account and update your subscription preferences</p>
          </li>
          <li>
            <a href="/help/privacy-policy">Privacy policy</a>
            <p>GOV.UK’s approach to users’ privacy</p>
          </li>
          <li>
            <a href="/help/reuse-govuk-content">Reuse GOV.UK content</a>
            <p>How to reuse GOV.UK content through APIs and site scraping</p>
          </li>
          <li>
            <a href="/help/terms-conditions">Terms and conditions</a>
            <p>Information about the use of GOV.UK and liability</p>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</main>

<div class="related-container">
  <%= render 'govuk_publishing_components/components/contextual_sidebar', content_item: @content_item %>
</div>
