<% content_for :title, "Help using GOV.UK - Help Pages - GOV.UK" %>

<main id="content" role="main" class="group help-page">
  <header class="page-header group">
    <div>
      <h1>Help using GOV.UK</h1>
    </div>
  </header>

  <div class="article-container group">
    <nav role="navigation" class="help-contents group">
      <div class="inner">
        <p>Find out about GOV.UK, including the use of cookies, accessibility of the site, the privacy policy and terms and conditions of use.</p>
        <ul>
          <li>
            <a href="/help/about-govuk">About GOV.UK</a>
            <p>Information about the website and the team that are building it</p>
          </li>
          <li>
            <a href="/help/cookies">Cookies</a>
            <p>How cookies are used on GOV.UK and each cookie’s purpose</p>
          </li>
          <li>
            <a href="/help/browsers">Browsers</a>
            <p>Information about browsers and how to upgrade yours</p>
          </li>
          <li>
            <a href="/help/privacy-policy">Privacy policy</a>
            <p>GOV.UK’s approach to users’ privacy</p>
          </li>
          <li>
            <a href="/help/accessibility">Accessibility</a>
            <p>Details of accessibility and help using the internet</p>
          </li>
          <li>
            <a href="/help/terms-conditions">Terms and conditions</a>
            <p>Information about the use of GOV.UK and liability</p>
          </li>
          <li>
            <a href="/help/beta">Beta services on GOV.UK</a>
            <p>How new services are developed on GOV.UK and what it means for users</p>
          </li>
        </ul>
      </div>
    </nav>

    <div id="report-a-problem"></div>
  </div>

</main>

<!-- related -->
<div class="related-positioning">
  <div class="related-container">
    <div class="related" id="related">
      <div class="inner group">
        <h2 id="parent-section">Find a contact</h2>
        <nav role="navigation" aria-labelledby="parent-section">
          <ul>
            <li>
              <a href="/contact">Contacts</a>
            </li>
             <li>
              <a href="/contact/foi">Make a Freedom of Information Request</a>
            </li>
          </ul>
        </nav>
        <a class="return-to-top" href="#content">Return to top &uarr;</a>
      </div>
    </div>
  </div>
</div>
<!-- end related -->
