<% content_for :title, "Help using GOV.UK - Help Pages - GOV.UK" %>
<% content_for :extra_headers do %>
  <meta name="description"
        content="Find out about GOV.UK, including the use of cookies, accessibility of the site, the privacy policy and terms and conditions of use." />
<% end %>

<main id="content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/title", title: "Help using GOV.UK" %>
      <p class="govuk-body govuk-!-margin-bottom-8">Find out about GOV.UK, including the use of cookies, accessibility of the site, the privacy policy and terms and conditions of use.</p>
      <ul class="govuk-list">
        <li>
          <a href="/help/about-govuk" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">About GOV.UK</a>
          <p class="govuk-body govuk-!-margin-top-1">Information about the website and the team that are building it</p>
        </li>
        <li>
          <a href="/help/accessibility" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Accessibility</a>
          <p class="govuk-body govuk-!-margin-top-1">Details of accessibility and help using the internet</p>
        </li>
        <li>
          <a href="/help/beta" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Beta services on GOV.UK</a>
          <p class="govuk-body govuk-!-margin-top-1">How new services are developed on GOV.UK and what it means for users</p>
        </li>
        <li>
          <a href="/help/browsers" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Browsers</a>
          <p class="govuk-body govuk-!-margin-top-1">Information about browsers and how to upgrade yours</p>
        </li>
        <li>
          <a href="/help/cookies" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Cookies</a>
          <p class="govuk-body govuk-!-margin-top-1">How cookies are used on GOV.UK and each cookie’s purpose</p>
        </li>
        <li>
          <a href="/help/update-email-notifications" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">GOV.UK email notifications</a>
          <p class="govuk-body govuk-!-margin-top-1">How to create a GOV.UK email notification account and update your subscription preferences</p>
        </li>
        <li>
          <a href="/help/privacy-policy" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Privacy policy</a>
          <p class="govuk-body govuk-!-margin-top-1">GOV.UK’s approach to users’ privacy</p>
        </li>
        <li>
          <a href="/help/reuse-govuk-content" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Reuse GOV.UK content</a>
          <p class="govuk-body govuk-!-margin-top-1">How to reuse GOV.UK content through APIs and site scraping</p>
        </li>
        <li>
          <a href="/help/terms-conditions" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Terms and conditions</a>
          <p class="govuk-body govuk-!-margin-top-1">Information about the use of GOV.UK and liability</p>
        </li>
      </ul>
    </div>

    <div class="govuk-grid-column-one-third govuk-!-margin-top-8">
      <%= render 'govuk_publishing_components/components/contextual_sidebar', content_item: @content_item %>
    </div>
  </div>
</main>
