<% render :partial => 'section_meta_tags' %>
<% content_for :title, "Help using GOV.UK | Help | GOV.UK" %>
<section id="content" role="main" class="group ancillary help">

  <header class="page-header group">
    <hgroup>
      <h1>Help using GOV.UK</h1>
    </hgroup>
  </header>

  <%= render :partial => 'menu' %>
  <article role="article" class="group">
    <section>
      <div style="text-decoration: blink; font-size: 250%; background-color: #A0FF00; color: #FF000E; font-weight: bold; padding: 2em 1em">Not written yet :-(</div>
    </section>

  </article>

</section>