<% content_for :title, "Help using GOV.UK | Help | GOV.UK Beta (Test)" %>
<section id="content" role="main" class="group ancillary help">
  <div class="article-container">

    <header class="page-header group">
      <hgroup>
        <h1>Help using GOV.UK</h1>
      </hgroup>
    </header>

    <%= render :partial => 'menu', :locals => { :help_location => action_name } %>
    <article role="article" class="group">
      <div class="inner">
        <h2>GOV.UK privacy policy</h2>

        <p>The site is in trial mode at the moment, but we're still making sure we adhere to a sound privacy policy. We're only collecting information that will help us make the site work better for you; let us contact you if you've asked us to, let us give you accurate local information if you need it and give us a sense of how people are using the site, so we can keep improving it.</p>

        <h3>The information we collect</h3>

        <p>We collect the following information from people visiting the website:</p>

        <ul>
          <li>The questions, queries and feedback people leave, including your email address if you send us email</li>

          <li>Visitors' IP addresses, and details of which browser they used</li>

          <li>Information on how people use the site, using cookies and page tagging techniques</li>
        </ul>

        <p>If you send us feedback, a record of your message will be kept for up to two months before it's deleted.</p>

        <h4>Using GetSatisfaction.com</h4>

        <p>We are using a third-party website called <a href="http://getsatisfaction.com/govuk" rel="external" target="_blank"><strong>GetSatisfaction.com</strong></a> to collect, organise and respond to some of the feedback you leave about the beta. They have their own <a href="http://getsatisfaction.com/privacy">privacy policy</a>, which you may want to read.</p>

        <h4>More about cookies</h4>

        <p>GOV.UK uses small data files stored on your computer called 'cookies'. Most big websites do this. They help us improve the website experience for you. Find out what we use them for, and how to control their use on our <a href="/help/cookies">cookies page</a>.</p>

        <h3>How we use your information</h3>

        <p><strong>Any information we collect is used to:</strong></p>

        <ul>
          <li>improve the content and design of the website</li>
          <li>contact visitors (with their permission) to respond to feedback</li>
        </ul>

        <p>We’ll never share your information with other organisations for marketing, market research or commercial purposes, and we don’t pass on your personal information to any other website.</p>


        <h3>Connecting to other websites</h3>

        <p>This site contains links to and from websites of government departments and other organisations. We should make it clear that this privacy policy (the one you're reading) only applies to this GOV.UK site.</p>

        <h4>Following a link to another website</h4>

        <p>If you go to another website from this one, please read the privacy policy on that website if you want to know what it does with your information.</p>

        <h4>Following a link to GOV.UK from another website</h4>

        <p>When you come to GOV.UK from another website, we may get personal information about you from the other website. You should read the privacy policy of websites you visit that link you to GOV.UK if you want to know about this.</p>
        
      </div>
    </article>
    
  </div>
</section>
