<% content_for :title, "Terms and conditions | Help | GOV.UK" %>
<section id="content" role="main" class="group ancillary help">

	<header class="page-header group">
		<hgroup>
		  <h1>Help using GOV.UK</h1>
		</hgroup>
	</header>

  <%= render :partial => 'menu' %>
  <article role="article" class="group">
    <h1>Terms and conditions</h1>
  </article>
</section>