<% content_for :title, "Performance - GOV.UK" %>

<main id="content" role="main">
  <div class="govuk-grid-row">
    <%= render "govuk_publishing_components/components/title", title: "Performance" %>
    <p class="govuk-body govuk-!-margin-bottom-8">TBC</p>
  </div>
</main>
