<div class="application-notice help-notice">
  <p>You can't apply for this licence online. <a href="/find-local-council" title="contact your local council">Contact your local council</a>.</p>
</div>

