<div class="govuk-grid-column-one-third">
  <ul class="govuk-list">
    <li>
      <h3 class="home-services__heading"><a href="/browse/benefits" class="govuk-link">Benefits</a></h3>
      <p class="home-services__para">Includes eligibility, appeals, tax credits and Universal Credit</p>
    </li>
    <li>
      <h3 class="home-services__heading"><a href="/browse/births-deaths-marriages" class="govuk-link">Births, deaths, marriages and care</a></h3>
      <p class="home-services__para">Parenting, civil partnerships, divorce and Lasting Power of Attorney</p>
    </li>
    <li>
      <h3 class="home-services__heading"><a href="/browse/business" class="govuk-link">Business and self-employed</a></h3>
      <p class="home-services__para">Tools and guidance for businesses</p>
    </li>
    <li>
      <h3 class="home-services__heading"><a href="/browse/childcare-parenting" class="govuk-link">Childcare and parenting</a></h3>
      <p class="home-services__para">Includes giving birth, fostering, adopting, benefits for children, childcare and schools</p>
    </li>
    <li>
      <h3 class="home-services__heading"><a href="/browse/citizenship" class="govuk-link">Citizenship and living in the UK</a></h3>
      <p class="home-services__para">Voting, community participation, life in the UK, international projects</p>
    </li>
    <li>
      <h3 class="home-services__heading"><a href="/browse/justice" class="govuk-link">Crime, justice and the law</a></h3>
      <p class="home-services__para">Legal processes, courts and the police</p>
    </li>
  </ul>
</div>
<div class="govuk-grid-column-one-third">
  <ul class="govuk-list">
    <li>
      <h3 class="home-services__heading"><a href="/browse/disabilities" class="govuk-link">Disabled people</a></h3>
      <p class="home-services__para">Includes carers, your rights, benefits and the Equality Act</p>
    </li>
    <li>
      <h3 class="home-services__heading"><a href="/browse/driving" class="govuk-link">Driving and transport</a></h3>
      <p class="home-services__para">Includes vehicle tax, MOT and driving licences</p>
    </li>
    <li>
      <h3 class="home-services__heading"><a href="/browse/education" class="govuk-link">Education and learning</a></h3>
      <p class="home-services__para">Includes student loans, admissions and apprenticeships</p>
    </li>
    <li>
      <h3 class="home-services__heading"><a href="/browse/employing-people" class="govuk-link">Employing people</a></h3>
      <p class="home-services__para">Includes pay, contracts and hiring</p>
    </li>
    <li>
      <h3 class="home-services__heading"><a href="/browse/environment-countryside" class="govuk-link">Environment and countryside</a></h3>
      <p class="home-services__para">Includes flooding, recycling and wildlife</p>
    </li>
    <li>
      <h3 class="home-services__heading"><a href="/browse/housing-local-services" class="govuk-link">Housing and local services</a></h3>
      <p class="home-services__para">Owning or renting and council services</p>
    </li>
  </ul>
</div>
<div class="govuk-grid-column-one-third">
  <ul class="govuk-list">
    <li>
      <h3 class="home-services__heading"><a href="/browse/tax" class="govuk-link">Money and tax</a></h3>
      <p class="home-services__para">Includes debt and Self Assessment</p>
    </li>
    <li>
      <h3 class="home-services__heading"><a href="/browse/abroad" class="govuk-link">Passports, travel and living abroad</a></h3>
      <p class="home-services__para">Includes renewing passports and travel advice by country</p>
    </li>
    <li>
      <h3 class="home-services__heading"><a href="/browse/visas-immigration" class="govuk-link">Visas and immigration</a></h3>
      <p class="home-services__para">Visas, asylum and sponsorship</p>
    </li>
    <li>
      <h3 class="home-services__heading"><a href="/browse/working" class="govuk-link">Working, jobs and pensions</a></h3>
      <p class="home-services__para">Includes holidays and finding a job</p>
    </li>
  </ul>
</div>
