<% # THIS IS PART OF EDUCATION NAVIGATION A/B TEST - PLEASE KEEP IN SYNC WITH THE ORIGINAL categories.html.erb TEMPLATE %>

<div class="categories-lists">
  <ol class="categories-list">
    <li>
      <h3><a href="/browse/benefits">Benefits</a></h3>
      <p>Includes tax credits, eligibility and appeals</p>
    </li>
    <li>
      <h3><a href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></h3>
      <p>Parenting, civil partnerships, divorce and Lasting Power of Attorney</p>
    </li>
    <li>
      <h3><a href="/browse/business">Business and self-employed</a></h3>
      <p>Tools and guidance for businesses</p>
    </li>
    <% # Link to the Childcare and Parenting taxon rather than the browse page %>
    <li>
      <h3><a href="/childcare-parenting">Childcare and parenting</a></h3>
      <p>Includes giving birth, fostering, adopting, benefits for children, childcare and schools</p>
    </li>
    <li>
      <h3><a href="/browse/citizenship">Citizenship and living in the UK</a></h3>
      <p>Voting, community participation, life in the UK, international projects</p>
    </li>
    <li>
      <h3><a href="/browse/justice">Crime, justice and the law</a></h3>
      <p>Legal processes, courts and the police</p>
    </li>
  </ol>
  <ol class="categories-list">
    <li>
      <h3><a href="/browse/disabilities">Disabled people</a></h3>
      <p>Includes carers, your rights, benefits and the Equality Act</p>
    </li>
    <li>
      <h3><a href="/browse/driving">Driving and transport</a></h3>
      <p>Includes vehicle tax, MOT and driving licences</p>
    </li>
    <% # Link to the Education taxon rather than the browse page %>
    <li>
      <h3><a href="/education">Education, training and skills</a></h3>
      <p>Early years learning, schools and academies, further and higher education, skills and vocational training, student funding</p>
    </li>
    <li>
      <h3><a href="/browse/employing-people">Employing people</a></h3>
      <p>Includes pay, contracts and hiring</p>
    </li>
    <li>
      <h3><a href="/browse/environment-countryside">Environment and countryside</a></h3>
      <p>Includes flooding, recycling and wildlife</p>
    </li>
  </ol>
  <ol class="categories-list">
    <li>
      <h3><a href="/browse/housing-local-services">Housing and local services</a></h3>
      <p>Owning or renting and council services</p>
    </li>
    <li>
      <h3><a href="/browse/tax">Money and tax</a></h3>
      <p>Includes debt and Self Assessment</p>
    </li>
    <li>
      <h3><a href="/browse/abroad">Passports, travel and living abroad</a></h3>
      <p>Includes renewing passports and travel advice by country</p>
    </li>
    <li>
      <h3><a href="/browse/visas-immigration">Visas and immigration</a></h3>
      <p>Visas, asylum and sponsorship</p>
    </li>
    <li>
      <h3><a href="/browse/working">Working, jobs and pensions</a></h3>
      <p>Includes holidays and finding a job</p>
    </li>
  </ol>
</div>
