<section class="homepage-section homepage-section--cost-of-living">
	<div class="govuk-width-container">
		<img
			alt="Help for Households logo"
			class="homepage__cost-of-living-logo"
			height="51"
			loading="lazy"
			src="<%= image_url('homepage/help-for-households-logo.svg') %>"
			width="122"
		>
		<%= render "govuk_publishing_components/components/heading", {
			font_size: "m",
			inverse: true,
			margin_bottom: 1,
			text: "Support with the cost of living",
		} %>
		<p class="govuk-body govuk-!-margin-bottom-0">
			<a href="https://helpforhouseholds.campaign.gov.uk/" class="govuk-link govuk-link--inverse">See what support you could be eligible for</a>
		</p>
	</div>
</section>
