<%
  add_view_stylesheet("homepage_header")
%>

<header class="homepage-header">
  <div class="govuk-width-container">
    <div class="homepage-header__title-container">
      <h1 class="homepage-header__title">
        <span class="govuk-visually-hidden">-</span>
        <span class="homepage-header__intro homepage-inverse-header__intro--bold"><%= t("homepage.index.intro_html") %></span>
      </h1>
    </div>
    <div class="govuk-grid-row">
      <div class="homepage-header__search">
        <%= tag.form(
          action: "/search/all",
          method: "get",
          role: "search",
          data: {
            module: "ga4-search-tracker",
            ga4_search_type: "homepage",
            ga4_search_url: "/search/all",
            ga4_search_section: "Search",
            ga4_search_index_section: 1,
            ga4_search_index_section_count: 6,
          },
        ) do %>
          <%= render "govuk_publishing_components/components/search_with_autocomplete", {
              name: "keywords",
              button_text: t("homepage.index.search_button"),
              margin_bottom: 0,
              size: "large",
              label_size: "s",
              label_margin_bottom: 3,
              inline_label: false,
              label_text: t("homepage.index.search_label"),
              homepage: true,
              on_govuk_blue: true,
              disable_corrections: true,
              source_url: [Frontend.govuk_website_root, "/api/search/autocomplete.json"].join,
              source_key: "suggestions",
          } %>
        <% end %>
      </div>
    </div>
  </div>
</header>
