<%
  add_view_stylesheet("homepage_header")
%>

<header class="homepage-header">
  <div class="govuk-width-container">
    <div class="homepage-header__title-container">
      <h1 class="homepage-header__title">
        <span class="govuk-!-margin-bottom-2 govuk-!-display-block"><%=t('homepage.index.intro_title.short_text')%></span>
        <span class="govuk-visually-hidden">-</span>
        <span class="homepage-header__intro homepage-inverse-header__intro--bold"><%= t('homepage.index.intro_html') %></span>
      </h1>
    </div>
    <div class="govuk-grid-row">
      <div class="homepage-header__search">
        <%= tag.form(
          action: "/search/all",
          method: "get",
          role: "search",
          data: {
            module: "ga4-form-tracker",
            ga4_form_no_answer_undefined: "",
            ga4_form_include_text: "",
            ga4_form: {
              event_name: "search",
              type: "homepage",
              url: "/search/all",
              section: "Search",
              action: "search",
              index_section: 1,
              index_section_count: 6
            }
          }
        ) do %>
          <%= render "govuk_publishing_components/components/search", {
              name: "keywords",
              button_text: t("homepage.index.search_button"),
              margin_bottom: 0,
              size: "large",
              label_size: "s",
              label_margin_bottom: 3,
              inline_label: false,
              label_text: t("homepage.index.search_label"),
              homepage: true,
              on_govuk_blue: true,
              margin_top: 5,
              disable_corrections: true,
          } %>
        <% end %>
      </div>
    </div>
  </div>
</header>
