<header class="homepage-inverse-header">
  <div class="govuk-width-container">
    <h1 class="homepage-inverse-header__title">
      <%= t('homepage.index.intro_title.html') %>
    </h1>
    <p class="homepage-inverse-header__intro"><%= t('homepage.index.intro_html') %></p>
    <p class="homepage-inverse-header__intro homepage-inverse-header__intro--bold"><%= t('homepage.index.intro_simpler') %></p>
  </div>
</header>
