<%
  add_view_stylesheet("links_and_search")
%>

<section class="homepage-section homepage-section--links-and-search">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds homepage-search">
        <form
          action="/search"
          method="get"
          role="search"
          data-module="ga4-form-tracker"
          data-ga4-form-include-text
          data-ga4-form-no-answer-undefined
          data-ga4-form='{"event_name": "search", "type": "homepage", "url": "/search/all", "section": "Search", "action": "search"}'
        >
          <%= render "govuk_publishing_components/components/search", {
            button_text: t("homepage.index.search_button"),
            inline_label: false,
            label_margin_bottom: 4,
            label_size: "m",
            label_text: t("homepage.index.search_label"),
            margin_bottom: 0,
            wrap_label_in_a_heading: true,
            size: "large-mobile",
            data_attributes: {
              track_category: "homepageClicked",
              track_action: "searchSubmitted",
              track_label: "/search/all",
              track_dimension_index: 29,
              track_dimension: "Search GOV.UK",
              ga4_scroll_marker: true,
            },
          } %>
        </form>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full homepage-popular">
        <%= render "govuk_publishing_components/components/heading", {
          font_size: "m",
          margin_bottom: 4,
          text: t("homepage.index.popular_links_heading"),
          data_attributes: {
            ga4_scroll_marker: true,
          },
        } %>
        <ul class="homepage-most-viewed-list" data-module="gem-track-click ga4-link-tracker">
          <% t("homepage.index.popular_links").each_with_index do | item, index | %>
            <li class="homepage-most-viewed-list__item">
              <%= link_to(item[:text], item[:href], {
                class: "govuk-link homepage-most-viewed-list__item-link",
                data: {
                  track_category: "homepageClicked",
                  track_action: "popularLink",
                  track_label: item[:href],
                  track_value: 1,
                  track_dimension_index: 29,
                  track_dimension: item[:text],
                  ga4_link: {
                    'event_name': 'navigation',
                    'type': 'homepage',
                    'index_section': locals[:index_section],
                    'index_link': index + 1,
                    'index_section_count': locals[:index_section_count],
                    'index_total': t("homepage.index.popular_links").length,
                    'section': "#{t("homepage.index.popular_links_heading", locale: :en)}"
                  }
                }
              }) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
