<%
  add_view_stylesheet("popular_links")
%>

<section class="homepage-section homepage-section__popular-links">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= render "govuk_publishing_components/components/heading", {
          font_size: "l",
          margin_bottom: 6,
          text: t("homepage.index.popular_links_heading"),
          data_attributes: {
            ga4_scroll_marker: true,
          },
        } %>
        <ul class="homepage-most-viewed-list" data-module="gem-track-click ga4-link-tracker">
          <% t("homepage.index.popular_links").each_with_index do | item, index | %>
            <li class="homepage-most-viewed-list__item">
              <%= render "govuk_publishing_components/components/action_link", {
                text: item[:text],
                href: item[:href],
                light_icon: true,
                  data: {
                    track_category: "homepageClicked",
                    track_action: "popularLink",
                    track_label: item[:href],
                    track_value: 1,
                    track_dimension_index: 29,
                    track_dimension: item[:text],
                    ga4_link: {
                      'event_name': 'navigation',
                      'type': 'homepage',
                      'index_section': locals[:index_section],
                      'index_link': index + 1,
                      'index_section_count': locals[:index_section_count],
                      'index_total': t("homepage.index.popular_links").length,
                      'section': "#{t("homepage.index.popular_links_heading", locale: :en)}"
                    }
                  }
                } %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
