<div id="homepage-promo-banner">
  <div class="banner-message">
    <p>The government has published its plan for the UK leaving the EU.<br /><a href="https://www.planforbritain.gov.uk/news/prime-ministers-letter-donald-tusk-triggering-article-50/" rel="external nofollow">Read the Prime&nbsp;Minister's letter</a>.</p>
  </div>
</div>
