<div id="homepage-promo-banner">
  <div class="banner-message">
    <p><strong>Some Title</strong> On some date something has happened.
    <a href="https://something.gov.uk" rel="external nofollow">More&nbsp;information<span class="visuallyhidden"> about things</span></a></p>
  </div>
</div>
