<%#
  Before updating a promotion slot please read the documentation.
  See: https://docs.publishing.service.gov.uk/apps/frontend/update-homepage-promotion-slots.html
%>

<section class="homepage-section">
  <div class="homepage-section__heading">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("homepage.index.featured"),
      font_size: "m",
    } %>
  </div>

  <div class="govuk-grid-row">
    <% t("homepage.index.promotion_slots").each_with_index do | item, index | %>
      <div class="govuk-grid-column-one-third">
        <%= render "govuk_publishing_components/components/image_card", {
          href: item[:href],
          href_data_attributes: {
            track_category: "homepageClicked",
            track_action: "promoLink",
            track_label: item[:href],
            track_value: "1",
            track_dimension_index: "29",
            track_dimension: item[:title],
            ga4_link: {
              event_name: 'navigation',
              type: 'home page',
              index: {
                index_section: 5,
                index_link: index + 1,
                index_section_count: 6,
              },
              index_total: t("homepage.index.promotion_slots").length,
              section: t("homepage.index.featured", locale: :en)
            }
          },
          image_src: image_path(item[:image_src]),
          image_alt: "",
          image_loading: "lazy",
          heading_level: 3,
          heading_text: item[:title],
          description: item[:text],
          font_size: "m",
          sizes: "(max-width: 640px) 100vw, (max-width: 1020px) 33vw, 300px",
          srcset: item.fetch(:srcset, {}).stringify_keys.transform_keys { |k| image_path(k) }.presence
        } %>
      </div>
    <% end %>
  </div>
</section>
