<div id="homepage-promo-banner">
  <div class="banner-message">
    <p>The government has published its plan for the UK leaving the EU.<br /><a href="https://www.planforbritain.gov.uk" rel="external nofollow">Read about the Plan for Britain</a>.</p>
  </div>
</div>
