<%
  if defined? @individual_stylesheets
    @individual_stylesheets.add_component("metadata")
  end
%>
<p class="app-c-meta-data">
  <%= t 'common.last_updated' %>: <%= l last_updated, :format => '%e %B %Y' %>
</p>
