@import "govuk_publishing_components/individual_component_support";

.app-b-card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  min-width: 0;
  margin-bottom: govuk-spacing(6);
  color: govuk-colour("white");
  padding-top: govuk-spacing(4);
}

.app-b-card__textbox {
  padding-top: govuk-spacing(6);
  color: govuk-colour("white");

  @include govuk-media-query($until: tablet) {
    padding-top: govuk-spacing(4);
  }
}

.app-b-card__textbox-link {
  &::after {
    content: "";
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.app-b-card__figure {
  border-style: solid;
  border-width: 0 1px 1px;
  border-color: govuk-colour("mid-grey");
  margin: auto 0 0;
  background-color: govuk-colour("white");
}

.app-b-card__image {
  display: block;
  width: 100%;
  margin: 0;
}

@include govuk-media-query($media-type: print) {
  .app-b-card {
    background: none;
    padding: 0;

    * {
      color: $govuk-print-text-colour !important; // stylelint-disable-line declaration-no-important
    }
  }
}

.app-b-card--border-top {
  &:nth-of-type(1) {
    border-top: govuk-spacing(3) solid #e60067;
  }

  &:nth-of-type(2) {
    border-top: govuk-spacing(3) solid #73a312;
  }

  &:nth-of-type(3) {
    border-top: govuk-spacing(3) solid #b55e08;
  }
}
