@import "govuk_publishing_components/individual_component_support";

.app-b-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1;
  min-width: 0;
  margin-bottom: govuk-spacing(6);
  color: govuk-colour("white");
  background-color: govuk-colour("dark-blue");
}

.app-b-card__textbox {
  padding: govuk-spacing(6) govuk-spacing(7);
  color: govuk-colour("white");
}

.app-b-card__textbox-link {
  &::after {
    content: "";
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.app-b-card__chart {
  border: solid 1px $govuk-border-colour;
  background: govuk-colour("white");
}

.app-b-card__figure {
  border-style: solid;
  border-width: 0 1px 1px;
  border-color: govuk-colour("mid-grey");
  margin: auto 0 0;
  background-color: govuk-colour("white");
}

.app-b-card__image {
  display: block;
  width: 100%;
  margin: 0;
}

@include govuk-media-query($media-type: print) {
  .app-b-card {
    background: none;
    padding: 0;

    * {
      color: $govuk-print-text-colour !important; // stylelint-disable-line declaration-no-important
    }
  }
}
