@import "govuk_publishing_components/individual_component_support";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1;
  min-width: 0;

  @include govuk-media-query($until: desktop) {
    margin-bottom: govuk-spacing(6);
  }
}

.card__textbox {
  padding: govuk-spacing(4) 0;
}

.card__figure {
  border-style: solid;
  border-width: 0 1px 1px;
  border-color: govuk-colour("mid-grey");
  margin: auto 0 0;
  background-color: govuk-colour("white");
}

.card__image {
  display: block;
  width: 100%;
  margin: 0;
}

@include govuk-media-query($media-type: print) {
  .card {
    background: none;
    padding: 0;

    * {
      color: $govuk-print-text-colour !important; // stylelint-disable-line declaration-no-important
    }
  }
}
