@import "govuk_publishing_components/individual_component_support";

.featured {
  display: flex;

  @include govuk-media-query($until: desktop) {
    flex-direction: column;
  }
}

.featured__child--content {
  width: 66.666%;

  @include govuk-media-query($until: desktop) {
    width: 100%;
  }
}

.featured__child--content-with-image {
  flex: 1 1 33.333%;
  padding: 0 govuk-spacing(6) govuk-spacing(6) 0;
  box-sizing: border-box;

  @include govuk-media-query($until: desktop) {
    padding-bottom: 0;
  }
}

.featured__child--image {
  flex: 1 1 66.666%;
  display: flex;
  overflow: hidden;
  justify-content: center;

  @include govuk-media-query($until: desktop) {
    display: block;
  }
}

.featured__image {
  display: block;
  height: 100%;

  @include govuk-media-query($until: desktop) {
    max-width: 100%;
  }
}
