@import "govuk_publishing_components/individual_component_support";

$mobile-height: 427px;
$tablet-height: 512px;
$desktop-height: 610px;
$large-desktop-height: 610px;

.app-b-hero {
  position: relative;
}

.app-b-hero__imagewrapper {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  min-height: $desktop-height;

  @media (min-width: 1281px) {
    min-height: $large-desktop-height;
  }

  @include govuk-media-query($until: desktop) {
    min-height: $tablet-height;
  }

  @include govuk-media-query($until: tablet) {
    min-height: $mobile-height;
  }
}

.app-b-hero__image {
  display: block;

  @media (min-width: 1281px) {
    position: absolute;
    top: 0;
    left: 50%;
    min-width: 100%;
    transform: translate(-50%);
  }
}

.app-b-hero__textbox {
  position: relative;
  padding: govuk-spacing(6);
  margin-top: -(200px);
  background: govuk-colour("light-grey");

  @include govuk-media-query($until: tablet) {
    padding: govuk-spacing(4);
    margin-top: -(govuk-spacing(6));
  }
}

.app-b-hero--mid-page {
  overflow: hidden;
  min-height: $desktop-height;

  @include govuk-media-query($until: desktop) {
    display: flex;
    flex-direction: column-reverse;
    min-height: $tablet-height;
  }

  @include govuk-media-query($until: tablet) {
    min-height: $mobile-height;
  }

  .app-b-hero__image {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }

  .app-b-hero__textbox-wrapper {
    @include govuk-media-query($from: desktop) {
      box-sizing: border-box;
      align-items: center;
      display: flex;
      min-height: $desktop-height;
      margin-top: -$desktop-height;
      padding: govuk-spacing(6) 0;
    }
  }

  .app-b-hero__textbox {
    margin-top: 0;

    @include govuk-media-query($until: desktop) {
      margin-bottom: -(govuk-spacing(8));
    }

    @include govuk-media-query($until: tablet) {
      margin-bottom: -(govuk-spacing(6));
    }
  }
}
