@import "govuk_publishing_components/individual_component_support";

$desktop-height: 400px;
$large-desktop-height: 500px;

.app-b-hero__imagewrapper {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;

  @include govuk-media-query($from: desktop) {
    height: $desktop-height;
  }

  @media (min-width: 1281px) {
    height: $large-desktop-height;
  }
}

.app-b-hero {
  position: relative;
}

.app-b-hero__image {
  @include govuk-media-query($until: desktop) {
    aspect-ratio: 4/3 auto;
    width: 100%;
  }
}

.app-b-hero__textbox {
  position: relative;
  min-height: 170px;
  padding: govuk-spacing(6);
  margin-top: -(170px);
  background: govuk-colour("light-grey");

  @include govuk-media-query($until: tablet) {
    min-height: 0;
    padding: govuk-spacing(4);
    margin-top: -(govuk-spacing(6));
  }
}

// NOTE: This rule is needed because there's no way to pass a "font_size = large"
//       parameter to the govspeak component. It's a breach of isolation to be modifying
//       its styles from this level, but the landing page designs call for larger text in
//       hero content, and this seems to be the least bad option to achieve that.
//
//       If the govspeak component supports a font_size = large parameter in future, we
//       should use that and remove this rule.
.app-b-hero--default .app-b-hero__textbox .gem-c-govspeak {
  ol, ul, p {
    @include govuk-font-size(24);
  }

  h2 {
    @include govuk-font-size($size: 36);
  }

  h3 {
    @include govuk-font-size($size: 27);
  }
}

.app-b-hero--middle_left {
  overflow: hidden;

  @include govuk-media-query($until: desktop) {
    display: flex;
    flex-direction: column-reverse;
  }

  .app-b-hero__textbox-wrapper {
    @include govuk-media-query($from: desktop) {
      box-sizing: border-box;
      align-items: center;
      display: flex;
      min-height: $desktop-height;
      margin-top: -$desktop-height;
    }
  }

  .app-b-hero__textbox {
    margin-top: 0;

    @include govuk-media-query($until: desktop) {
      margin-bottom: -(govuk-spacing(8));
    }

    @include govuk-media-query($until: tablet) {
      margin-bottom: -(govuk-spacing(6));
    }
  }
}
