@import "govuk_publishing_components/individual_component_support";

$desktop-height: 400px;
$large-desktop-height: 400px;

.app-b-hero__imagewrapper {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;

  @include govuk-media-query($from: desktop) {
    height: $desktop-height;
  }

  @media (min-width: 1281px) {
    height: $large-desktop-height;
  }
}

.app-b-hero {
  position: relative;
}

.app-b-hero__image {
  @include govuk-media-query($until: desktop) {
    aspect-ratio: 4/3 auto;
    width: 100%;
  }

  @media (min-width: 1281px) {
    position: absolute;
    top: 0;
    left: 50%;
    min-width: 100%;
    transform: translate(-50%);
  }
}

.app-b-hero__textbox {
  position: relative;
  min-height: 170px;
  padding: govuk-spacing(6);
  margin-top: -(170px);
  background: govuk-colour("light-grey");

  @include govuk-media-query($until: tablet) {
    min-height: 0;
    padding: govuk-spacing(4);
    margin-top: -(govuk-spacing(6));
  }
}

.app-b-hero--middle_left {
  overflow: hidden;

  @include govuk-media-query($until: desktop) {
    display: flex;
    flex-direction: column-reverse;
  }

  .app-b-hero__textbox-wrapper {
    @include govuk-media-query($from: desktop) {
      box-sizing: border-box;
      align-items: center;
      display: flex;
      min-height: $desktop-height;
      margin-top: -$desktop-height;
    }
  }

  .app-b-hero__textbox {
    margin-top: 0;

    @include govuk-media-query($until: desktop) {
      margin-bottom: -(govuk-spacing(8));
    }

    @include govuk-media-query($until: tablet) {
      margin-bottom: -(govuk-spacing(6));
    }
  }
}
