@import "govuk_publishing_components/individual_component_support";

.app-b-main-nav {
  border-bottom: 2px solid $govuk-border-colour;
}

.app-b-main-nav__container {
  padding-bottom: govuk-spacing(1);

  @include govuk-media-query($from: "tablet") {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  @include govuk-media-query($until: "tablet") {
    padding-top: govuk-spacing(4);
    padding-bottom: govuk-spacing(4);
  }
}

.app-b-main-nav__nav--hidden {
  @include govuk-media-query($until: "tablet") {
    display: none;
  }
}

.app-b-main-nav__ul {
  padding-left: 0;
  padding-right: 0;
  margin: 0;

  .app-b-main-nav__listitem:last-of-type {
    margin-right: 0;
  }
}

.app-b-main-nav__button {
  display: none;
  background: none;
  border: none;
  padding: 0;
  position: relative;
  margin-top: govuk-spacing(3);
  cursor: pointer;
  color: govuk-colour("blue");
  @include govuk-font(19, $weight: bold);

  @include govuk-media-query($until: "tablet") {
    display: block;
  }
}

.app-b-main-nav__button--no-js {
  display: none;
}

.app-b-main-nav__icon::after {
  position: absolute;
  font-size: 15px;
  top: 4px;
  width: 20px;
}

.app-b-main-nav__button[aria-expanded="true"] .app-b-main-nav__icon::after {
  content: "▲"
}

.app-b-main-nav__button[aria-expanded="false"] .app-b-main-nav__icon::after {
  content: "▼"
}

.app-b-main-nav__heading-p {
  display: inline-block;
  margin-bottom: 0;
  margin-right: govuk-spacing(7);
}

.app-b-main-nav__heading-link {
  &:link,
  &:visited {
    color: govuk-colour("black");
  }
}

.app-b-main-nav__childlist {
  display: none;
  padding-left: govuk-spacing(2);
  @include govuk-media-query($until: "tablet") {
    display: block;
  }
}

.app-b-main-nav__listitem {
  position: relative;
  list-style: none;
  display: inline-block;
  margin-right: govuk-spacing(7);
  margin-top: govuk-spacing(3);
  margin-bottom: govuk-spacing(3);
  @include govuk-font(19, $weight: normal);

  @include govuk-media-query($until: "tablet") {
    display: block;
    margin-top: govuk-spacing(4);
    margin-left: govuk-spacing(2);
  }
}

.app-b-main-nav__listitem:last-of-type {
  @include govuk-media-query($until: "tablet") {
    margin-bottom: 0;
  }
}

.app-b-main-nav__link {
  @include govuk-media-query($from: "tablet") {
    padding-bottom: govuk-spacing(3);
  }
}

.app-b-main-nav__link:hover {
  text-decoration: none;
}

.app-b-main-nav__link--active,
.app-b-main-nav__link:hover,
.app-b-main-nav__link:focus  {
  .app-b-main-nav__mobile-border {
    position: absolute;
    height: 100%;
    width: 15px;

    @include govuk-media-query($until: "tablet") {
      border-left: 6px solid govuk-colour("blue");
      left: -25px;
    }
  }
}

.app-b-main-nav__childlist .app-b-main-nav__link--active,
.app-b-main-nav__childlist .app-b-main-nav__link:hover,
.app-b-main-nav__childlist .app-b-main-nav__link:focus  {
  .app-b-main-nav__mobile-border {
    @include govuk-media-query($until: "tablet") {
      left: -45px;
    }
  }
}


.app-b-main-nav__link--active,
.app-b-main-nav__link:hover {
  @include govuk-media-query($from: "tablet") {
    border-bottom: 6px solid govuk-colour("blue");
  }
}

.app-b-main-nav__link--active:hover,
.app-b-main-nav__link:hover {
  @include govuk-media-query($from: "tablet") {
    border-color: govuk-colour("dark-blue");
  }
}
