@import "govuk_publishing_components/individual_component_support";
@import "leaflet/dist/leaflet";

.map {
  display: none;
}

.js-enabled {
  .map {
    display: block;
  }
}

.map__canvas {
  padding: govuk-spacing(6);
  margin-bottom: govuk-spacing(1);
  border: solid 1px $govuk-border-colour;
}

.map__canvas--enabled {
  padding: 0;
  height: 800px;
  background-color: #d7e0e5;

  @include govuk-media-query($until: tablet) {
    max-height: 80vh;
  }
}

.map__key {
  margin: 0;
  padding: 0;
}

.map__key-item {
  position: relative;
  padding-left: govuk-spacing(6);
  margin: 0 0 govuk-spacing(4);
}

.map__key-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.map__key-item--cdc::before {
  background-image: url("landing_page/map/CDC-symbol-default.svg");
}

.map__key-item--sh::before {
  background-image: url("landing_page/map/SH-symbol-default.svg");
}

.map__key-item--ics::before {
  background-image: url("landing_page/map/IC-symbol-key.svg");
}

.map-popup__heading {
  @include govuk-media-query($until: tablet) {
    padding-right: govuk-spacing(4);
  }
}

// leaflet plugin default style overrides

.leaflet-container img.leaflet-tile { // stylelint-disable-line selector-no-qualifying-type
  // See: https://bugs.chromium.org/p/chromium/issues/detail?id=600120
  mix-blend-mode: normal;
  width: 256px !important; // stylelint-disable-line declaration-no-important
  height: 256px !important; // stylelint-disable-line declaration-no-important
}

.leaflet-popup-content {
  @include govuk-media-query($until: tablet) {
    margin: govuk-spacing(2);
  }

  p {
    margin: 0 0 govuk-spacing(1);
  }
}

.leaflet-container a.leaflet-popup-close-button { // stylelint-disable-line selector-no-qualifying-type
  width: 35px;
  height: 35px;
  font: 24px/35px Tahoma, Verdana, sans-serif;
  font-weight: bold;
}
