@import "govuk_publishing_components/individual_component_support";

.quote__svg {
  margin-bottom: govuk-spacing(4);
}

.quote__blockquote {
  margin: 0;
}

.quote__text {
  margin: 0 0 govuk-spacing(8);
  @include govuk-font(19, $weight: "regular", $tabular: false, $line-height: false);
}

.quote__cite {
  font-style: normal;
  @include govuk-font(19, $weight: "regular", $tabular: false, $line-height: false);
}
