{
  "all": true,
  "branches": 90,
  "lines": 95,
  "check-coverage": true,
  "compact": false,
  "exclude": [
    "public/assets/frontend/component_guide",
    "public/assets/frontend/govuk_publishing_components*",
    "public/assets/frontend/manifest-*",
    "public/assets/frontend/application-*",
    "public/assets/frontend/static-error-pages-*",
    "public/assets/frontend/test-dependencies-*",
    "public/assets/frontend/dependencies-*",
    "public/assets/frontend/views/landing_page/map/leaflet-*",
    "public/assets/frontend/views/landing_page/map/data/cdc.geojson-*",
    "public/assets/frontend/views/landing_page/map/data/hub.geojson-*",
    "public/assets/frontend/views/landing_page/map/data/icb.geojson-*",
    "public/assets/frontend/views/landing_page/map/data/lookup-*"
  ],
  "report-dir": "coverage/javascript",
  "reporter": [
    "text"
  ],
  "source-map": false,
  "temp-dir": "tmp/nyc_output"
}
