{
  "all": true,
  "branches": 90,
  "lines": 95,
  "check-coverage": true,
  "compact": false,
  "exclude": [
    "public/assets/frontend/component_guide",
    "public/assets/frontend/govuk_publishing_components*",
    "public/assets/frontend/manifest-*",
    "public/assets/frontend/application-*",
    "public/assets/frontend/test-dependencies-*",
    "public/assets/frontend/dependencies-*"
  ],
  "report-dir": "coverage/javascript",
  "reporter": [
    "text"
  ],
  "source-map": false
}
