<% content_for :title do %>Find your local council - GOV.UK<% end %>
<% content_for :extra_headers do %>
  <meta name="description"
        content="Find your local authority in England, Wales, Scotland and Northern Ireland" />
<% end %>

<main id="content" role="main">
  <header class="page-header">
    <%= render "govuk_publishing_components/components/title", title: "Find your local council" %>
  </header>
  <%= yield %>
</main>

<div class="related-container">
  <%= render 'govuk_publishing_components/components/contextual_sidebar', content_item: @content_item %>
</div>
