<% content_for :title do %>Find your local council - GOV.UK<% end %>
<% content_for :extra_headers do %>
  <meta name="description"
        content="Find your local authority in England, Wales, Scotland and Northern Ireland"/>
<% end %>

<main id="content" role="main" class="govuk-grid-column-two-thirds">
  <%= render "govuk_publishing_components/components/title", title: t('formats.local_transaction.find_council') %>
  <%= yield %>
</main>

<div class="govuk-grid-column-one-third govuk-!-margin-top-7">
  <%= render 'govuk_publishing_components/components/contextual_sidebar', content_item: content_item_hash %>
</div>
