<main id="content" role="main">
  <header class="page-header">
    <div>
      <h1>
        Find your local council
      </h1>
    </div>
  </header>
  <div class="article-container group">
    <%= render :partial => 'beta_label' %>

    <div class="content-block">
      <div class="inner">
        <%= yield %>
      </div>
    </div>
  </div>
</main>
