<%= render layout: 'base_page' do %>
  <h2>Your postcode is in:</h2>

  <div class="<%= @authority['tier'] %>-result group">
    <p><%= @authority["name"] %></p>

    <p>
      <% if @authority["homepage_url"].blank? %>
        We don't have a link for their website.
      <% else %>
        Website: <%= link_to extract_host(@authority["homepage_url"]), @authority["homepage_url"] %>
      <% end %>
    </p>
  </div>
  <hr class="separator">

  <div class="search-again">
    <a href="/find-your-local-council">Back</a>
  </div>
<% end %>
