<div class="nav-wrapper">
  <div class="gem-c-layout-for-public__blue-bar govuk-width-container"></div>
</div>
<div class="landing-page__header">
  <div class="govuk-width-container">
    <%= render "govuk_publishing_components/components/breadcrumbs", {
      collapse_on_mobile: true,
      breadcrumbs: [
        {
          title: "Home",
          url: "/"
        },
        {
          title: "Organisations",
          url: "/"
        },
        {
          title: "Prime Minister's Office 10 Downing Street",
          url: "/"
        },
      ],
      inverse: true
    } %>
  </div>
</div>
<nav>
  <div class="govuk-width-container">
    <ul class="landing-page__nav">
      <li class="landing-page__nav-listitem landing-page__nav-listitem--active">
        Programmes for Government
      </li>
      <li class="landing-page__nav-listitem">
        <a href="#" class="landing-page__nav-link govuk-link govuk-link--no-underline">Priorities for change</a>
      </li>
      <li class="landing-page__nav-listitem">
        <a href="#" class="landing-page__nav-link govuk-link govuk-link--no-underline">Our progress</a>
      </li>
    </ul>
  </div>
</nav>
