<div class="nav-wrapper">
  <div class="gem-c-layout-for-public__blue-bar govuk-width-container"></div>
</div>

<% content = capture do %>
  <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Pulvinar tempor rutrum mattis per augue fusce, semper praesent class. Congue habitasse maecenas a pretium massa mollis rhoncus odio. Cursus tempus massa eleifend rutrum risus porta habitasse id et. Magna faucibus dolor ornare accumsan; risus neque amet. Velit nostra proin ridiculus luctus consequat lobortis ante. Euismod pretium eleifend varius pharetra scelerisque.</p>
<% end %>

<%= render partial: 'hero',
  locals: {
    image: "prototype/hero_1.jpg",
    alt_text: "A photograph with content",
    text_heading: "This is a heading",
    text_content: content,
  }
%>

<%= render partial: 'hero',
  locals: {
    video: "https://www.youtube.com/watch?v=etUkEK1nsn8",
    text_heading: "Example heading",
    text_content: content,
  }
%>
