<div class="no-results">
  <h2>
    <% if context.present? %>
      No results in <%= context %> for &ldquo;<%= @search_term %>&rdquo;
    <% else %>
      No results for &ldquo;<%= @search_term %>&rdquo;
    <% end %>
  </h2>

  <p>Please try</p>

  <ul>
    <li>Searching again using different words</li>
    <li>Browsing from the <a href="/">GOV.UK home page</a></li>
    <li>Visiting the <a href="/help">help pages</a> if you need more assistance</li>
  </ul>

  <h3>Older content</h3>
  <p>
    Not all department publications from before May 2010 were migrated to
    GOV.UK. To find publications from before May 2010 try searching
    <a href="http://webarchive.nationalarchives.gov.uk/adv_search/?<%= { query: @search_term }.to_param %>">The National Archives</a>.
  </p>
</div>
