<li class='descoped-results'>
  <div class='descope-message'>
    <a href='/search?q={{query}}'>Display {{unscoped_result_count}} from all of GOV.UK</a>
  </div>
  <ol>
    {{#results}}
      {{>search/_result}}
    {{/results}}
  </ol>
</li>

