<% content_for :body_classes do %>search<% end %>


<main id="content" role="main" class="group ancillary search no-results">
  <%= render partial: 'form' %>

  <div class="search-container group">

  <%= render partial: "no_results", locals: { context: nil } %>

  </div>
</main>
<% content_for :title, "#{@search_term} - Search - GOV.UK" %>
