<section id="content" role="main" class="group ancillary search no-results">
  <%= render partial: 'form' %>

  <div class="search-container group">

    <div class="results group">
      <div>
        <article>

          <h1>Sorry, but there are no results for '<%= @search_term %>'</h1>

          <p>Please try</p>

            <ul>
              <li>Searching again using different words</li>
              <li>Browsing from the <a href="/">GOV.UK home page</a></li>
              <li>Visiting the <a href="/support"> support pages</a> if you need more assistance</li>
            </ul>

        </article>
      </div>
    </div>

  </div>
</section>
<% content_for :title, "#{@search_term} - Search - GOV.UK" %>
