<section id="content" role="main" class="group ancillary search no-results">
  <%= render partial: 'form' %>

  <div class="search-container group">

    <div class="no-results">
      <h2>0 results for &ldquo;<%= @search_term %>&rdquo;</h2>

        <p>Please try</p>

          <ul>
            <li>Searching again using different words</li>
            <li>Browsing from the <a href="/">GOV.UK home page</a></li>
            <li>Visiting the <a href="/support"> support pages</a> if you need more assistance</li>
          </ul>
    </div>

  </div>
</section>
<% content_for :title, "#{@search_term} - Search - GOV.UK" %>
