<section id="content" role="main" class="group ancillary search no-results">

  <div class="search-container group">
    <%= render partial: 'form' %>

    <div class="results group">
      <div class="results-wrapper">
        <article>
          <p>This might happen from time to time, since this is an incomplete trial (‘beta’) site. You can help us improve GOV.UK by <a href="/feedback" id="gs-feedback-banner">telling us what you were doing</a>.</p>

          <p>Please try another search in the search box at the top of the page.</p>

          <p>Remember, <a href="http://www.direct.gov.uk/en/index.htm">Directgov</a> and <a href="http://businesslink.gov.uk">Businesslink</a> remain the official sites for government services and information.</p>
        </article>
      </div>
    </div>

  </div>
</section>
<% content_for :title, "#{@search_term} | Search | GOV.UK Beta (Test)" %>