<% content_for :body_classes do %>search<% end %>


<main id="content" role="main" class="group ancillary search no-results-term">
  <%= render partial: 'form' %>
</main>

<% content_for :title, "Search - GOV.UK" %>
