<% content_for :body_classes do %>search<% end %>


<section id="content" role="main" class="group ancillary search search-launcher">
  <%= render partial: 'form' %>
</section>

<% content_for :title, "Search - GOV.UK" %>
