<section id="content" role="main" class="group ancillary search">
  <div class="search-container group">
    <%= render partial: 'form' %>

    <div class="results group">
      <div class="results-wrapper">
        <article>
          
        </article>
      </div>
    </div>
  </div>
</section>

<% content_for :title, "Search | GOV.UK Beta (Test)" %>