<section id="content" role="main" class="group ancillary search">
  <%= render partial: 'form' %>

  <div class="search-container group">

    <div class="results group">
      <div class="results-wrapper">
        <article>

        </article>
      </div>
    </div>
  </div>
</section>

<% content_for :title, "Search - GOV.UK" %>
