<%
  ga4_attributes = {
    event_name: "form_complete",
    type: content_item_hash["document_type"].gsub("_", " "),
    text: "You cannot apply for this licence online",
    action: "complete",
    tool_name: publication.title,
  }.to_json
%>
<div
  data-module="ga4-auto-tracker"
  data-ga4-auto='<%= ga4_attributes %>'>
  <%= render "govuk_publishing_components/components/warning_text", {
    text: sanitize("You cannot apply for this licence online. #{link_to('Contact your local council', '/find-local-council', class: "govuk-link")}.")
  } %>
</div>