.accounts-panel {
  padding: govuk-spacing(6);
  border: solid 1px govuk-colour("mid-grey");
  border-top: solid 3px $govuk-brand-colour;
  margin-bottom: govuk-spacing(6);
}

.accounts-your-account__email {
  margin-bottom: govuk-spacing(7);
}
