main.campaign {

  &#content {
    padding-bottom: 3em;
  }

  #landing {
    margin: 0;

    @include ie-lte(7) {
      width: 960px;
    }

    h1,
    h2 {
      color: $text-colour;
    }

    h1 {
      @include bold-36;
      font-weight: 600;
      margin: 0.5em 0 0;
      text-align: center;

      @include media($size: desktop, $ignore-for-ie: true) {
        font-size: 80px; // this is to improve design and layout as advised by Mark Hurrell and Guy Moorehouse
        margin-bottom: $gutter*2;
      }

      @include ie-lte(7) {
        margin-left: 0.666em;
        margin-bottom: 1em;
        width: auto;
      }

      @include ie(6) {
        display: inline;
        width: 700px;
      }
    }
  }

  .organisation {
    margin: $gutter 0;
    padding: 0;

    @include media(tablet) {
      margin: 0 0 $gutter $gutter;
      float: right;
    }

    @include ie-lte(7) {
      margin-top: 1em;
      margin-right: 2em;
    }

    .custom-logo img {
      max-width: 170px;
      @include media(desktop){
        max-width: 100%;
      }
    }

    a.organisation-logo {
      span {
        top: 0;
        position: static;
      }
    }
  }

  .campaign-image {
    position: relative;
    clear: both;
    width: $full-width;

    img {
      max-width: $full-width;
    }
  }

  .campaign {
    clear: both;

    @include media($size: desktop) {
      max-width: $three-quarters;
      position: relative;
      margin: 0 auto;
    }

    @include ie(6) {
      width: 662px;
    }

    @include ie(8) {
      margin: 0;
    }

    @include ie-lte(8) {
      padding-right: 0;
    }

    @include ie-lte(7) {
      margin: 0 2em;
    }

    h2:first-child,
    p:first-child {
      margin-top: 0;
    }
  }

  .organisation {
    .eugo {
      display: block;
      text-indent: -9999px;
      background-image: image-url('campaign/uk-welcomes/eugo-logo.png');
      width: 137px;
      height: 85px;
    }
  }

  .organisation-logo-dbs {
    background: image-url('campaign/disclosure/ho_crest_18px.png') no-repeat 8px 0;
    border-left: 2px solid #000;
    span {
      padding-top: 30px;
    }
    @include device-pixel-ratio() {
      background: image-url('campaign/disclosure/ho_crest_18px_x2.png') no-repeat 8px 0;
    }
  }
}
