@import "govuk_publishing_components/govuk_frontend_support";

.cookie-settings__form-wrapper {
  display: none;

  .js-enabled & {
    display: block;
  }
}

.cookie-settings__no-js {
  .js-enabled & {
    display: none;
  }
}

.cookie-settings__confirmation {
  @include govuk-font(19);
  display: none;
  margin-top: govuk-spacing(3);
}

.cookie-settings__gov-services {
  margin-top: govuk-spacing(8);
}
