@import "govuk_publishing_components/base";

.cookie-settings__form-wrapper {
  display: none;
  margin-bottom: govuk-spacing(8);

  .govuk-frontend-supported & {
    display: block;
  }
}

.cookie-settings__no-js {
  .govuk-frontend-supported & {
    display: none;
  }
}

.cookie-settings__confirmation {
  display: none;
}
