@import "govuk_publishing_components/individual_component_support";

.csv-preview__updated {
  color: govuk-colour("white");

  strong {
    font-weight: bold;
  }
}

.csv-preview__download-link {
  color: govuk-colour("white");

  &:focus {
    color: govuk-colour("black");
  }
}

.csv-preview__outer {
  border: govuk-spacing(1) solid govuk-colour("light-grey");
  margin-bottom: govuk-spacing(6);
}

.csv-preview__inner {
  border: 1px solid govuk-colour("mid-grey");
  padding: govuk-spacing(2) govuk-spacing(4) 0;
  overflow: auto;

  &:focus {
    border: 3px solid govuk-colour("black");
    outline: 3px solid govuk-colour("yellow");
  }
}

.organisation-logos {
  list-style-type: none;
  padding: 0;
}

.organisation-logos__logo {
  display: inline-block;
  vertical-align: top;
  padding-bottom: govuk-spacing(3);
  margin-right: govuk-spacing(6);

  & img {
    @include govuk-media-query($until: desktop) {
      width: 140px;
    }

    @include govuk-media-query($from: desktop) {
      max-width: 240px;
    }
  }
}
