@import "govuk_publishing_components/individual_component_support";

.event {
  padding-top: 0;
}

.details-wrapper {
  background: white;
}

.hero {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.hero__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  margin: 0 auto;
  max-width: 1024px;
  background: $govuk-brand-colour;
  background: #d2e2f1;

  @include govuk-media-query($until: tablet) {
    display: block;
  }
}

.hero__detail {
  position: relative;
  top: auto;
  left: auto;
  transform: none;
  max-width: 450px;
  padding: 0 30px;
  flex-shrink: 1;

  @include govuk-media-query($until: tablet) {
    max-width: none;
    padding: 0 15px;
  }
}

.hero__image-wrapper {
  position: relative;
  flex-shrink: 0;
  width: 50%;
  overflow: hidden;

  @include govuk-media-query($until: tablet) {
    width: auto;
  }
}

.figure {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.figure__image {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);

  @include govuk-media-query($until: tablet) {
    position: relative;
    height: auto;
    max-height: 40vh;
    display: block;
  }
}
