@import "govuk_publishing_components/individual_component_support";

.flexible-section {
  margin-bottom: govuk-spacing(6);
}

.impact-header {
  box-sizing: border-box;
  max-width: 1024px;
  margin: 0 auto;
  background: #d2e2f1;

  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    color: white;
    font-weight: bold;
  }

  @include govuk-media-query($until: tablet) {
    &:before {
      content: "mobile";
    }
  }
  @include govuk-media-query($from: tablet, $until: desktop) {
    &:before {
      content: "tablet";
    }
  }
  @include govuk-media-query($from: desktop) {
    &:before {
      content: "desktop";
    }
  }
}

.impact-header--grid {
  padding: 0 15px;
  padding-bottom: 30px;

  @include govuk-media-query($from: tablet) {
    padding: 0 30px;
  }
}

.impact-header__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  gap: 30px;

  @include govuk-media-query($until: tablet) {
    flex-direction: column;
    gap: 0;
  }
}

.impact-header__detail {
  position: relative;
  box-sizing: border-box;
  padding-left: 30px;
  max-width: 512px;
  flex-shrink: 1;
  flex-grow: 1;

  @include govuk-media-query($until: tablet) {
    max-width: none;
    padding: 0 15px;
  }
}

.impact-header__image-wrapper {
  position: relative;
  flex-shrink: 0;
  width: 50%;
  overflow: hidden;

  @include govuk-media-query($until: tablet) {
    width: auto;
  }
}

.impact-header__image {
  @include govuk-media-query($until: tablet) {
    position: relative;
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  @include govuk-media-query($from: tablet) {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
  }
}

.impact-header {
  margin-bottom: 300px;
}

[data-flexible-section="impact-header"]:nth-of-type(4) .impact-header {
  .impact-header__image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .impact-header__image {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    transform: none;
    left: 0;
  }
}

[data-flexible-section="impact-header"]:nth-of-type(5) .impact-header {
  max-width: 1366px;

  .impact-header__image {
    min-height: 100%;
    min-width: 100%;
    height: auto;
  }
}

[data-flexible-section="impact-header"]:nth-of-type(6) .impact-header {
  max-width: 1366px;

  .impact-header__image {
    min-height: 100%;
    min-width: 100%;
    height: auto;
  }
}

[data-flexible-section="impact-header"]:nth-of-type(7) .impact-header {
  .impact-header__image {
    min-height: 100%;
    min-width: 100%;
    height: auto;
  }

  @media (max-width: 1023px) {
    .impact-header__container {
      flex-direction: column;
    }

    .impact-header__detail {
      max-width: 66%;
    }

    .impact-header__image-wrapper {
      width: auto;
    }

    .impact-header__image {
      display: block;
      position: relative;
      width: 100%;
      height: auto;
    }
  }

  @include govuk-media-query($until: desktop) {
    .impact-header__detail {
      max-width: none;
      padding-right: 30px;
    }
  }
}

[data-flexible-section="impact-header"]:nth-of-type(8) .impact-header {
  @include govuk-media-query($until: desktop) {
    .impact-header__container {
      flex-direction: column;
    }

    .impact-header__detail {
      max-width: none;
      padding-right: 30px;
    }

    .impact-header__image-wrapper {
      width: auto;
    }

    .impact-header__image {
      display: block;
      position: relative;
      width: 100%;
    }
  }

  @include govuk-media-query($from: desktop) {
    .impact-header__image {
      height: auto;
      max-height: 100%;
    }
  }
}
