@import "govuk_publishing_components/vars_and_mixins";
@import "../helpers/parts";

.guide {
  @include parts;

  .part-navigation li {
    list-style: decimal;
    margin-left: 1.5em;
    padding-left: .3em;
  }
}
