main.help-page {

  nav.help-contents {
    min-height: 30em;
    position: relative;
    width: 100%;
    z-index: 1;

    .inner {
      padding: 0 0 2em 2em;
      width: auto;

      p {
        margin-bottom: 0.75em;
      }

      @include media(mobile) {
        padding: 0 1em 1em;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      margin-top: 4em;
    }
    ul li {
      display: block;
      margin-bottom: 2em;

      a {
        @include core-24;
        @include bold-24;

        margin-top: 0;
        margin-bottom: 0;
        text-decoration: none;
      }

      p {
        margin-top: 0.2em;
      }
    }
  }

  header.page-header {
    @include outer-block;

    div.inner {
      @include inner-block;
    }
  }
}
