// Remove search from the top bar as we have one in the content.
body.homepage {
  #global-header-bar {
    display: none;
  }
  #wrapper,
  #content {
    margin: 0;
    width: auto; // needed for IE overides
    max-width: 100%;
  }
}

.root-index {
  // Generic objects for the homepage
  .inner-block {
    @include media(tablet){
      margin: 0 30px;
      &.floated-children {
        margin: 0 15px;
      }
    }
  }

  .floated-inner-block {
    margin: 0 15px;
  }

  section {
    clear: both;
  }

  hr {
    margin: 30px 15px 15px;
    clear: both;
    border: 5px solid $black;
    border-width: 5px 0 0;

    @include media(tablet){
      margin: 60px 30px 30px;
    }
  }

  .single-column-heading {
    @include media(desktop){
      width: 33.33%;
      float: left;
    }
    h2 {
      @include core-36;
      font-weight: bold;
      padding: 0 15px;
      margin: 0 0 10px;
    }
  }

  .promo-image {
    margin-right: 0;
    margin-bottom: 30px;
    min-height: 0;
    position: static;

    @include media(tablet){
      width: 33.33%;
      float: left;
    }
    .promo-content {
      padding: 0 15px;
      > a {
        display: block;
      }
    }
    img {
      width: 100%;
      height: auto;
      display: block;
      margin-bottom: 15px;
    }
    h3 {
      @include core-24;
      font-weight: bold;
      margin: 5px 0;
    }
    p {
      @include core-16;
      margin: 0;
    }

    .promo-text-cta a {
      display: block;
      margin-bottom: 15px;
      padding: 1.5em .75em 2em;

      color: $white;
      background: $homepage-top-colour;
      text-align: center;
      text-decoration: none;

      @include bold-19;

      .main-text{
        display: block;
        margin-top: 15px;
        @include bold-36;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }


  .homepage-top {
    @extend %contain-floats;
    text-align: center;
    background: $homepage-top-colour;
    color: $white;

    .homepage-top-inner {
      position: relative;
      overflow: hidden;
      max-width: 1020px;
      margin: 0 auto;
      text-align: left;
      @include ie-lte(8){
        width: 1020px;
      }
    }
  }

  .welcome-block {
    .welcome-text {
      @include media(tablet){
        width: 66.66%;
      }
    }
    .content-links {
      @include media(tablet){
        position: absolute;
        top: 0;
        left: 66%;
        width: 33.33%;
      }
    }

    h1 {
      @include core-48;
      font-weight: bold;
      padding: 25px 0 15px;
    }
    p {
      margin: 0;

      &.simpler {
        font-weight: bold;
        margin-bottom: 20px;
      }
    }

    .content-links-inner {
      padding-bottom: 20px;

      @include media(tablet){
        background: $black;
        padding: 15px 20px 5px;
        margin-top: 30px;
        min-height: 20em;
        @include ie-lte(7){
          margin-bottom: 0;
        }
        @include ie(6) {
          height: 20em;
        }
      }

      h2 {
        @include core-14;
        margin: 0;
        @include media($min-width: 1010px){
          margin: 5px 0 0;
        }
      }
      ul {
        margin: 0;
        padding: 0;
        @include media($min-width: 1010px){
          margin: 10px 0 0;
        }
      }
      li {
        @include bold-16;
        list-style: none;
        margin: 5px 0;
      }
      a {
        &:link,
        &:visited {
          color: $white;
        }

        &:active,
        &:hover {
          color: darken($white, 20%);
        }

        &:focus {
          // Manually fix the most embarassing :focus contast issue, needs a wider fix
          color: $black;
        }
      }
    }
  }
  .homepage-content {
    @extend %contain-floats;
    text-align: center;

    .homepage-content-inner {
      max-width: 1020px;
      margin: 0 auto;
      text-align: left;
      @include ie-lte(8){
        width: 1020px;
      }
    }
  }

  $red: #E61E32;
  $dark-red: #B31424;

  .homepage__ready-container {
    margin: govuk-spacing(3) govuk-spacing(3) 0 govuk-spacing(3);
    border-bottom: 1px solid $grey-3;
    padding-bottom: govuk-spacing(3);

    @include govuk-media-query($from: tablet) {
      margin: govuk-spacing(6) govuk-spacing(6) 0 govuk-spacing(6);
    }
  }

  .homepage__ready {
    position: relative;
    margin-top: govuk-spacing(6);

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      min-width: 190px;
      background-image: asset-url("chevron-extend.svg");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: auto 100%;
    }
  }

  .homepage__ready:hover {
    &:after {
      background-image: asset-url("chevron-extend-hover.svg");
    }

    .homepage__ready-text {
      border: 2px solid govuk-colour("white");
      background-color: $dark-red;
    }
  }

  .homepage__ready-heading {
    @include govuk-font(24, $weight: bold);
    margin-bottom: 0;
  }

  .homepage__ready-desc {
    margin-top: 0;
  }

  .homepage__ready-text {
    padding: govuk-spacing(3);
    background-color: $red;
    border: 2px solid transparent;
    margin-right: 170px;

    @include govuk-media-query($from: tablet) {
      padding: govuk-spacing(5);
    }
  }

  .homepage__ready-link {
    @include govuk-font(24, $weight: bold);
    color: govuk-colour("white");
    margin-bottom: 0;
    text-decoration: none;

    &:after {
      content: "";
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &:link,
    &:visited {
      color: govuk-colour("white");
    }

    &:link:focus {
      color: govuk-colour("black");
    }
  }

  .services-block {
    margin-top: govuk-spacing(3);

    .two-column-heading {
      @include media(tablet){
        width: 66.66%;
        float: left;
      }
      h2 {
        @include core-36;
        font-weight: bold;
        padding: 0 15px;
        margin: 20px 0 0;
        @include media(tablet){
          margin: 15px 0 25px;
        }
      }
    }
    .replaces {
      @extend %contain-floats;

      @include media(tablet){
        padding-top: 10px;
        width: 33.33%;
        float: right;
      }
      p {
        @include core-14;
        padding: 0 15px;
        margin: 0;
        color: $secondary-text-colour;
      }
      ul {
        margin: 0;
        padding: 0 15px;
      }
      li {
        line-height: 30px;
        display: block;
        float: left;
        padding-right: 10px;
        img {
          vertical-align: bottom;
        }
      }
    }
    .categories-lists {
      @extend %contain-floats;
      clear: both;
    }
    .categories-list {
      margin: 0;
      padding: 10px 0 0;
      @include media(tablet){
        float: left;
        width: $one-third;
      }

      li {
        margin: 0 0 15px;
        padding: 0;
        list-style: none;

        h3, p {
          margin: 0;
          padding: 0 15px;
        }
        h3 {
          @include core-19;
          font-weight: bold;
        }
        p {
          @include core-16;
          min-height: 40px;
        }
      }
    }
  }

  .departments-and-policy {
    .departments-intro {
      @include media(desktop){
        width: 66.66%;
        float: left;
      }
      p {
        @include core-24;
        margin: 10px 0 20px;
      }
    }
    .large-numbers {
      clear: both;
      @extend %contain-floats;
      @include media(tablet){
        padding: 0 0 30px 0;
        float: left;
        width: 33.33%;
      }

      ol {
        margin: 0;
        padding: 0;
        @include ie-lte(7){
          width: 988px; // because 990px/4 is not a round number
        }
      }
      li {
        list-style: none;
        margin: 20px 0;

        a {
          padding: 0 15px;
          display: block;
          text-decoration: none;
          line-height: 1.25;
          overflow: hidden;
        }
        strong {
          // Manually setting font-size rather than using the mixins size so we
          // because the layout doesnt really work otherwise
          font-size: 53px;
          line-height: (55 / 53);
          font-weight: bold;
          display: block;

          @include media(desktop){
            font-size: 80px;
            line-height: (80 / 80);
          }
        }
        &:first-child {
          margin-top: 10px;
        }
      }
    }

    .large-numbers__list {
      padding-left: 0;
    }

    .departments-promo-sections {
      @extend %contain-floats;
      clear: both;
      padding: 0;
    }
  }

  .popular-content {
    @extend %contain-floats;
    margin-bottom: 60px;

    .promo-image {
      @include media(tablet){
        width: 50%;
      }
      @include media(desktop){
        width: 33.33%;
      }

      a.callout {
        display: block;
        background-color: $turquoise;
        color: $white;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        margin-bottom: 15px;


        p {
          @include core-16;
          font-weight:700;
          padding-top: 1.25em;
          padding-bottom: 1.25em;
          margin-left: 2em;
          margin-right: 2em;
        }

        span {
          @include heading-48;
          font-weight:700;
          display: block;
          margin: 0.25em 0 0.25em 0;
          padding:0;

          &:hover {
            text-decoration: underline;
          }

          @include media(desktop) {
            @include core-36;
            font-weight:700;
            margin:0;
          }
        }
      }
    }


    .most-active {
      @include media(tablet){
        width: 50%;
        float: left;
      }
      @include media(desktop){
        width: 33.33%;
      }
      h3 {
        @include core-24;
        font-weight: bold;
        margin: 0;
        padding: 0 0 5px;
      }
      .most-active-content {
        margin: 0;
        padding: 0 0 15px;
      }
      li {
        list-style: none;
        margin: 0;
        padding: 5px 0 0;
        @include core-19;
        a {
          font-weight: bold;
        }
        span {
          display: inline-block;
          min-width: 25px;
        }
      }
    }
  }
}
