@import "govuk_publishing_components/individual_component_support";

$pale-blue-colour: #d2e2f1;

.homepage-header {
  background-color: $govuk-brand-colour;
  padding-bottom: 28px;
  padding-top: govuk-spacing(4);
  @include govuk-typography-common;

  // Add 9px of padding to the left and right on mobile screen sizes
  // This gives a total size of 24px (9px padding + 15px margin)
  @include govuk-media-query($until: "tablet") {
    padding-left: 9px;
    padding-right: 9px;
  }

  @include govuk-media-query($from: desktop) {
    padding-bottom: govuk-spacing(9);
    padding-top: govuk-spacing(3);
  }
}

// If the super navigation menu is open,
// set padding top to 50px for the homepage-header on Desktop screen sizes
@include govuk-media-query($from: desktop) {
  .gem-c-layout-super-navigation-header--menu-open + .homepage .homepage-header {
    padding-top: govuk-spacing(8);
  }
}

.homepage-header__title {
  @include govuk-typography-weight-bold;
  color: govuk-colour("white");
  font-size: 40px;
  font-size: govuk-px-to-rem(40);
  line-height: 1.2;
  padding-bottom: 8px;
  margin: 0;

  @include govuk-media-query($from: tablet) {
    font-size: 60px;
    font-size: govuk-px-to-rem(60);
    padding-bottom: govuk-spacing(2);
  }

  @include govuk-media-query($from: desktop) {
    font-size: 64px;
    font-size: govuk-px-to-rem(64);
  }
}

.homepage-header__intro {
  @include govuk-typography-weight-bold;

  color: $pale-blue-colour;
  font-size: 40px;
  font-size: govuk-px-to-rem(40);
  margin: 0;
  padding-bottom: govuk-spacing(2);
  line-height: 1.07;
  display: block;

  @include govuk-media-query($from: tablet) {
    font-size: 60px;
    font-size: govuk-px-to-rem(60);
  }

  @include govuk-media-query($from: desktop) {
    font-size: 64px;
    font-size: govuk-px-to-rem(64);
  }
}

.homepage-header__search {
  @include govuk-media-query($from: mobile) {
    @include govuk-grid-column($width: two-thirds);
  }
}