@import "govuk_publishing_components/components/mixins/prefixed-transform";
@import "govuk_publishing_components/components/mixins/grid-helper";

.homepage-inverse-header {
  background-color: $govuk-brand-colour;
  padding-bottom: govuk-spacing(7);
  padding-top: govuk-spacing(8);
  @include govuk-typography-common;

  @include govuk-media-query($from: desktop) {
    padding-bottom: govuk-spacing(8);
    padding-top: govuk-spacing(9);
  }
}

.homepage-inverse-header__title {
  @include govuk-typography-weight-bold;
  color: govuk-colour("white");
  font-size: 32px;
  font-size: govuk-px-to-rem(32);
  line-height: 1.2;
  margin: 0;
  padding-bottom: govuk-spacing(6);

  @include govuk-media-query($from: desktop) {
    font-size: 48px;
    font-size: govuk-px-to-rem(48);
  }
}

.homepage-inverse-header__intro {
  color: govuk-colour("white");
  font-size: 19px;
  font-size: govuk-px-to-rem(19);
  margin: 0;
  padding-bottom: govuk-spacing(2);

  @include govuk-media-query($from: desktop) {
    font-size: 24px;
    font-size: govuk-px-to-rem(24);
  }
}

.homepage-inverse-header__intro--bold {
  @include govuk-typography-weight-bold;
}

.homepage__ready-container {
  margin: govuk-spacing(6) 0 govuk-spacing(7) 0;

  @include govuk-media-query($from: desktop) {
    margin-bottom: govuk-spacing(3);
  }
}

.homepage__ready-heading {
  margin-bottom: govuk-spacing(4);
}

.homepage__ready-call-to-action {
  @include govuk-font(19, $weight: bold);
  margin-bottom: 0;
}

.home-services {
  padding-top: govuk-spacing(5);
}

.home-services__heading {
  @include govuk-font(19, $weight: bold);
  margin: 0 0 govuk-spacing(1) 0;
}

.home-services__para {
  @include govuk-font(16);
  margin: 0 0 govuk-spacing(3) 0;
  min-height: 40px;
}

.home-info {
  @include govuk-font(24);
  margin: govuk-spacing(2) 0 govuk-spacing(4);
}

.home-promo {
  margin-bottom: govuk-spacing(6);

  @include govuk-media-query($from: desktop) {
    margin-bottom: 0;
  }
}

.home-promo__image {
  border-top: 1px solid $govuk-border-colour;
  border-left: none;
  border-right: none;
  border-bottom: none;
  display: block;
  height: auto;
  margin-bottom: govuk-spacing(4);
  max-width: 100%;

  @include govuk-media-query($from: desktop) {
    margin-bottom: govuk-spacing(6);
  }
}

.home-more__title {
  @include govuk-font(36, $weight: bold);
  margin: 0 0 govuk-spacing(4) 0;
}

.home-more__subtitle {
  @include govuk-font(24, $weight: bold);
  margin: 0 0 govuk-spacing(2) 0;
}

.home-more__list {
  font-weight: bold;
}

.homepage-most-active-list {
  list-style: none;
  margin: 0 0 govuk-spacing(6) 0;
  padding: 0;

  @include govuk-media-query($from: desktop) {
    @include columns($items: 10, $columns: 2, $selector: "li", $flow: column);
  }

  & > li {
    margin: 0 0 govuk-spacing(4) 0;
    @include govuk-font($size: 19);

    @include govuk-media-query($from: desktop) {
      margin-bottom: govuk-spacing(2);
    }
  }
}

.homepage-promo {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: govuk-spacing(8);
  background: $govuk-brand-colour;
  text-align: center;
  width: 100%;
  max-width: 240px;

  @include govuk-media-query($from: tablet) {
    max-width: none;
    padding: (govuk-spacing(9) + govuk-spacing(2)) govuk-spacing(3); // govuk spacing 9 (60px) + 2 (10px) to create a top and bottom of 70px each
  }

  @include govuk-media-query($from: desktop) {
    padding: govuk-spacing(8) govuk-spacing(3);
  }
}

.homepage-promo__link {
  @include govuk-link-style-inverse;
  @include govuk-link-style-no-underline;
  @include govuk-font($size: 36, $weight: bold);
}

.homepage-services-and-info__list {
  @include columns($items: 16, $columns: 1, $selector: "li");
  list-style: none;
  margin: 0 govuk-spacing(-3);
  padding: 0;

  @include govuk-media-query($from: "tablet") {
    @include columns($items: 16, $columns: 2, $selector: "li");
  }

  @include govuk-media-query($from: "desktop") {
    @include columns($items: 16, $columns: 3, $selector: "li");
  }

  .homepage-section__government-activity & {
    @include columns($items: 6, $columns: 1, $selector: "li");
    margin-bottom: govuk-spacing(4);

    @include govuk-media-query($from: "tablet") {
      @include columns($items: 6, $columns: 2, $selector: "li");
      margin-bottom: 0;
    }
  }
}

.chevron-card {
  border-top: 1px solid $govuk-border-colour;
  margin: 0 govuk-spacing(3);
  padding: govuk-spacing(1) 0 govuk-spacing(4) 0;
}

.chevron-card__wrapper {
  padding: govuk-spacing(2) govuk-spacing(6) govuk-spacing(2) 0;
  position: relative;
}

.chevron-card__description {
  margin: 0 govuk-spacing(-6) 0 0;
}

.chevron-card__link {
  &:after {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:before {
    $dimension: 7px;
    $width: 3px;

    border-right: $width solid $govuk-brand-colour;
    border-top: $width solid $govuk-brand-colour;
    content: "";
    display: block;
    height: $dimension;
    position: absolute;
    right: govuk-spacing(1);
    top: govuk-spacing(3);
    @include prefixed-transform($rotate: 45deg);
    width: $dimension;
  }

  &:hover {
    &:before {
      border-color: $govuk-link-hover-colour;
    }
  }

  &:focus {
    &:before {
      border-color: $govuk-focus-text-colour;
    }
  }
}

.homepage-section {
  padding: govuk-spacing(4) 0 govuk-spacing(6);
}

.homepage-section--links-and-search {
  background: govuk-colour("light-grey");
  padding: govuk-spacing(6) 0 govuk-spacing(8);
}

.homepage-section--services-and-info {
  padding: govuk-spacing(6) 0 0;
}

.homepage-section__heading {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: $govuk-text-colour;
  margin: 0 0 govuk-spacing(6);
  padding: govuk-spacing(3) 0 0;
}

.homepage-section__heading--border-none {
  border: none;
  padding: 0;
}

.homepage-big-number__wrapper {
  &:nth-child(1) {
    margin-bottom: govuk-spacing(6);
  }
}

.homepage-search {
  @include govuk-media-query($until: "tablet") {
    max-width: 420px;
  }
}

.homepage-most-viewed-list {
  list-style: none;
  margin: 0;
  padding: 0 0 govuk-spacing(7) 0;

  @include govuk-media-query($from: "tablet") {
    padding-bottom: 0;
  }

  & > li {
    margin-bottom: govuk-spacing(4);

    @include govuk-media-query($from: "desktop") {
      margin-bottom: govuk-spacing(3);
    }
  }

  & > li:last-child {
    margin-bottom: 0;
  }
}

.homepage-most-viewed-list__item {
  @include govuk-font($size: 19, $weight: "bold");
}
