@import "govuk_publishing_components/individual_component_support";
@import "govuk_publishing_components/components/mixins/prefixed-transform";
@import "govuk_publishing_components/components/mixins/grid-helper";

.homepage-inverse-header {
  background-color: $govuk-brand-colour;
  padding-bottom: govuk-spacing(7);
  padding-top: govuk-spacing(8);
  @include govuk-typography-common;

  @include govuk-media-query($from: desktop) {
    padding-bottom: govuk-spacing(8);
    padding-top: govuk-spacing(9);
  }
}

.homepage-inverse-header__title {
  @include govuk-typography-weight-bold;
  color: govuk-colour("white");
  font-size: 32px;
  font-size: govuk-px-to-rem(32);
  line-height: 1.2;
  margin: 0;
  padding-bottom: govuk-spacing(6);

  @include govuk-media-query($from: desktop) {
    font-size: 48px;
    font-size: govuk-px-to-rem(48);
  }
}

.homepage-inverse-header__intro {
  color: govuk-colour("white");
  font-size: 19px;
  font-size: govuk-px-to-rem(19);
  margin: 0;
  padding-bottom: govuk-spacing(2);

  @include govuk-media-query($from: desktop) {
    font-size: 24px;
    font-size: govuk-px-to-rem(24);
  }
}

.homepage-inverse-header__intro--bold {
  @include govuk-typography-weight-bold;
}

.homepage__ready-container {
  margin: govuk-spacing(6) 0 govuk-spacing(7) 0;

  @include govuk-media-query($from: desktop) {
    margin-bottom: govuk-spacing(3);
  }
}

.homepage__ready-heading {
  margin-bottom: govuk-spacing(4);
}

.homepage__ready-call-to-action {
  @include govuk-font(19, $weight: bold);
  margin-bottom: 0;
}

.home-services {
  padding-top: govuk-spacing(5);
}

.home-services__heading {
  @include govuk-font(19, $weight: bold);
  margin: 0 0 govuk-spacing(1) 0;
}

.home-services__para {
  @include govuk-font(16);
  margin: 0 0 govuk-spacing(3) 0;
  min-height: 40px;
}

.home-info {
  @include govuk-font(24);
  margin: govuk-spacing(2) 0 govuk-spacing(4);
}

.home-more__title {
  @include govuk-font(36, $weight: bold);
  margin: 0 0 govuk-spacing(4) 0;
}

.home-more__subtitle {
  @include govuk-font(24, $weight: bold);
  margin: 0 0 govuk-spacing(2) 0;
}

.home-more__list {
  font-weight: bold;
}

.homepage-most-active-list {
  list-style: none;
  margin: 0 0 govuk-spacing(6) 0;
  padding: 0;

  @include govuk-media-query($from: desktop) {
    width: 66.66%;
    columns: 2;
    column-gap: 15px;
  }
}

.homepage-most-active-list__item {
  margin: 0 0 govuk-spacing(4) 0;
  @include govuk-font($size: 19);
  @include govuk-media-query($from: desktop) {
    break-inside: avoid-column;
    margin-bottom: 0;
    padding-top: .1875rem;
    padding-bottom: calc(#{govuk-spacing(2)} - .1875rem);

    // After much experimentation, I've used break-inside: avoid-column
    // and some tweaks to padding-top and padding-bottom on the list
    // items. This prevents triggering a possible bug in Safari where
    // focused anchors in a multi-column layout cause links to jump
    // between columns.

    // Magic numbers in CSS aren't recommended, but the .1875rem value
    // used in the padding is to compensate for the value used in our
    // global hover states for links, eg:

    // text-decoration-thickness: max(3px, .1875rem, .12em);

    // This value could be tweaked, and may not be "correct" but when
    // added to the top padding, it prevents Safari from rendering a
    // sliver of the focus state in the opposite column.

    // The bottom margin was removed and the spacing instead added as
    // padding-bottom -- this gives some space within the element for
    // the focus/hover states to render without being cropped off,
    // another possible Safari bug.

    // This likely isn't a long-term robust solution and may require
    // a full refactor in the future.
  }
}

.homepage-services-and-info__list {
  list-style: none;
  margin: 0 govuk-spacing(-3);
  padding: 0;
}

.chevron-card {
  border-top: 1px solid $govuk-border-colour;
  margin: 0 govuk-spacing(3);
  padding: govuk-spacing(1) 0 govuk-spacing(4) 0;
}

.chevron-card__wrapper {
  padding: govuk-spacing(2) govuk-spacing(6) govuk-spacing(2) 0;
  position: relative;
}

.chevron-card__description {
  margin: 0 govuk-spacing(6) 0 0;
}

.chevron-card__link {
  &::after {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &::before {
    $dimension: 7px;
    $width: 3px;

    border-right: $width solid $govuk-brand-colour;
    border-top: $width solid $govuk-brand-colour;
    content: "";
    display: block;
    height: $dimension;
    position: absolute;
    right: govuk-spacing(1);
    top: 50%;
    @include prefixed-transform($rotate: 45deg);
    width: $dimension;
  }

  &:hover {
    &::before {
      border-color: $govuk-link-hover-colour;
    }
  }

  &:focus {
    &::before {
      border-color: $govuk-focus-text-colour;
    }
  }
}

.homepage-section {
  padding: govuk-spacing(4) 0 govuk-spacing(6);
}

.homepage-section--promotion-slots {
  padding-top: govuk-spacing(6);
}

.homepage-section--links-and-search {
  background: govuk-colour("light-grey");
  padding: govuk-spacing(6) 0 govuk-spacing(8);
}

.homepage-section--services-and-info {
  padding: govuk-spacing(6) 0 0;

  @include govuk-media-query($from: "desktop") {
    padding-right: 32px;
  }
}

.homepage-section__heading {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: $govuk-text-colour;
  margin: 0 0 govuk-spacing(6);
  padding: govuk-spacing(3) 0 0;
}

.homepage-section__container {
  padding-right: 32px;
}

.homepage-section__heading-wrapper {
  margin-bottom: govuk-spacing(1);

  @include govuk-media-query($from: desktop) {
    margin-bottom: 0;
  }
}

.homepage-section__heading--border-none {
  border: none;
  padding: 0;
}

.homepage-search {
  @include govuk-media-query($until: "tablet") {
    max-width: 420px;
  }
}

.homepage-popular {
  padding-top: govuk-spacing(7);
}

.homepage-most-viewed-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include govuk-media-query($from: "tablet") {
    padding-bottom: 0;
  }

  & > div li {
    margin-bottom: govuk-spacing(4);

    @include govuk-media-query($from: "desktop") {
      margin-bottom: govuk-spacing(6);
      padding-right: govuk-spacing(4);
    }
  }

  & > div:last-child li:last-child {
    margin-bottom: 0;
  }
}

.homepage-most-viewed-list__item-link {
  padding-right: govuk-spacing(8);
  @include govuk-font($size: 19, $weight: "bold");
}
