@import "govuk_publishing_components/individual_component_support";

$pale-blue-colour: #d2e2f1;

.homepage-header {
  background-color: $govuk-brand-colour;
  padding-bottom: 28px;
  padding-top: govuk-spacing(3);
  @include govuk-typography-common;

  // Add 9px of padding to the left and right on mobile screen sizes
  // This gives a total size of 24px (9px padding + 15px margin)
  @include govuk-media-query($until: "tablet") {
    padding-left: 9px;
    padding-right: 9px;
  }

  @include govuk-media-query($from: desktop) {
    padding-bottom: govuk-spacing(7);
  }

  // Increase the header font-size and padding for large screen sizes
  @media (min-width: 1281px) { // stylelint-disable-line media-feature-range-notation
    padding-bottom: govuk-spacing(9);
  }
}

.homepage-header__title {
  @include govuk-typography-weight-bold;
  color: govuk-colour("white");
  font-size: 40px;
  font-size: govuk-px-to-rem(40);
  line-height: 1.2;
  padding-bottom: govuk-spacing(3);
  margin: 0;

  @include govuk-media-query($from: tablet) {
    font-size: 50px;
    font-size: govuk-px-to-rem(50);
  }

  @include govuk-media-query($from: desktop) {
    font-size: 55px;
    font-size: govuk-px-to-rem(55);
  }

  @media (min-width: 1281px) { // stylelint-disable-line media-feature-range-notation
    font-size: 64px;
    font-size: govuk-px-to-rem(64);
  }
}

.homepage-header__title-container {
  @include govuk-media-query($from: desktop) {
    max-width: 80%;
  }
}

.homepage-header__intro {
  @include govuk-typography-weight-bold;

  color: $pale-blue-colour;
  font-size: 40px;
  font-size: govuk-px-to-rem(40);
  margin: 0;
  line-height: 1.07;
  display: block;
  text-wrap: balance;

  @include govuk-media-query($from: tablet) {
    font-size: 50px;
    font-size: govuk-px-to-rem(50);
  }

  @include govuk-media-query($from: desktop) {
    font-size: 55px;
    font-size: govuk-px-to-rem(55);
  }

  @media (min-width: 1281px) { // stylelint-disable-line media-feature-range-notation
    font-size: 64px;
    font-size: govuk-px-to-rem(64);
  }
}

.homepage-header__search {
  @include govuk-media-query($from: mobile) {
    @include govuk-grid-column($width: two-thirds);
  }
}