@import "govuk_publishing_components/individual_component_support";

.homepage-most-active-list {
  list-style: none;
  margin: 0 0 govuk-spacing(9);
  padding: 0;
}

.homepage-most-active-list__item {
  margin: 0 0 govuk-spacing(4);
  @include govuk-font($size: 19, $weight: bold);

  &:last-of-type {
    margin-bottom: 0;
  }

  // Ensure font-size is 19px on mobile for the new homepage design
  @include govuk-media-query($until: "tablet") {
    font-size: 19px;
    font-size: govuk-px-to-rem(19);
  }
}
