// Remove search from the top bar as we have one in the content.
body.homepage {
  #global-header-bar {
    display: none;
  }
  #wrapper,
  #content {
    margin: 0;
    width: auto; // needed for IE overides
    max-width: 100%;
  }

  .feedback-wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 govuk-spacing(3);

    @include govuk-media-query($from: tablet) {
      padding: 0 govuk-spacing(6);
    }
  }
}

.home-top {
  overflow: hidden;
  background: $govuk-brand-colour;
  color: govuk-colour("white");
}

.home-top__inner {
  position: relative;
}

.home-top__intro {
  margin: 0;
}

.home-top__intro--simpler {
  font-weight: bold;
  margin-bottom: 20px;
}

.home-top__links {
  padding: 0 0 govuk-spacing(4) 0;

  @include govuk-media-query($from: tablet) {
    position: relative;
    z-index: 1;
    margin-top: govuk-spacing(1);
    padding: govuk-spacing(3) govuk-spacing(4) govuk-spacing(4) govuk-spacing(4);
    background: govuk-colour("black");

    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      top: govuk-spacing(2);
      left: 0;
      bottom: -100px;
      width: 100%;
      background: govuk-colour("black");
    }
  }
}

.home-top__links-title {
  @include govuk-font(19);
  margin: 0;
}

.home-top__links-list {
  margin: 0;
  padding: 0;
  @include govuk-media-query($from: desktop) {
    margin: 10px 0 0;
  }
}

.home-top__links-item {
  @include govuk-font($size: 16, $weight: bold);
  list-style: none;
  margin: 5px 0;
}

.home-top__links-link {
  color: govuk-colour("white");

  &:link,
  &:visited {
    color: govuk-colour("white");
  }

  &:active,
  &:hover {
    color: $govuk-hover-colour;
  }

  &:focus,
  &:link:focus {
    @include govuk-focused-text;
  }
}

.homepage__ready-container {
  margin: govuk-spacing(6) 0 govuk-spacing(7) 0;

  @include govuk-media-query($from: desktop) {
    margin-bottom: govuk-spacing(3);
  }
}

.homepage__ready-heading {
  margin-bottom: govuk-spacing(4);
}

.homepage__ready-call-to-action {
  @include govuk-font(19, $weight: bold);
  margin-bottom: 0;
}

.home-services {
  padding-top: govuk-spacing(5);
}

.home-services__heading {
  @include govuk-font(19, $weight: bold);
  margin: 0 0 govuk-spacing(1) 0;
}

.home-services__para {
  @include govuk-font(16);
  margin: 0 0 govuk-spacing(3) 0;
  min-height: 40px;
}

.home-divider {
  margin: 30px 0 15px 0;
  clear: both;
  border: 5px solid govuk-colour("black");
  border-width: 5px 0 0;

  @include govuk-media-query($from: tablet) {
    margin: 30px 0 30px 0;
  }
}

.home-divider--thin {
  border: 0;
  border-top: 1px solid $govuk-border-colour;
}

.home-numbers-and-info {
  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-spacing(6);
  }
}

.home-numbers {
  margin: 0;
  padding: 0;
  list-style: none;
}

.home-numbers__link {
  display: inline-block;
  margin: 20px 0;
  text-decoration: none;
  line-height: 1.25;
  overflow: hidden;
}

.home-numbers__link--first {
  margin-top: 10px;
}

.home-numbers__large {
  // Manually setting font-size rather than using the mixins size
  // because the layout doesnt really work otherwise
  font-size: 53px;
  line-height: (55 / 53);
  font-weight: bold;
  display: block;

  @include govuk-media-query($from: desktop) {
    font-size: 80px;
    line-height: (80 / 80);
  }
}

.home-info {
  @include govuk-font(24);
  margin: govuk-spacing(2) 0 govuk-spacing(4);
}

.home-promo__link {
  @include govuk-font(24, $weight: bold);
  display: inline-block;

  @include govuk-media-query($until: tablet) {
    margin: 0 0 govuk-spacing(1) 0;
  }
}

.home-promo__image {
  display: block;
  height: auto;
  margin-bottom: govuk-spacing(4);
  max-width: 100%;
}

.home-promo__title {
  @include govuk-font(24, $weight: bold);
}

.home-promo__text {
  @include govuk-font(16);
  margin: 0 0 govuk-spacing(4);
}

.home-more__title {
  @include govuk-font(36, $weight: bold);
  margin: 0 0 govuk-spacing(4) 0;
}

.home-more__subtitle {
  @include govuk-font(24, $weight: bold);
  margin: 0 0 govuk-spacing(2) 0;
}

.home-more__list {
  font-weight: bold;
}

.home-more-promo {
  display: block;
  padding: 2.5em .75em;
  margin-bottom: govuk-spacing(3);
  background: $govuk-brand-colour;
  text-align: center;
  text-decoration: none;

  &:focus {
    .home-more-promo__link-content {
      color: govuk-colour("black");
    }
  }
}

.home-more-promo__link-content {
  @include govuk-font(36, $weight: bold);
  color: govuk-colour("white");
}
