@import "govuk_publishing_components/individual_component_support";

@import "_landing_page/helpers/backgrounds";
@import "_landing_page/helpers/borders";
@import "_landing_page/block-error";
@import "_landing_page/box";
@import "_landing_page/card";
@import "_landing_page/columns_layout";
@import "_landing_page/featured";
@import "_landing_page/hero";
@import "_landing_page/image";
@import "_landing_page/logo";
@import "_landing_page/main-navigation";
@import "_landing_page/map";
@import "_landing_page/quote";
@import "_landing_page/side-navigation";
@import "_landing_page/themes/prime-ministers-office-10-downing-street";

.landing-page-header__org {
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(6);
}

.govuk-block {
  margin-bottom: govuk-spacing(9);
}

.govuk-block--background {
  background: govuk-colour("light-grey");
  padding: govuk-spacing(8) 0;

  &:has(+ .govuk-block--background) {
    padding-bottom: 0.05px; // stop margin escaping
    margin-bottom: 0;
  }

  & + .govuk-block--background {
    padding-top: govuk-spacing(4);
  }
}

.govuk-block__share_links {
  margin-bottom: 0;
}

.govuk-block__heading {
  margin-bottom: govuk-spacing(4);
}

.grid-column-one-third-offset {
  @include govuk-media-query($from: "desktop") {
    min-height: 1px;
  }
}
