@import "govuk_publishing_components/individual_component_support";

.landing-page-header {
  // I've used the hex value for the background colour as it doesn't exist in the colour palette
  background-color: #231F20;
}

.landing-page-header__blue-bar {
  background-color: govuk-colour("blue");
  height: govuk-spacing(2);
}

.landing-page-header__org {
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(6);

  // I've added this styling here rather than in the gem because it's application specific
  // and it would introduce further work to make this variation work in the gem without
  // affecting the other variants.
  // TODO add this as a variant in the components gem.
  .gem-c-organisation-logo__link:link:not(:hover) {
    text-decoration: none;
  }
}

.govuk-block {
  margin-bottom: govuk-spacing(9);
}

.govuk-block--background {
  background: govuk-colour("light-grey");
  padding: govuk-spacing(8) 0;

  &:has(+ .govuk-block--background) {
    padding-bottom: 0.05px; // stop margin escaping
    margin-bottom: 0;
  }

  & + .govuk-block--background {
    padding-top: govuk-spacing(4);
  }
}

.govuk-block__share_links {
  margin-bottom: 0;
}

.govuk-block__heading {
  margin-bottom: govuk-spacing(4);
}
