.interaction {
  margin-top: govuk-spacing(3);
  margin-bottom: govuk-spacing(6);

  .interaction-match {
    @include govuk-font(36);
  }

  .local-authority {
    font-weight: bold;
  }
}

.search-again {
  margin: govuk-spacing(7) 0 govuk-spacing(3) 0;
}
