@import "govuk_publishing_components/vars_and_mixins";
@import "helpers/truncated-url";

.place-list__item {
  margin-top: govuk-spacing(5);
  padding-top: govuk-spacing(2);
  border-top: 1px solid $govuk-border-colour;
  list-style: none;

  &:first-child {
    margin-top: 0;
  }
}
