@import "govuk_publishing_components/individual_component_support";
@import "govuk_publishing_components/components/mixins/grid-helper";

.homepage-section__popular-links {
  background: govuk-colour("white");
  padding: 28px 0 0;

  // Add 9px of padding to the left and right on mobile screen sizes
  // This gives a total size of 24px (9px padding + 15px margin)
  @include govuk-media-query($until: "tablet") {
    padding-left: 9px;
    padding-right: 9px;
  }

  .govuk-heading-l {
    // Ensure font-size is 32px on mobile for the new homepage design
    @include govuk-media-query($until: "tablet") {
      font-size: 32px;
      font-size: govuk-px-to-rem(32);
    }
  }

  @include govuk-media-query($from: "desktop") {
    padding: govuk-spacing(9) 0 28px;
  }
}

.homepage-most-viewed-list {
  list-style: none;
  padding: 0;
  // Remove the outermost left and right margin from the internal margin of the list items.
  margin: 0 govuk-spacing(-3);

  display: grid;
  grid-auto-flow: row; // Use CSS grid to calculate the number of rows
  grid-template-columns: fractions(1);

  @include govuk-media-query($from: "desktop") {
    align-items: center;
    // Note that browsers that don't support CSS grid display the component as one column on all
    // breakpoints
    grid-template-columns: fractions(3);

    // For browsers that don't support CSS grid, constrain the width to 50% to improve usability
    // especially for screen magnifier users
    width: 50%;

    // Reset the width for browsers that support CSS grid
    @supports (display: grid) {
      width: initial;
    }
  }
}

.homepage-most-viewed-list__item {
  // We use grid to split the container into column widths, so manage the horizontal spacing with
  // internal margins.
  margin: 0 govuk-spacing(3);
  padding: 0 0 24px;

  a {
    font-size: 19px;
    font-size: px-to-rem(19);
  }

  &:last-of-type {
    padding-bottom: 0;
  }

  @include govuk-media-query($from: "desktop") {
    padding-bottom: 32px;

    &:last-of-type {
      padding-bottom: 32px;
    }
  }
}

// Temp override to increase action link icon size
.homepage .gem-c-action-link--light-icon::before {
  width: 56px;
  height: 40px;
  background-size: 40px auto;
  background-position: 0 50%;
}
