@import "govuk_publishing_components/individual_component_support";

.metadata-wrapper {
  border-top: 1px solid $govuk-border-colour;
  margin-left: govuk-spacing(3);
  margin-right: govuk-spacing(3);
  @include govuk-clearfix;

  .metadata-column {
    padding-left: 0;
    padding-top: govuk-spacing(3);
  }
}
