body.search {
  #global-header #search,
  #global-breadcrumb {
    display: none;
  }
}

main.search {
  padding-bottom: 30px;

  @include media(tablet) {
    padding-bottom: 60px;
  }

  h1 {
    @include core-24;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .search-header {
    position: relative;
    margin: 0;
    padding: 10px 15px 15px;
    overflow: visible;

    @include media(tablet) {
      padding: 20px 30px 30px;
      width: 66.666%;
    }

    .searchfield {
      position: relative;
    }

    .search-input {
      position: static;
      margin: 0;
      padding: 0 50px 0 0;

      @include ie(7) {
        padding-right: 62px;
      }
    }

    .search-submit {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 50px;
      width: 50px;
      overflow: visible;
    }

    input {
      -webkit-appearance: none;
      border-radius: 0;
      @include core-19;
      @include box-sizing(border-box);
      width: 100%;
      margin: 0;
      padding: 0 0 0 10px;
      display: block;
      height: 50px;
      border-color: $border-colour;
      border-right: none;
      line-height: 48px!important;

      @include ie-lte(7) {
        height: 48px;
        margin-bottom: -1px;
      }
    }

    button {
      @include border-radius(0);
      @include box-shadow(none);
      position: absolute;
      z-index: 4;
      right: 0;
      top: 0;
      width: 50px;
      height: 50px;
      border: none;
      overflow: hidden;
      text-indent: -5000px;
      color: $white;
      background-color: $light-blue;
      background-image: image-url("search/search-button.png");
      background-repeat: no-repeat;
      background-position: -12.5% 50%;
      &:hover {
        background-color: darken($light-blue, 5%);
      }
    }

    .spelling-suggestion p {
      @include core-16;
      margin: 0;
      padding: 10px 0 0;
    }
  }

  #results {
    @extend %contain-floats;

    @include media(tablet){
      margin: 0 15px;
    }

    .inner-block {
      padding: 0 15px;
    }

    .filter-form {
      @include media(tablet){
        float: left;
        width: $one-third;
      }

      .info {
        margin: 0 0 15px;
      }
      .submit {
        .js-enabled & {
          display: none;
        }
      }
    }
    .results-block {
      @include media(tablet){
        float: left;
        width: $two-thirds;
      }
      .result-count {
        padding: 0;
      }
      .results-list {
        padding: 30px 0;
        list-style: none;
        margin: 0;

        &.debug {
          list-style: decimal;
          .sections {
            list-style: none;
          }
          .debug-link {
            color: green;
            word-wrap: break-word;
          }
          .debug-info {
            color: red;
            span {
              display: inline-block;
              min-width: 150px;
            }
          }
        }
        li {
          max-width: 32.5em;
          margin: 0;
          padding: 0 0 15px;

          @include media(tablet) {
            padding: 0 0 25px;
          }

          @include ie(6) {
            width: 32.5em;
          }

          .examples {
            padding-left: 15px;
            border-left: 1px solid grey;

            li {
              max-width: 32.5em;
              margin: 0;
              padding: 0 0 15px;

              p {
                @include core-14;
              }

            }

            li:last-child {
              padding: 0;
            }
          }

          h4 {
            @include core-14;
            margin: 0;

            a {
              font-weight: bold;
              text-decoration: none;

              &:hover, &:focus {
                color: $link-colour;
                text-decoration: underline;
              }
            }
          }
          h4.see-all a {
            text-decoration: underline;
          }
        }

        li.external {
          border: 1px solid $border-colour;
          padding: 9px;
          margin-bottom: 25px;

          @include media(tablet) {
            padding: 14px;
          }
        }

        h3 {
          @include core-24;
          margin: 0;
          padding-bottom: 2px;

          a {
            font-weight: bold;
            text-decoration: none;

            &:hover, &:focus {
              color: $link-colour;
              text-decoration: underline;
            }
          }

          a[rel="external"]::after {
            content: "\A0\A0\A0\A0\A0\A0";
          }
        }

        .sections {
          @include core-16;
          margin: 0;
          padding: 0;
          overflow: hidden;

          li {
            margin: 0;
            padding: 3px 0 2px;
            float: left;
            width: 50%;
            @include media(tablet) {
              width: 40%;
            }
          }
        }

        .attributes {
          @include core-14;
          color: $secondary-text-colour;
          padding: 0 0 3px;
          margin: 0;

          li {
            display: inline;
            padding: 0;

            &:after {
              content:',';
              position: relative;
              left: -0.25em;
            }

            &:last-child::after {
              content:'';
            }
          }
        }

        p {
          @include core-16;
          margin: 0;
          padding: 0;

          &.meta {
            @include core-14;
            padding: 0 0 3px;
            word-wrap: break-word;
            color: $secondary-text-colour;

            .subsection,
            .subsubsection {
              background: transparent image-url("search/separator.png") 0 40% no-repeat;
              padding-left: 15px;
              margin-left: 5px;
            }
          }
        }
      }

    }
    .zero-results {
      h2 {
        @include bold-24;
      }
      ul, p {
        margin-top: 0;
      }
    }
  }
}

main.no-results-term {
  padding-top: 30px;
  padding-bottom: 130px;

  @include media(tablet) {
    padding-top: 40px;
    padding-bottom: 300px;

    h1 {
      @include core-48;
      font-weight: bold;
      padding-bottom: 15px;
    }
  }
}
