@import "govuk_publishing_components/vars_and_mixins";

.service-toolkit {
  border-bottom: 1px solid $govuk-border-colour;
  margin-bottom: govuk-spacing(5);
  padding-bottom: govuk-spacing(3);

  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-spacing(9);
    padding-bottom: govuk-spacing(6);
  }
}

.service-toolkit:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
