@import "govuk_publishing_components/vars_and_mixins";

.related-item {
  padding-top: govuk-spacing(4);

  @include govuk-media-query($from: tablet) {
    border-top: 1px solid $govuk-border-colour;
  }
}
