@import "govuk_publishing_components/individual_component_support";

.app-promo {
  padding-top: govuk-spacing(6);
  border-top: 4px solid $govuk-brand-colour;
  margin-top: govuk-spacing(8);

  @include govuk-media-query($from: "tablet") {
    margin-top: govuk-spacing(9);
  }
}
