.country-notice {
  @include govuk-font(19);

  background-color: govuk-colour('blue');
  color: govuk-colour('white');
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(4);

  @include govuk-media-query($from: tablet) {
    padding: govuk-spacing(4) govuk-spacing(6);
  }
}

.country-notice__pretext {
  float: left;
  padding-right: govuk-spacing(1);
}

.country-notice__text {
  @include govuk-font(19, $weight: bold);
}
