@import "govuk_publishing_components/individual_component_support";
@import "../helpers/parts";

.travel-container {
  .country-filter-form {
    display: none;

    .govuk-frontend-supported & {
      display: block;
    }
  }

  .country-filter-form__form-group {
    border: 0;
    margin: 0;
    padding: 0;
  }

  .subscriptions-wrapper {
    @include govuk-media-query($from: tablet) {
      .govuk-frontend-supported & {
        text-align: right;
      }
    }
  }

  .app-full-width-break {
    clear: both;
    margin-right: govuk-spacing(3);
    margin-left: govuk-spacing(3);
  }

  .countries__heading {
    margin: 0;
  }

  .country-count {
    margin: 0;
  }

  .filter-count,
  .countries-initial-letter {
    @include govuk-font(80, $weight: bold);
  }

  .countries-initial-letter {
    margin-top: .37em;
    margin-bottom: govuk-spacing(3);
    padding-top: 0;
  }

  .countries-list {
    border-bottom: 1px solid $govuk-border-colour;
    display: block;
    padding-bottom: govuk-spacing(4);
  }

  .countries-list__item {
    box-sizing: border-box;
    color: $govuk-secondary-text-colour;
    float: left;
    padding-right: govuk-spacing(3);
    width: 50%;
  }

  .countries-list__link {
    margin-right: govuk-spacing(2);
  }
}

// TODO: remove input margin and border reset once the global input[type="text"]
// styles are gone from static.
.travel-advice {
  #country-filter input { // stylelint-disable-line selector-max-id
    border: 2px solid $govuk-input-border-colour;
    margin: 0;
  }

  @include parts;

  .part-navigation {
    margin-bottom: govuk-spacing(8);
  }

  // TODO: Remove this when components can accept variable unidirectional spacing,
  // the component above should have a bigger margin-bottom.
  .map {
    @include responsive-bottom-margin;

    margin-top: govuk-spacing(6);

    .map-image {
      max-width: 100%;
    }
  }
}

.metadata__update {
  display: block;
  margin-bottom: govuk-spacing(2);
}

.travel-advice-notice {
  background-color: govuk-colour("light-grey");
  border: 1px solid $govuk-border-colour;
  margin-bottom: govuk-spacing(7);
  position: relative;
}

.travel-advice-notice__header {
  padding: govuk-spacing(4) govuk-spacing(4) 0 govuk-spacing(3);
}

.travel-advice-notice__content {
  margin-top: - govuk-spacing(3);
  padding: 0 govuk-spacing(4) 0 govuk-spacing(9);
}

.travel-advice-notice__icon {
  margin-left: govuk-spacing(3);
}