.category-page {

  header.page-header {

    div {
      padding-bottom: 0;
      padding: 20px 30px;

      @include media(mobile) {
        padding: 15px;
      }

      h1 {
        @include bold-48;
        width: 75%;
        padding: 20px 0;

        @include media(mobile) {
          width: auto;
          padding: 0 0 15px;
        }
      }

      h2 {
        @include core-24;
        color: inherit;
        margin: 0;
      }
    }
  }

  .browse-container {
    background-color: #fff;
    min-height: 500px;
    padding: 0 30px 45px 30px;

    h2, h3 {
      @include bold-19;
      margin-bottom: 0;
    }

    @include media(mobile) {
      padding: 0 15px 30px 15px;
      min-height: auto;
    }

    @include ie-lte(8) {
      padding: 0 3.5% 30px;
    }

    .category-description {
      margin-bottom: 45px;
      width: 65.5%;

      @include media(mobile) {
        margin-bottom: 15px;
        width: auto;
      }

      p {
        @include core-24;
        margin: 0;
      }
    }

    .detailed-guidance {
      border: solid 4px #2B8CC4;
      padding: 15px;
      margin-top: 30px;

      h2 {
        padding: 0 (16/24 * 15px); // heading is 24, base is 16
      }

      li {
        float: left;
        width: 50%;

        @include media(mobile) {
          width: auto;
          float: none;
        }

        h3 {
          padding: 0 (16/19 * 15px); // this heading is 19, base is 16
        }

        p {
          padding: 0 15px;
        }

        &:nth-child(odd) {
          clear: left;
        }
      }

    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin-bottom: 30px;

        p {
          margin: 0;
          word-wrap: break-word;
        }
      }

      &.categories {
        padding: 15px 0 0 0;
        width: 100%;

        li {
          margin: 0 -30px;
          padding: 15px 30px;

          h2 {
            margin: 0;
          }

          h2, p {
            width: 65.5%;

            @include media(mobile) {
              width: auto;
            }
          }
        }
      }

      &.sub-categories {
        padding: 0;

        @include ie-lte(8) {
          margin: 0 -30px;
        }

        li {
          float: left;
          margin-right: 3.5%;
          margin-bottom: 30px;
          width: 31%;

          &:nth-child(3n) {
            margin-right: 0;
          }

          &:nth-child(3n+1) {
            clear: left;
          }

          @include media(mobile) {
            float: none;
            margin-right: 0;
            width: auto;
          }

          @include ie-lte(8) {
            float: none;
            margin-right: 0;
            margin-left: 3.5%;
            display: inline-block;
            vertical-align: top;
            width: 28.5%;
          }

          @include ie-lte(7) {
            display: inline;
            zoom: 1;
          }
        }
      }

      &.content-list {
        padding: 5px 0 0 0;
        width: 100%;

        li {
          margin: 0 -20px;
          padding: 5px 20px 10px;

          h3, p {
            width: 65.5%;

            @include media(mobile) {
              width: auto;
            }
          }
        }
      }
    }
  }

  .business-browse, .industry-sector-browse {

    nav {
      padding-top: 1em;
      padding-bottom: 1em;
      
      h1 {
        font-size: 1.25em;

        @include media(desktop) {
          float: left;  
          font-size: 1.5em;
        }
      }

      ul {
        display: block;

        @include media(desktop){
          margin-left: 20.5em;
        }

        li {
          margin-bottom: 1.5em;
          
          ul {
            display: inline-block;
            margin: 0;
            list-style: none;

            li {
              display: inline-block;
              margin-right: 10px;
              margin-bottom: 0;

              a {
                color: darken($grey-1, 15%);
                text-decoration: none;
              }
              a:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    .popular {
      border-top: 1px solid $border-colour;
      p {
        color: darken($grey-1, 15%);
        font-size: 1em;
      }
    }

    .getting-started {
      @include media(desktop) {
        h1 {
          width: 6em;
          line-height: 1.3;
        }
      }

      > ul {
        @include media(desktop) {
          &:after {
            content: '.';
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
          }
        }

        > li {
          @include media(desktop) {
            width: 50%;
            float: left;

            h2, ul {
              width: 90%
            }

            &:nth-child(3) {
              clear: both;
            }

            &:nth-child(even) {
              h2, ul {
                margin-left: 16px;
              }
            }
          }
          ul li {
            display: block;
          }
        }
      }
    }

    .find-out-more {
      @include media(desktop) {
        h1 {
          width: 7em;
          line-height: 1.3;
        }
      }
      li {
        margin-bottom: 0;
      }
    }

    .getting-started, .find-out-more {
      border-top: 1px solid $border-colour;
    }
  }
}
