html, #wrapper {
  background-color: transparent;
}

.category-page {

  header.page-header {

    hgroup {
      padding-bottom: 0;
      padding: 2rem 3rem;

      @include media(mobile) {
        padding: 1em 1em 0 1em;
      }

      h1 {
        @include bold-48;
        width: 75%;
        padding: 2rem 0;

        @include media(mobile) {
          width: auto;
          padding: 0;
        }
      }

      h2 {
        @include core-24;
        color: inherit;
        margin: 0;
      }
    }
  }

  .browse-container {
    background-color: #fff;
    min-height: 35em;
    padding: 0 3rem 4.5rem 3rem;

    h2 {
      @include bold-19;
      margin-bottom: 0;
    }

    @include media(mobile) {
      padding: 0 1em 2em 1em;
      min-height: auto;
    }

    @include ie-lte(8) {
      padding: 0 3.5% 2em;
    }

    .category-description {
      margin-bottom: 4.5rem;
      width: 65.5%;

      @include media(mobile) {
        margin-bottom: 1em;
        width: auto;
      }

      p {
        @include core-24;
        margin: 0;
      }
    }

    .detailed-guidance {
      border: solid 4px #2B8CC4;
      padding: 1em 1em;
      margin-top: 2em;

      h2 {
        padding: 0 (16/24 * 1em); // heading is 24, base is 16
      }

      li {
        float: left;
        width: 50%;

        @include media(mobile) {
          width: auto;
          float: none;
        }

        h3 {
          padding: 0 (16/19 * 1em); // this heading is 19, base is 16
        }

        p {
          padding: 0 1em;
        }

        &:nth-child(odd) {
          clear: left;
        }
      }

    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin-bottom: 2.5rem;

        p {
          margin: 0;
          word-wrap: break-word;
        }
      }

      &.categories {
        padding: 1em 0 0 0;
        width: 100%;

        li {
          margin: 0 -2em;
          padding: 1em 2em;

          h2 {
            margin: 0;
          }

          h2, p {
            width: 65.5%;

            @include media(mobile) {
              width: auto;
            }
          }

          &:nth-child(odd) {
            background-color: $highlight-colour;
          }
        }
      }

      &.sub-categories {
        padding: 0;

        @include ie-lte(8) {
          margin: 0 -2em;
        }

        li {
          float: left;
          margin-right: 3.5%;
          margin-bottom: 1.5em;
          width: 31%;

          &:nth-child(3n) {
            margin-right: 0;
          }

          &:nth-child(3n+1) {
            clear: left;
          }

          @include media(mobile) {
            float: none;
            margin-right: 0;
            width: auto;
          }

          @include ie-lte(8) {
            float: none;
            margin-right: 0;
            margin-left: 3.5%;
            display: inline-block;
            vertical-align: top;
            width: 28.5%;
          }

          @include ie-lte(7) {
            display: inline;
            zoom: 1;
          }
        }
      }

      &.content-list {
        padding: 1em 0 0 0;
        width: 100%;

        li {
          margin: 0 -2em;
          padding: 0.5em 2em 1em;

          h3, p {
            width: 65.5%;

            @include media(mobile) {
              width: auto;
            }
          }

          &:nth-child(odd) {
            background-color: $highlight-colour;
          }
        }
      }
    }
  }
}
