body.search {
  #global-header #search,
  #global-breadcrumb {
    display: none;
  }
}

.search {
  padding-bottom: 30px;
  background: $white;

  @include media(tablet) {
    padding-bottom: 60px;
  }

  h1 {
    @include core-24;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .search-header {
    position: relative;
    margin: 0;
    padding: 10px 15px 15px;
    overflow: visible;

    @include media(tablet) {
      padding: 20px 30px 30px;
      width: 66.666%;
    }

    .search-input {
      position: static;
      margin: 0;
      padding: 0 50px 0 0;

      @include ie(7) {
        padding-right: 62px;
      }
    }

    .search-submit {
      position: absolute;
      bottom: 15px;
      right: 15px;
      height: 50px;
      width: 50px;
      overflow: visible;

      @include media(tablet) {
        bottom: 30px;
        right: 30px;
      }
    }

    input {
      @include core-19;
      @include box-sizing(border-box);
      width: 100%;
      margin: 0;
      padding: 0 0 0 10px;
      display: block;
      height: 50px;
      border-color: $border-colour;
      border-right: none;
      line-height: 48px!important;

      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }

      @include ie-lte(7) {
        height: 48px;
        margin-bottom: -1px;
      }
    }

    button {
      @include border-radius(0);
      @include box-shadow(none);
      position: absolute;
      z-index: 4;
      right: 0;
      top: 0;
      width: 50px;
      height: 50px;
      border: none;
      overflow: hidden;
      text-indent: -5000px;
      color: $white;
      background-color: #28a197;
      background-image: image-url("search/search-button.png");
      background-repeat: no-repeat;
      background-position: -12.5% 50%;
      &:hover {
        background-color: #3ABAA8;
      }
    }
  }

  #search-results-tabs.shouty-tabs {
    #search-index-navigation {
      position: relative;
      top: 1px;
      margin: 0;
      padding: 0 15px;

      @include media(tablet) {
        padding: 0 30px;
      }

      li {
        margin: 0;
        float: left;
        display: inline;
        list-style: none;
      }

      a {
        @include core-24; 
        font-weight: bold;
        display: block;
        overflow: hidden;
        margin: 5px 5px 6px;
        padding: 5px 4px 4px;
        text-decoration: none;
        background: $panel-colour;
        border: 1px solid $panel-colour;
        border-bottom: none;

        &:hover,
        &:focus {
          .label {
            text-decoration: underline;
          }
        }

        @include media(tablet) {
          padding: 11px 14px 9px 9px;
        }

        @include ie(6) {
          float: left;
        }
      }

      li.active a {
        background: $white;
        padding: 10px 9px 10px;
        margin: 0;
        border-color: $border-colour;

        @include media(tablet) {
          padding: 16px 19px 15px 14px;
        }

        &:focus {
          outline: none;
        }

        .label {
          text-decoration: none;
        }
      }

      &.two-tabs li {
        @include media(tablet) {
          width: 50%;
        }

        @include media(desktop) {
          width: auto;
          min-width: 33.333%;
        }

        @include ie(7) {
          min-width: 0%;
        }
      }
    }
  }

  .tab-content .tab-pane {
    border-top: 1px solid $border-colour;
  }

  .search-filter {
    padding: 15px 15px 0;
    @include media(tablet) {
      padding: 30px 30px 0;
    }
    label, select {
      margin-right: 1em;
    }
    label {
      display: block;
      @include core-14;
      font-weight: bold;
      padding-top: 8px;
      padding-bottom: 4px;
    }
    select {
      margin-bottom: 15px;
      width: 100%;
      max-width: 500px;
      @include media(tablet) {
        @include core-14;
        border: 1px solid #555;
        padding: 5px 20px 5px 10px;
        background: #fff;
        background-image: image-url('search/dropdown-arrow-small.png');
        background-repeat: no-repeat;
        background-position: right center;
        border-color: $border-colour;
        @include box-shadow(1px 1px 1px #fff);
        @include border-radius(5px);
        @include appearance(none);
      }
    }
    button {
      @include core-16;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
    }
  }

  .results-list {
    list-style: none;
    margin: 0;
    padding: 15px 15px 0;

    @include media(tablet) {
      padding: 30px 30px 0;
    }

    li {
      max-width: 32.5em;
      margin: 0;
      padding: 0 0 15px;

      @include media(tablet) {
        padding: 0 0 25px;
      }

      @include ie(6) {
        width: 32.5em;
      }
    }

    h3 {
      @include core-24;
      margin: 0;

      a {
        font-weight: bold;
        text-decoration: none;

        &:hover, &:focus {
          color: $link-colour;
          text-decoration: underline;
        }
      }

      a[rel="external"]::after {
        content: "\A0\A0\A0\A0\A0\A0";
      }
    }

    .attributes {
      @include core-14;
      color: $secondary-text-colour;
      padding: 2px 0 3px;
      margin: 0;

      li {
        display: inline;
        padding: 0;

        &:after {
          content:',';
          position: relative;
          left: -0.25em;
        }

        &:last-child::after {
          content:'';
        }
      }
    }

    p {
      @include core-16;
      margin: 0;
      padding: 0;

      &.meta {
        @include core-14;
        padding: 2px 0 3px;
        word-wrap: break-word;
        color: $secondary-text-colour;

        .subsection,
        .subsubsection {
          background: transparent image-url("search/separator.png") 0 40% no-repeat;
          padding-left: 15px;
          margin-left: 5px;
        }
      }
    }
  }

  #top-results {
    position: relative;
    margin: 0;
    padding: 0;
    clear: both;
    background: $white;

    .results-list {
      padding-top: 0;
    }
  }
  
  #government-results-enhanced {
    @include media(tablet) {
      .filters {
        width: 33%;
        float: left;
      }
      .results {
        width: 66%;
        float: left;
      }
    }
  }

  .no-results {
    overflow: hidden;
    margin: 0;
    padding: 0 15px 40px;

    @include media(tablet) {
      padding: 0 30px 70px;
    }

    h2 {
      @include core-36;
      font-weight: bold;
    }
  }

  #search-results-tabs .no-results {
    padding-top: 40px;
  }

  .recommended-links {
    overflow: hidden;

    @include media(tablet) {
      float: right;
      display: inline;
      width: 33.333%;
    }

    h2 {
      @include core-16;
      padding: 15px 15px 10px;

      @include media(tablet) {
        padding: 30px 30px 10px;
      }
    }

    h3 {
      @include core-19;
    }

    .results-list {
      padding-top: 0;
    }
  }

  .nav-tabs {
    @include media(tablet) {
      margin: 0;
      padding: 0 30px;
    }

    ul {
      margin: 0;
    }

    .active {
      a {
        outline: none;
      }
    }
  }

  .tab-content {
    clear: both;
    margin: 0;

    .inner {
      padding: 0;
    }
  }

  .tab-pane {
    padding: 0;
  }
}

.search-launcher {
  padding-top: 30px;
  padding-bottom: 130px;

  @include media(tablet) {
    padding-top: 40px;
    padding-bottom: 300px;

    h1 {
      @include core-48;
      font-weight: bold;
      padding-bottom: 15px;
    }
  }
}
