.travel-advice {
  .country-metadata {
    padding: 0;
    margin: 0;
    color: $secondary-text-colour;
    li {
      @include core-16;
      list-style: none;
      padding: 0;
      margin: 0;
    }

  }
}
