.travel-advice {
  article .list {
    ul { padding-left: 0; }
    li { list-style: none; padding-left: 0; }
  }

  .country-metadata {
    padding: 0;
    margin: 0;
    color: $secondary-text-colour;
    li {
      @include core-16;
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }

  .meta-data .print-link {
    margin: 1em 0;
  }
}
