<div class="local-authority-result"
     data-module="auto-track-event"
     data-track-category="userAlerts:local_transaction"
     data-track-action="postcodeResultShown:laMatchNoLinkNoAuthorityUrl">
  <p class="govuk-body"><%= t('formats.local_transaction.no_local_authority_url_html') %></p>
</div>
