@mixin responsive-bottom-margin {
  margin-bottom: govuk-spacing(3);

  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-spacing(8);
  }
}

.responsive-bottom-margin {
  @include responsive-bottom-margin;
}
