<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: content_item.title,
      context: I18n.t("formats.fields_of_operation.context"),
      font_size: "xl",
      margin_bottom: 8,
      heading_level: 1,
      lang: content_item.locale,
    } %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list">
          <% content_item.fields_of_operation.each do |content_item| %>
              <%= link_to content_item.title, content_item.base_path, class: "govuk-link" %>
              <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-2 govuk-!-margin-bottom-2">
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
