<% content_for :header do %>
  <%= render "shared/headers/page_title", options: content_item_presenter.page_title_options.merge!({ context: I18n.t("formats.fields_of_operation.context"), context_locale: I18n.locale }) %>
<% end %>

<% content_for :content do %>
  <%
    list_items = content_item.fields_of_operation.map do |content_item|
      sanitize("<a href='#{content_item.base_path}' class='govuk-link'>#{content_item.title}</a>")
    end
  %>

  <%= render "govuk_publishing_components/components/list", {
    extra_spacing: true,
    items: list_items,
  } %>
<% end %>
