<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: content_item.title,
      context: I18n.t("formats.fields_of_operation.context"),
      font_size: "xl",
      margin_bottom: 8,
      heading_level: 1,
      lang: content_item.locale,
    } %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%
          list_items = content_item.fields_of_operation.map do |content_item|
            sanitize("<a href='#{content_item.base_path}' class='govuk-link'>#{content_item.title}</a>")
          end
        %>

        <%= render "govuk_publishing_components/components/list", {
          extra_spacing: true,
          items: list_items,
        } %>
      </div>
    </div>
  </div>
</div>
