<% content_for :extra_headers do %>
  <meta name="description" content="<%= content_item.description %>">
<% end %>

<% content_for :before_content do %>
  <div class="govuk-width-container">
    <%= render "govuk_publishing_components/components/breadcrumbs",
      collapse_on_mobile: true,
      breadcrumbs: content_item.breadcrumbs %>
  </div>
<% end %>

<div class="govuk-width-container">
  <% content_item.flexible_sections.each do |flexible_section| %>
    <div class="govuk-grid-row">
      <%= render("flexible_page/flexible_sections/#{flexible_section.type}", flexible_section:) %>
    </div>
  <% end %>
</div>
