<% content_for :head do %>
  <meta name="description" content="<%= content_item.description %>">
  <%= stylesheet_link_tag "views/_flexible-content", media: "all" %>
<% end %>

<% content_for :before_content do %>
  <div class="govuk-width-container">
    <%= render "govuk_publishing_components/components/breadcrumbs",
      collapse_on_mobile: true,
      breadcrumbs: content_item.breadcrumbs %>
  </div>
<% end %>

<div class="govuk-width-container">
  <% content_item.flexible_sections.each do |flexible_section| %>
    <%= render("flexible_page/flexible_sections/#{flexible_section.type}", flexible_section:) %>
  <% end %>
</div>
