/* os-api-branding.css v0.3.1 */

.os-api-branding {
  position: absolute;
  bottom: 0;
  margin: 0;
  display: block;
  z-index: 1000;
  pointer-events: none;
}

.os-api-branding.logo {
  left: 0;
  padding: 8px;
  width: 90px;
  height: 24px;
  background-image: url(missions/os-logo-maps.svg);
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: content-box;
}
.os-api-branding.logo.white {
  background-image: url(missions/os-logo-maps-white.svg);
}

.os-api-branding.copyright {
  right: 0;
  padding: 0 4px;
  font: 10px Arial, sans-serif;
  line-height: 16px;
  background: rgba(255, 255, 255, 0.7);
}
.os-api-branding.copyright span {
  margin: 0 4px;
}
.os-api-branding.copyright a:link,
.os-api-branding.copyright a:visited,
.os-api-branding.copyright a:hover,
.os-api-branding.copyright a:active {
  color: #0071bc;
  text-decoration: none;
  pointer-events: all;
  cursor: pointer;
}
.os-api-branding.copyright a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 420px) {
  /* max-width 420px, mobile-only styles */
  .os-api-branding.copyright {
    display: none;
  }
}
