<%= render "govuk_publishing_components/components/heading",
      text: "Next elections",
      font_size: "m",
      margin_bottom: 4
  %>
<% if @presenter.upcoming_elections.present? %>
<p class="govuk-body">The upcoming elections for your area are as follows:</p>
<%= render "govuk_publishing_components/components/list", {
    visible_counters: true,
    items: @presenter.upcoming_elections
  } %>
<% else %>
  <p class="govuk-body">There are no upcoming elections for your area</p>
<% end %>
