<% content_for :title, t("attachment.virus_check.intro") %>

<div class="holding-block">
  <%= render "govuk_publishing_components/components/title", {
    title: t("attachment.virus_check.intro"),
  } %>
  <p class="govuk-body introduction"><%= t("attachment.virus_check.message") %></p>
</div>
