<% h1_size ||= "l" %>
<div class="govuk-grid-row gem-print-columns-none translation-nav-header">
  <div class="govuk-grid-column-two-thirds translation-nav-header__child">
    <%= render "govuk_publishing_components/components/heading",
      context: content_item.context,
      context_locale: t_locale_fallback("formats.#{content_item.document_type}.name", default: nil, count: 1),
      dir: page_text_direction,
      text: content_item.title,
      heading_level: 1,
      font_size: h1_size,
      margin_bottom: 0 %>
  </div>
  <% if content_item.available_translations? %>
    <div class="govuk-grid-column-one-third translation-nav-header__child">
      <%= render "govuk_publishing_components/components/translation_nav", {
        translations: translations_for_nav(content_item.available_translations),
        margin_bottom: 0,
        no_margin_top: true,
      } %>
    </div>
  <% end %>
</div>

<% if content_item.lead_paragraph %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/lead_paragraph",
        dir: page_text_direction,
        text: content_item.lead_paragraph %>
    </div>
  </div>
<% end %>
