<%# Honeypot field intended to reduce spam %>
<div class="govuk-visually-hidden" aria-hidden="true">
  <label for="giraffe"></label>
  <input type="text" tabindex="-1" autocomplete="off" id="giraffe" name="<%= "#{form_name}" %>[giraffe]"/>
</div>
