<% if @content_item.available_translations.any? %>
  <div class="govuk-grid-column-one-third">
    <%= render "govuk_publishing_components/components/translation_nav",
        translations: translations_for_nav(@content_item.available_translations) %>
  </div>
<% end %>
