<% content_for :title, "#{I18n.t('csv_preview.access_limited.title')} - GOV.UK" %>

<main id="content" role="main" class="govuk-main-wrapper">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p class="govuk-body">
          <%= I18n.t("csv_preview.access_limited.body") %>
        </p>
      </div>
    </div>
  </div>
</main>
