<main id="content" role="main" class="govuk-main-wrapper">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p class="govuk-body">
          <%= link_to("See more information about this guidance", @asset["parent_document_url"], class: "govuk-link") %>
        </p>
      </div>
    </div>
  </div>
</main>
