<% content_for :title, "Code | Platform | GOV.UK" %>
<section id="content" role="main" class="group ancillary platform">

	<header class="page-header group">
		<hgroup>
		  <h1>Platform tools and resources for developers</h1>
		</hgroup>
	</header>

  <%= render :partial => 'menu' %>
  <article role="article" class="group">
    <section>
      <h1>Code</h1>
    </section>
  </article>
</section>