<%= render partial: "error_page", locals: {
    heading: "You are not permitted to see this page",
    intro: '<p class="govuk-body">This page is restricted to certain users only.</p>',
    status_code: 403,
} %>
