<%= render partial: "error_page", locals: {
    heading: "You are not allowed to do this action",
    intro: '<p class="govuk-body">This page does not support the action you requested.</p>',
    status_code: 405,
} %>
