<%= render partial: "error_page", locals: {
    heading: "The page you’re looking for cannot be found",
    intro: '<p class="govuk-body">If you entered a web address, check it is correct.</p>
      <p class="govuk-body">You can <a class="govuk-link" href="/">browse from the homepage</a> or use the search box above to find the information you need.</p>',
    status_code: 406,
} %>
