<%= render partial: "error_page", locals: {
  heading: "Sorry, we’re experiencing technical difficulties",
  intro: '<p class="govuk-body">Please try again in a few moments.</p>',
  status_code: 504,
} %>
