<% content_for :before_content do %>
<div class="landing-page-header">
  <div class="govuk-width-container">
    <div class="landing-page-header__blue-bar">
    </div>

    <div class="govuk-!-margin-bottom-8">
      <%= yield :landing_page_breadcrumbs %>
    </div>
  </div>
</div>
<% end %>

<%= yield :landing_page_blocks %>
