<div class="landing-page-header__org">
  <%= render "govuk_publishing_components/components/organisation_logo", {
    organisation: {
      name: sanitize("Prime Minister's Office<br>10 Downing Street"),
      url: "/government/organisations/prime-ministers-office-10-downing-street",
      brand: "prime-ministers-office-10-downing-street",
      crest: "eo",
    },
    inverse: true,
    inline: true,
  } %>
</div>