<article role="article" class="group">
  <div class="inner">
    <div class="intro">
      <div class="get-started-intro">
        <h1>Apply for this licence</h1>

        <p id="get-started" class="get-started group">
           <a href="<%= @publication.continuation_link %>" rel="external" class="button">Start now</a>
           <% if @publication.will_continue_on.present? %><span class="destination"> on <%= @publication.will_continue_on %></span><% end %>
        </p>
      </div>
    </div>

    <div id="overview">
      <header>
        <h1>Overview</h1>
      </header>

      <%= (@publication.licence_overview || "").html_safe %>
    </div>
  </div>
</article>
