<section class="intro inner">
  <div class="get-started-intro">
    <p>You can't apply for this licence online. Please contact your local council.</p>
  </div>
</section>

<div id="overview" class="inner">
  <h1>Overview</h1>
  <%= to_govspeak(@licence.licence_overview) %>
</div>
