<% if draft_host? %>
  <%
    add_view_stylesheet("landing_page/block-error")
  %>
  <div class="app-b-block-error">
    <%= render "govuk_publishing_components/components/heading", {
      text: block.error.message,
      heading_level: 3,
    } %>
  </div>
<% end %>
