<div class="blocks-container">
  <% block.children.each do |child| %>
    <% options = { margin_bottom: 6 } if child.type == 'heading' %>
    <%= render_block(child, options: options)  %>
  <% end %>
</div>
