<%
  add_view_stylesheet("landing_page/card")
%>
<div class="app-b-card">
  <% block.card_content.each do |subblock| %>
    <% if subblock.data["type"] == "heading" %>
      <div class="app-b-card__textbox">
        <%= render_block(subblock)  %>
      </div>
    <% elsif subblock.data["type"] == "statistics" %>
      <div class="app-b-card__chart">
        <%= render_block(subblock)  %>
      </div>
    <% else %>
      <%= render_block(subblock)  %>
    <% end %>
  <% end %>

  <% if block.image %>
    <figure class="app-b-card__figure">
      <%= image_tag(block.image.source, alt: block.image.alt, class: "app-b-card__image") %>
    </figure>
  <% end %>
</div>
