<%
  add_view_stylesheet("landing_page/grid")
%>

<div class="grid-container">
  <% block.children.each do |child| %>
    <%= render "landing_page/blocks/#{child.type}", block: child %>
  <% end %>
</div>
