<%
  add_view_stylesheet("landing_page/quote")
%>

<div class="app-b-quote">
  <svg focusable="false" class="app-b-quote__svg" width="31" height="21" viewBox="0 0 31 21" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
    <path d="M23.8008 20.6531C22.6992 20.6531 21.7031 20.4421 20.8125 20.0203C19.9453 19.5984 19.1953 19.0242 18.5625 18.2976C17.9531 17.571 17.4727 16.7273 17.1211 15.7664C16.793 14.782 16.6289 13.7273 16.6289 12.6023C16.6289 11.3367 16.8164 10.0359 17.1914 8.69995C17.5898 7.34058 18.2461 6.08667 19.1602 4.93823C20.0977 3.76636 21.3164 2.75854 22.8164 1.91479C24.3398 1.07104 26.2266 0.520264 28.4766 0.262451L29.707 3.95386L28.7227 4.23511C27.5039 4.58667 26.4961 4.98511 25.6992 5.43042C24.9258 5.87573 24.3047 6.34448 23.8359 6.83667C23.3672 7.32886 23.0156 7.82104 22.7812 8.31323C22.5703 8.78198 22.4297 9.22729 22.3594 9.64917C22.6172 9.41479 22.9453 9.25073 23.3438 9.15698C23.7422 9.03979 24.1641 8.9812 24.6094 8.9812C25.3594 8.9812 26.0625 9.11011 26.7188 9.36792C27.3984 9.60229 27.9844 9.95386 28.4766 10.4226C28.9922 10.8914 29.4023 11.4773 29.707 12.1804C30.0117 12.8835 30.1641 13.6921 30.1641 14.6062C30.1641 15.45 29.9883 16.2468 29.6367 16.9968C29.3086 17.7234 28.8516 18.3562 28.2656 18.8953C27.6797 19.4343 27 19.8679 26.2266 20.196C25.4531 20.5007 24.6445 20.6531 23.8008 20.6531ZM7.17188 20.6531C6.07031 20.6531 5.07422 20.4421 4.18359 20.0203C3.31641 19.5984 2.56641 19.0242 1.93359 18.2976C1.32422 17.571 0.84375 16.7273 0.492188 15.7664C0.164062 14.782 0 13.7273 0 12.6023C0 11.3367 0.1875 10.0359 0.5625 8.69995C0.960938 7.34058 1.61719 6.08667 2.53125 4.93823C3.46875 3.76636 4.6875 2.75854 6.1875 1.91479C7.71094 1.07104 9.59766 0.520264 11.8477 0.262451L13.0781 3.95386L12.0938 4.23511C10.875 4.58667 9.86719 4.98511 9.07031 5.43042C8.29688 5.87573 7.67578 6.34448 7.20703 6.83667C6.73828 7.32886 6.38672 7.82104 6.15234 8.31323C5.94141 8.78198 5.80078 9.22729 5.73047 9.64917C5.98828 9.41479 6.31641 9.25073 6.71484 9.15698C7.11328 9.03979 7.53516 8.9812 7.98047 8.9812C8.73047 8.9812 9.43359 9.11011 10.0898 9.36792C10.7695 9.60229 11.3555 9.95386 11.8477 10.4226C12.3633 10.8914 12.7734 11.4773 13.0781 12.1804C13.3828 12.8835 13.5352 13.6921 13.5352 14.6062C13.5352 15.45 13.3594 16.2468 13.0078 16.9968C12.6797 17.7234 12.2227 18.3562 11.6367 18.8953C11.0508 19.4343 10.3711 19.8679 9.59766 20.196C8.82422 20.5007 8.01562 20.6531 7.17188 20.6531Z" fill="#0b0c0c"/>
  </svg>

  <blockquote class="app-b-quote__blockquote">
    <p class="app-b-quote__text"><%= block.data["text"] %></p>

    <cite class="app-b-quote__cite"><%= block.data["cite"] %></cite>
  </blockquote>
</div>
