<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% block = local_assigns[:locals]["left"] %>
    <%= render "landing_page/blocks/#{block["type"]}", locals: block %>
  </div>
  <div class="govuk-grid-column-one-third">
    <% block = local_assigns[:locals]["right"] %>
    <%= render "landing_page/blocks/#{block["type"]}", locals: block %>
  </div>
</div>
