<div class="govuk-grid-row">
  <div class="<%= block.left_column_class %>">
    <% if block.left.present? %>
      <%= render_block(block.left) %>
    <% end %>
  </div>
  <% if block.right.present? %>
    <div class="<%= block.right_column_class %>">
      <%= render_block(block.right) %>
    </div>
  <% end %>
</div>
