<div class="govuk-grid-row">
  <div class="<%= block.left_class %>">
    <%= render "landing_page/blocks/#{block.left.type}", block: block.left %>
  </div>
  <div class="<%= block.right_class %>">
    <%= render "landing_page/blocks/#{block.right.type}", block: block.right %>
  </div>
</div>
