<div data-module="track-start-page-tabs gtm-click-tracking">
  <%
    total_tabs = transaction.tab_count
    last_tab_index = 2
    last_tab_index = 3 if total_tabs == 3
  %>
  <%= render "govuk_publishing_components/components/tabs", {
    panel_border: false,
    tabs: [
      {
        id: ('more-information' if transaction.more_information.present?),
        label: t('formats.transaction.more_information'),
        tab_data_attributes: {
          gtm_event_name: "select_content",
          gtm_attributes: {
            type: "tabs",
            text: t('formats.transaction.more_information'),
            index: 1,
            'index-total': total_tabs,
            section: 'n/a',
            action: 'n/a',
          },
        },
        content: render("govuk_publishing_components/components/govspeak", {}) do
                   raw(transaction.more_information)
                 end
      },
      {
        id: ('what-you-need-to-know' if transaction.what_you_need_to_know.present?),
        label: t('formats.transaction.what_you_need_to_know'),
        tab_data_attributes: {
          gtm_event_name: "select_content",
          gtm_attributes: {
            type: "tabs",
            text: t('formats.transaction.what_you_need_to_know'),
            index: 2,
            'index-total': total_tabs,
            section: 'n/a',
            action: 'n/a',
          },
        },
        content: render("govuk_publishing_components/components/govspeak", {}) do
                   raw(transaction.what_you_need_to_know)
                 end
      },
      {
        id: ('other-ways-to-apply' if transaction.other_ways_to_apply.present?),
        label: t('formats.transaction.other_ways_to_apply'),
        tab_data_attributes: {
          gtm_event_name: "select_content",
          gtm_attributes: {
            type: "tabs",
            text: t('formats.transaction.other_ways_to_apply'),
            index: last_tab_index,
            'index-total': total_tabs,
            section: 'n/a',
            action: 'n/a',
          },
        },
        content: render("govuk_publishing_components/components/govspeak", {}) do
                   raw(transaction.other_ways_to_apply)
                 end
      }
    ].reject {|item| item[:id].blank?}
  } %>
</div>
