// Colour styles - hexidecimal

// For the base colours see:
// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_colours.scss


// These are extras which are only used in the frontend app.

$homepage-top-colour: $mainstream-brand;

