$theme-1-colour: #e60067;
$theme-2-colour: #73a312;
$theme-3-colour: #b55e08;
$theme-4-colour: #b900ff;
$theme-5-colour: #2c72db;
$theme-6-colour: #62162d;

// The following map is used by the borders and backgrounds helpers to iterate through 'theme' color options and 
// generate utility classes for each color variation e.g.
// .border-top--theme-1 {
//   border-top: 20px solid #e60067;
// }

$colours: (
  "1": $theme-1-colour,
  "2": $theme-2-colour,
  "3": $theme-3-colour,
  "4": $theme-4-colour,
  "5": $theme-5-colour,
  "6": $theme-6-colour,
);
