<html>
<head>
  <script>window.location.replace("<%=target%>")</script>
  <title>You are leaving gov.uk</title>
  <noscript>
    <META http-equiv="refresh" content="0;URL='<%= target %>'">
  </noscript>
</head>
</html>