  <div class="govuk-width-container" data-flexible-section="breadcrumbs">
    <%= render "govuk_publishing_components/components/breadcrumbs",
      collapse_on_mobile: true,
      breadcrumbs: flexible_section.breadcrumbs %>
  </div>
