<%
  classes = %w[]
  classes << "breadcrumbs--dark-background" if flexible_section.background
  classes << "full-width__element" if flexible_section.full_width
%>
<%= content_tag("div", class: classes, data: { flexible_section: "breadcrumbs" }) do %>
  <div class="govuk-width-container">
    <%= render "govuk_publishing_components/components/breadcrumbs", flexible_section.breadcrumbs_options %>
  </div>
<% end %>
