<div class="flexible-section cards" data-flexible-section="cards">
  <ul class="cards__container">
    <% flexible_section.items.each do |item| %>
      <li class="cards__item">
        <%= content_tag(flexible_section.heading, class: "cards__item-header") do %>
          <%= link_to(item[:title], item[:href], class: "cards__link govuk-link") %>
        <% end %>
        <p class="govuk-body govuk-!-margin-bottom-2"><%= item[:description] %></p>
      </li>
    <% end %>
  </ul>
</div>
