<div class="govuk-width-container flexible-section" data-flexible-section="featured">
  <%= render "govuk_publishing_components/components/heading", {
    text: "Featured",
    font_size: "l",
    padding: true,
    border_top: 5,
    margin_bottom: 3,
  } %>

  <div class="govuk-grid-row">
    <% flexible_section.items.each.with_index(1) do |item, index| %>
      <%
        ga4_tracking = {
          module: "ga4-link-tracker",
          ga4_track_links_only: true,
          ga4_link: flexible_section.ga4_tracking,
        } if flexible_section.ga4_tracking
      %>
      <%= tag.div(class: flexible_section.grid_layout_options[:class], data: ga4_tracking) do %>
        <%= render "govuk_publishing_components/components/image_card", {
          href: item[:href],
          image_src: item[:image_src],
          image_alt: item[:image_alt],
          heading_text: item[:heading_text],
          description: item[:description].truncate(160, separator: " "),
          large: flexible_section.grid_layout_options[:large],
        } %>
      <% end %>
      <% if index % flexible_section.grid_layout_options[:break_at_column] == 0 && index < flexible_section.items.length %>
        </div>
        <div class="govuk-grid-row">
      <% end %>
    <% end %>
  </div>
</div>
