<div class="govuk-grid-row flexible-section">
  <div class="govuk-grid-column-two-thirds" data-flexible-section="link">
    <p class="govuk-body"><%= link_to(flexible_section.link_text, flexible_section.link, class: "govuk-link") %></p>
  </div>
</div>
