<div class="govuk-grid-row flexible-section">
  <%= render "govuk_publishing_components/components/service_navigation", {
  navigation_items: [
    {
      text: flexible_section.text,
      href: flexible_section.url,
      active: true,
    },
  ],
} %>
</div>
