<div class="govuk-grid-column-two-thirds">
  <%= render "govuk_publishing_components/components/heading", {
    text: flexible_section.heading_text,
    context: flexible_section.context,
    heading_level: 1,
    font_size: "xl",
    margin_bottom: 8,
  } %>
  <%= render "govuk_publishing_components/components/lead_paragraph", {
    text: flexible_section.lead_paragraph,
  } %>
</div>
