<div class="govuk-grid-row">
  <%= render "shared/headers/page_title",
    options: {
      heading_text: flexible_section.heading_text,
      context: flexible_section.context,
      lead_paragraph: flexible_section.lead_paragraph } %>
</div>
