<div class="govuk-width-container">
  <div class="govuk-grid-row flexible-section">
    <div data-flexible-section="table">
      <%= render "govuk_publishing_components/components/table", flexible_section.hash_for_table_component %>
    </div>
  </div>
</div>