<% content_for :extra_headers do %>
  <meta name="robots" content="noindex, nofollow" />
<% end %>

<%= render layout: 'shared/base_page', locals: {
  main_class: 'transaction-done',
  title: "Thank you",
  publication: @publication,
  edition: @edition,
} do %>
  <% if @publication.promotion %>
    <% if @publication.promotion['category'] == 'organ_donor' %>
      <div id="organ-donor-registration-promotion">
        <p>Please join the NHS Organ Donor Register.</p>
        <p>If you needed an organ transplant would you have one? If so please help others.</p>
        <p>If you live in Wales and want to be an organ donor, you don’t need to do anything. Find out about your choices for <a href="https://www.organdonation.nhs.uk/supporting-my-decision/welsh-legislation-what-it-means-for-me/" rel="external">organ donation in Wales</a>.</p>
        <p>
          <%= link_to 'Join', @publication.promotion['url'],
                title: "Register to become an organ donor", rel: "external", class: "button", role: "button" %>
        </p>
      </div>
    <% end %>
  <% end %>

  <% if show_survey? %>
    <div class="satisfaction-survey">
      <% if AssistedDigitalSatisfactionSurvey.show_help_with_fees_survey? @publication.slug %>
        <%= render 'assisted_digital_help_with_fees_satisfaction_survey', publication: @publication %>
      <% else %>
        <%= render 'standard_satisfaction_survey', publication: @publication %>
      <% end %>
    </div>
  <% end %>
<% end %>
