<%
  add_view_stylesheet("landing_page")
%>

<div class="landing-page-header">
  <div class="govuk-width-container">
    <div class="landing-page-header__blue-bar">
    </div>

    <%= render 'govuk_publishing_components/components/contextual_breadcrumbs', content_item: content_item_hash, inverse: true %>

    <div class="landing-page-header__org">
      <%= render "govuk_publishing_components/components/organisation_logo", {
        organisation: {
          name: sanitize("Prime Minister's Office<br>10 Downing Street"),
          url: "/government/organisations/prime-ministers-office-10-downing-street",
          brand: "prime-ministers-office-10-downing-street",
          crest: "eo",
        },
        inverse: true,
        inline: true,
      } %>
    </div>
  </div>
</div>

<main class="landing-page" id="content">
  <% @content_item.blocks.each do |block| %>
    <%
      classes = %w[]
      classes << "landing-page__full-background" if block.full_background?
      classes << "landing-page__full-background--padding" if block.full_background_padding?
    %>
    <%= tag.div class: classes do %>
      <%= tag.div class: ["govuk-block__#{block.type}", ("govuk-width-container" unless block.full_width?)] do
        render_block(block)
      end %>
    <% end %>
  <% end %>
  <% if @content_item.blocks.empty? %>
    Warning: No blocks specified for this page
  <% end %>
</main>
