<% content_for :title do %><%= @page_title %><% end %>
<section id="content" role="main" class="group sections-page">
  <header class="page-header group">
    <hgroup>
      <h1>Browse</h1>
    </hgroup>
  </header>

  <div class="browse-sections">
    <p>Index SHABBA</p>
    <dl>
    </dl>
  </div>
</section>
