<% content_for :title do %><%= @page_title %><% end %>

<section id="content" role="main" class="group category-page">
  <header class="page-header group">
    <hgroup class="full-width">
      <h1>All categories</h1>
    </hgroup>
  </header>

  <div class="browse-container full-width group">
    <ul class="categories group">
      <li>
        <h2><a href="#">Lord of the Rings</a></h2>
        <p>Starring all your favourite developers.</p>
      </li>
    </ul>
  </div>
</section>

<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag 'browse-categories' %>
<% end %>