<section id="content" role="main" class="group sections-page">
  <header class="page-header group">
    <hgroup>
      <h1>All sections</h1>
    </hgroup>
  </header>

  <div class="browse-sections">
    <p>SHABBA <%= @section.title %></p>
    <dl>
        <dt>
        </dt>
        <dd>
        </dd>
    </dl>
  </div>
</section>

<!-- TODO: Do we still need this? browse.json won't exist anymore.
  Methinks change this to be /browse/section.json?
 -->
<% content_for :head do %>
  <link rel="alternate" type="application/json" href="/browse.json">
<% end %>
