<section id="content" role="main" class="group sections-page">
  <header class="page-header group">
    <hgroup>
      <h1>All sections</h1>
    </hgroup>
  </header>

  <div class="browse-sections">
    <p>SUB SHABBA</p>
    <dl>
    </dl>
  </div>
</section>

<% content_for :head do %>
  <link rel="alternate" type="application/json" href="/browse.json">
<% end %>
