<% 
  content_for :title, "#{publication.title}: #{t('formats.local_transaction.search_result')} - GOV.UK" 
%>

<% places.each do |place| %>
  <li>
    <div class="place group">
      <div class="information">
        <div class="address vcard">
          <div class="adr org fn">

            <p class="adr govuk-body">
              <% if place["name"].present? %>
                <h3 class="fn govuk-!-margin-bottom-0 govuk-heading-s govuk-!-display-inline"><%= place["name"] %></h3>
              <% end %>

            <% if place["url"].present? %>
              <p class="url govuk-body">
                <a href="<%= place["url"] %>" class="govuk-link"><%= t('place.go_to_website') %></a>
              </p>
            <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </li>
<% end %>
