.box {
  padding: govuk-spacing(4);
  background-color: govuk-colour("light-grey");
}

.box__content {
  @include govuk-font(24, $weight: bold);
  @include govuk-responsive-margin(4, "bottom");
}

@include govuk-media-query($media-type: print) {
  .box {
    background: none;
    border-top: 2pt solid $govuk-print-text-colour;
    padding-inline: 0;

    * {
      color: $govuk-print-text-colour !important; // stylelint-disable-line declaration-no-important
    }
  }
}
