<%
  content_for :title do
    simple_smart_answer_page_title(outcome.title)
  end
%>
 <div data-module="track-smart-answer" data-smart-answer-node-type="outcome" data-smart-answer-slug="<%= outcome.slug %>">
  <%= render "govuk_publishing_components/components/title", {
    context: publication.title,
    font_size: "l",
    margin_bottom: 4,
    margin_top: 0,
    average_title_length: "long",
    title: outcome.title,
  } %>

  <% if outcome.body %>
    <%= render "govuk_publishing_components/components/govspeak", {} do %>
      <%= raw outcome.body %>
    <% end %>
  <% end %>
</div>
