<%
  page_title = []

  page_title << outcome.title
  page_title << @publication.title
  page_title << "GOV.UK"

  content_for :title do
    page_title.join(' - ')
  end
 %>
 <div data-module="track-smart-answer" data-smart-answer-node-type="outcome" data-smart-answer-slug="<%= outcome.slug %>">
  <%= render "govuk_publishing_components/components/title", {
    context: @publication.title,
    font_size: "l",
    margin_bottom: 4,
    average_title_length: "long",
    title: outcome.title,
  } %>

  <% if outcome.body %>
    <%= render "govuk_publishing_components/components/govspeak", {} do %>
      <%= sanitize(outcome.body) %>
    <% end %>
  <% end %>
</div>
