<div class="article-container">
  <div class="content-block outcome group">
    <div class="inner group">
      <div class="result-info">
        <div class="summary"><h2 class="result-title"><%= outcome.title %></h2></div>

        <%= raw outcome.body %>
      </div>
    </div>
  </div>
</div>
