<div data-module="track-smart-answer" data-smart-answer-node-type="outcome" data-smart-answer-slug="<%= outcome.slug %>">
  <%= render "govuk_publishing_components/components/heading", {
    text: outcome.title,
    margin_bottom: 4
  } %>

  <% if outcome.body %>
    <%= render "govuk_publishing_components/components/govspeak", {
      content: outcome.body.html_safe
    } %>
  <% end %>
</div>
