<% content_for :title do %>Funding Form - GOV.UK<% end %>
<% content_for :extra_headers do %>
  <meta name="description" content="Funding Form" />
<% end %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <h1 class="govuk-heading-xl">Funding form</h1>
  </main>
</div>
