<nav class="menu group" role="navigation">
  <ul>
    <li><a class="help-home" href="/help">Home</a></li>
    <li><a class="help-searching" href="/help/searching">Searching</a></li>
    <li><a class="help-contact" href="/help/contact">Contact us</a></li>
    <li><a class="help-accessibility" href="/help/accessibility">Accessibility and help using the internet</a></li>
    <li><a class="help-terms" href="/help/terms">Terms and conditions</a></li>
    <li><a class="help-cookies" href="/help/cookies">Cookies</a></li>
    <li><a class="help-feedback" href="/help/feedback">Feedback</a></li>
  </ul>
</nav>