<section>
  <h1>Accessibility</h1>
  <h2>I need help getting started online</h2>
	<ul>
		<li>
			<a href="http://www.bbc.co.uk/webwise/topics/using-the-web/">Getting started with the internet</a> <small>(BBC Web Wise)</small>
		</li>
    <li>
    <h3>Find a free course near you</h3>
    <p><a href="http://www.ukonlinecentres.com">UK Online Centres</a> offer free computer and internet training across the country.</p>
		<form action="http://www.ukonlinecentres.com/centresearch/">
    	<label for="findacentre">Enter a UK postcode</label>
      <input type="text" value="" id="placename" name="q"><input type="submit" value="Go" class="button">
		</form>
    <small>(UK Online)</small>
    </li>
  </ul>

<h2>I do not have regular access to an internet connection</h2>
	<ul>
		<li>
			<a href="/book-internet-access-in-a-library">Book internet access in your local library</a>
    </li>
  </ul>

	<h2>I find a keyboard or mouse hard to use</h2>
	<ul>
		<li>
    	<a href="http://www.bbc.co.uk/accessibility/guides/mouse_easier/">Find out how to make your mouse easier to use</a>
      <small>(BBC My Web)</small>
    </li>
    <li>
      <a href="http://www.bbc.co.uk/accessibility/guides/keyboard_mouse/">Find out how to use your keyboard to control your mouse</a>
      <small>(BBC My Web)</small>
    </li>
    <li>
     	<a href="http://www.bbc.co.uk/accessibility/guides/alternative_devices/">Find out about alternatives to a keyboard and mouse</a>
      <small>(BBC My Web)</small>
    </li>
  </ul>

	<h2>I can't see very well</h2>
	<ul>
		<li>
    	<a href="http://www.bbc.co.uk/accessibility/guides/text_larger/">Learn how to increase the size of the text in your web browser</a>
      <small>(BBC My Web)</small>
    </li>
    <li>
      <a href="http://www.bbc.co.uk/accessibility/guides/change_colours/">Learn how to change text and background colours to make them easier to read</a>
      <small>(BBC My Web)</small>
    </li>
    <li>
      <a href="http://www.bbc.co.uk/accessibility/guides/magnify/">Learn how to magnify your screen</a>
      <small>(BBC My Web)</small>
    </li>
  </ul>

	<h2>I am blind</h2>
  <ul>
		<li>
    	<a href="http://www.bbc.co.uk/accessibility/guides/screenreaders/">Find out about screen readers and talking browsers</a>
      <small>(BBC My Web)</small>
    </li>
  </ul>
</section>