<h1>How to find what you are looking for</h1>
<p>There are three ways you can navigate the site.</p>

<h2>1. Search</h2>

<p>The search box is found on the top right of every page. As you enter your search term, suggested links will appear below so you can quickly access the content you are looking for. If you complete your search term and click 'go', you will be taken to a results page displaying the relevant content. Different types of content - such as text, multimedia or tools - have symbols to distinguish them so that you can easily choose the right one for you.</p>

<h2>2. Related tools and topics</h2>

<p>The related tools and topics box is found on the right side of every page. It displays links to content or tools that may be relevant to you based on the information you are viewing at the time.</p>

<h2>3. Top-level navigation bar</h2>

<p>At the top of each page, a navigation bar shows you which section of the site you are currently in. You can use it to return to the section or website homepage.</p>