<section class="intro inner">
  <div class="get-started-intro">
    <h1>Apply for this licence</h1>
    <%= render :partial => 'location_form', :locals => {:format => 'licence'} %>
  </div>
</section>

<div id="overview" class="inner">
  <h1>Overview</h1>
  <%= to_govspeak(@licence.licence_overview) %>
</div>
