<div class="find-nearest">
  <form method="post" id="local-locator-form" class="find-location-for-<%= format %>">
    <fieldset>
      <legend class="visuallyhidden">Postcode lookup</legend>
      <% if @edition %>
        <input type="hidden" name="edition" value="<%= @edition %>">
      <% end %>

      <% if params[:postcode] and @location.nil? %>
      <div class="location_error error-notification">Please enter a valid full UK postcode.</div>
      <% elsif @location_error %>
      <div class="location_error error-notification"><%= @location_error %></div>
      <% end %>

      <div class="ask_location">
        <label for="postcode">Enter a UK postcode <input class="postcode" id="postcode" name="postcode" type="text" placeholder="e.g. SW1A 2AA"></label>
        <button type="submit" class="button">Find</button>
      </div>
    </fieldset>
  </form>
</div>
