{{#options}}
<li>

  <div class="place group">
    <div class="information">
      <div class="address vcard">
        <div class="adr org fn">

          <p class="adr">
          {{#name}}
            <span class="fn">{{name}}</span><span class="visuallyhidden">,</span>
          {{/name}}

          {{#address}}
            <br /><span class="street-address">{{address}}</span><span class="visuallyhidden">,</span>
          {{/address}}

          {{#town}}
            <br /><span class="locality">{{town}}</span><span class="visuallyhidden">,</span>
          {{/town}}

          {{#postcode}}
            <br /><span class="postal-code">{{postcode}}</span>
          {{/postcode}}
          </p>

          {{#location}}
            <ul class="view-maps">
              <li><a href="https://maps.google.com/maps?z=16&amp;ie=UTF8&amp;q=loc:{{latitude}}%2C{{longitude}}&amp;ll={{latitude}}%2C{{longitude}}">View on Google Maps</a></li>
              <li><a href="http://www.openstreetmap.org/index.html?mlat={{latitude}}&amp;mlon={{longitude}}&amp;zoom=16">View on Open Street Map</a></li>
            </ul>
          {{/location}}

          <div class="additional-information">
            {{#url}}
            <p class="url">
              Website: <a href="{{url}}">{{text}}</a>
            </p>
            {{/url}}

            {{#email}}
            <p>
              Email: <a href="mailto:{{email}}">{{email}}</a>
            </p>
            {{/email}}

            {{#phone}}
            <p>
              Phone: <a class="tel" href="tel://{{phone}}">{{phone}}</a>
            </p>
            {{/phone}}

            {{#fax}}
            <p>
              Fax: <a class="tel" href="tel://{{fax}}">{{fax}}</a>
            </p>
            {{/fax}}

            {{#text_phone}}
            <p>
              Text Phone: <a class="tel" href="tel://{{text_phone}}">{{text_phone}}</a>
            </p>
            {{/text_phone}}

            {{#general_notes}}
            <p>
              {{general_notes}}
            </p>
            {{/general_notes}}

            {{#access_notes}}
            <p>
              {{access_notes}}
            </p>
            {{/access_notes}}
          </div>

        </div>
      </div>
    </div>

  </div>
</li>
{{/options}}
