<nav class="menu group" role="navigation">
  <ul>
    <li><a class="a-section" href="#">A section</a></li>
    <li><a class="another-section" href="#">Another section</a></li>
    <li><a class="last-section" href="#">Last section</a></li>
  </ul>
</nav>