<nav class="menu group" role="navigation">
  <ul>
    <li><a class="platform-home" href="/platform">About our platform</a></li>
    <li><a class="platform-api" href="/platform/api">API</a></li>
    <li><a class="platform-licensing" href="/platform/licensing">Licensing</a></li>
    <li><a class="platform-code" href="/platform/code">Code</a></li>
  </ul>
</nav>