<div id="report-a-problem"></div>

<div class="meta-data group">
  <div class="inner">
    <% if publication.updated_at %>
      <p class="modified-date"><%= t 'common.last_updated' %>: <%= l publication.updated_at, :format => '%e %B %Y' %></p>
    <% end %>
  </div>
</div>

<% if api_links.any? %>
<% content_for :extra_headers do %>
  <% api_links.each do |type, href| %>
<link rel="alternate" type="<%= type %>" href="<%= href %>">
  <% end %>
<% end %>
<% end %>
