<div id="report-a-problem"></div>

<div class="meta-data group">
  <div class="inner">
    <% if publication.updated_at %>
      <p class="modified-date">Last updated: <%= publication.updated_at.to_formatted_s(:short_ordinal) %></p>
    <% end %>
    <% if [:programme, :guide].include? publication.type.to_sym %>
      <p class="print-link"><%= link_to "Print this guide", publication_path(publication.slug, :part => 'print'), rel: "nofollow" %></p>
    <% end %>
  </div>
</div>

<% if api_links.any? %>
<% content_for :extra_headers do %>
  <% api_links.each do |type, href| %>
<link rel="alternate" type="<%= type %>" href="<%= href %>">
  <% end %>
<% end %>
<% end %>
