<script id="beta-available" type="text/html">
  <div class="eligibility-check">
    <h1 id="secondary-apply-label">Apply using the new service <span class="beta">beta</span></h1>
    <p class="this-is-a-beta">This is a 'beta' service - find out <a href="/help/beta">what this means for you</a>.</p>
    <p style="display: block;width: 100%;">To apply online you'll need either:</p>

    <%= render 'tax_disc_requirements' %>

    <form class="get-started" action="/g">
      <input type="hidden" name="url" value="https://www.taxdisc.service.gov.uk" />
      <input value="Apply now" class="button medium" type="submit">
    </form>
  </div>

  <div class="you-will-need">
    <h2>You will need</h2>
    <p>Vehicle tax renewal letter (V11)</p>
    <%= image_tag 'start-pages/tax-disc/v11-diagram.png', alt: 'Tax disc renewal letter (V11)', width: '220' %>
  </div>
</script>
<script id="beta-offline" type="text/html">
  <div class="eligibility-check">
    <h1 id="secondary-apply-label">Apply using the new service <span class="beta">beta</span></h1>
    <p class="this-is-a-beta">This is a 'beta' service - find out <a href="/help/beta">what this means for you</a>.</p>
    <p style="display: block;width: 100%;">To apply online you'll need either:</p>

    <%= render 'tax_disc_requirements' %>
    <div class="application-notice help-notice" style="border: 5px solid #005ea5; padding: 0 15px; margin-top: 30px;">
      <p><strong>This service is currently unavailable due to unprecedented demand across DVLA's online services.</strong></p>

      <p><strong>Please try again later today or use the automated phone service on 0300 1234321.</strong></p>
    </div>
  </div>

  <div class="you-will-need">
    <h2>You will need</h2>
    <p>Vehicle tax renewal letter (V11)</p>
    <%= image_tag 'start-pages/tax-disc/v11-diagram.png', alt: 'Tax disc renewal letter (V11)', width: '220' %>
  </div>
</script>
