<script id="beta-primary" type="text/html">
  <div class="eligibility-check">
    <h1 id="secondary-apply-label">Apply using the new service <span class="beta">beta</span></h1>
    <p class="this-is-a-beta">This is a 'beta' service - find out <a href="/help/beta">what this means for you</a>.</p>
    <p style="display: block;width: 100%;">To apply online you'll need either:</p>
    <ul>
      <li>the 16 digit reference number from your tax disc renewal letter (V11)</li>
      <li>the 11 digit reference number from your log book (V5C)</li>
    </ul>

    <form class="get-started" action="https://www.taxdisc.service.gov.uk/" method="POST">
      <input value="Apply now" class="button medium" type="submit">
    </form>
  </div>

  <div class="you-will-need">
    <h2>You will need</h2>
    <p>Tax disc renewal letter (V11)</p>
    <%= image_tag 'start-pages/tax-disc/v11-diagram.png', alt: 'Tax disc renewal letter (V11)', width: '220' %>
  </div>
</script>
<script id="dvla-secondary" type="text/html">
  <h1 id="secondary-apply-label">Apply using the original service</h1>
  <div class="application-details">
    <p class="opening">You'll need either:</p>
    <ul>
      <li>the 16 digit reference number from your tax disc renewal letter (V11)</li>
      <li>the 11 digit reference number from your log book (V5C)</li>
    </ul>
    <span class="destination">Apply on the DVLA website:</span>
    <form action="<%= @publication.link %>" method="POST">
      <input value="Apply now" class="button button-secondary" type="submit">
    </form>
  </div>
</script>
