<ul>
  <li>the 16 digit reference number on your vehicle tax renewal letter (V11)</li>
  <li>the 11 digit reference number on your log book (V5C)</li>
  <li>the 12 digit reference number on your New Keeper Supplement (V5C/2) if you've just bought the vehicle</li>
</ul>
