<ul class="helpers group">
  <% if transaction.minutes_to_complete.present? %>
    <li><%= t 'formats.transaction.takes_around_n_minutes', :count => transaction.minutes_to_complete %></li>
  <% end %>

  <% transaction.expectations.each do |e| %>
    <li><%= e %></li>
  <% end %>
</ul>
