<ul class="helpers group">
  <% if transaction.minutes_to_complete.present? %>
    <li><%= t 'formats.transaction.takes_around_n_minutes', :count => transaction.minutes_to_complete %></li>
  <% end %>
</ul>

<%= raw transaction.need_to_know %>
