<nav class="js-tabs nav-tabs">
  <ul>
    <% if presenter.before_you_start? %><li class="active"><a href="#before-you-start">Before you start</a></li><% end %>
    <% if presenter.what_you_need_to_know? %><li><a href="#what-you-need-to-know">What you need to know</a></li><% end %>
    <% if presenter.other_ways_to_apply? %><li><a href="#other-ways-to-apply">Other ways to apply</a></li><% end %>
  </ul>
</nav>

<div class="js-tab-content tab-content">
  <% if presenter.before_you_start? %>
    <div class="js-tab-pane tab-pane" id="before-you-start">
      <%= raw transaction.more_information %>
    </div>
  <% end %>

  <% if presenter.what_you_need_to_know? %>
    <div class="js-tab-pane tab-pane" id="what-you-need-to-know">
      <ul class="helpers group">
        <% if transaction.minutes_to_complete.present? %>
          <li>Takes around <span><%= transaction.minutes_to_complete %></span> minutes</li>
        <% end %>

        <% transaction.expectations.each do |e| %>
          <li><%= e %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if presenter.other_ways_to_apply? %>
    <div class="js-tab-pane tab-pane" id="other-ways-to-apply">
      <%= raw transaction.alternate_methods %>
    </div>
  <% end %>
</div>
