<main id="content" role="main" class="group">

  <header class="page-header group">
    <hgroup>
     <h1><span>Service</span> <%= @publication.title %></h1>
    </hgroup>
  </header>
  <div class="article-container group">
      <article role="article" class="group">
       <div class="inner">
         <%= raw @publication.body %>
       </div>
     </article>
    <%= render 'publication_metadata', :publication => @publication, :api_links => { 'application/json' => publication_api_path(@publication, :edition => @edition) } %>
  </div>
</main>

<div id="related-items"></div>

<% content_for :extra_headers do %>
<meta name="robots" content="noindex, nofollow" />
<% end %>
