<% content_for :title, "Help using GOV.UK | GOV.UK" %>

<section id="content" role="main" class="group ancillary help">

	<header class="page-header group">
		<hgroup>
		  <h1>Help using GOV.UK</h1>
		</hgroup>
	</header>

  <%= render :partial => 'help_menu' %>
  <article role="article" class="group">

  <% if @slug %>
    <%= render :partial => "help_#{@slug}" %>
  <% else %>
    <section>

  		<h1>What kind of pages and tools will you find on the website?</h1>

    	<dl>
    	  <dt>
    	    <h2 class="guides">Guides</h2>
    	  </dt>
    	  <dd>
    			<p>Concept: Content grouped together by topic</p>
    			<p>If you are looking for information that is more complex or lengthy, it will be in a guide. Most guides have chapters on the left-hand side, which allow you to access the information that is relevant to you and to see the contents of the guide.</p>

    			<p>Example &ndash; <a href="/find-out-about-adult-learning-and-skills/overview">Find out about adult learning and skills</a></p>
    	  </dd>
    	  <dt>
          <h2 class="answers">Quick answers</h2>
    	  </dt>
    	  <dd>
    			<p>Concept: Less text, specific answers</p>
    			<p>Quick answers provide concise answers to popular user questions.</p>

    			<p>Example &ndash; <a href="/child-benefit-rates">Child Benefit rates</a></p>
    	  </dd>
    	  <dt>
    			<h2 class="smart-answers">Smart answers</h2>
    	  </dt>
    	  <dd>
    			<p>Concept: Simple answers for complex situations</p>
    			<p>A smart answer provides a single or simple answer where multiple or complex conditions exist. You will be asked a series of questions which will determine what information or answer is relevant to you.</p>
    			<p>You can also use smart answers to calculate payments such as pensions etc.</p>

    			<p>Example &ndash; <a href="/smartanswers/?maternity-allowance">Maternity benefits you're eligible for</a></p>
    	  </dd>
    	  <dt>
    			<h2 class="services">Services</h2>
    	  </dt>
    	  <dd>
    			<p>Concept: Usable tools and transactions</p>
    			<p>Transactional pages on the site will enable you to complete tasks online and interact with government. You will be told on the first page how long the process will take and what you will need to complete the transaction.</p>

    			<p>Example &ndash; <a href="/replace-a-child-trust-fund-voucher">Apply online for a replacement Child Trust Fund voucher</a></p>
    	  </dd>
    	  <dt>
    			<h2 class="local-services">Local services</h2>
    	  </dt>
    	  <dd>
    			<p>Concept: Localisation</p>
    			<p>This functionality allows you to enter your postcode and find places and services which are local to you, such as your nearest recycling point or driving test centre.</p>

    			<p>Example &ndash; <a href="/day-care-centres">Disability day care centres</a></p>
    	  </dd>
    	  <dt>
    			<h2 class="benefits">Benefits and schemes</h2>
    	  </dt>
    	  <dd>
    			<p>Concept: Design solutions for editorial problems</p>
    			<p>These pages provide you with an overview of a particular government benefit or scheme, allowing you to read additional information if you need using the tabs at the top of the page. If you prefer, you can go straight to the transactional element of the page by clicking on 'How to claim'. </p>

    			<p>Example &ndash; <a href="/statutory-sick-pay-ssp-/#overview">Statutory Sick Pay</a></p>
    	  </dd>
    	</dl>

  </section>
  <% end %>
		
  </article>

</section>