<% content_for :extra_headers do %>
<link rel="canonical" href="<%= root_path %>" />
<% end %>
<% content_for :title, "Welcome to GOV.UK Beta (Test) - simpler, clearer, faster access to UK government
services and information" %>

<%= javascript_include_tag 'homepage.js', defer:true %>

<section id="homepage">
  <header class="intro">
    <hgroup>
      <h1 class="strap">Simpler, clearer, faster.</h1>
      <h1>Welcome to GOV.UK, the new home for government services and information.</h1>
    </hgroup>
    <p>This website replaces</p>
    <ul>
      <li>Directgov</li>
      <li>BusinessLink</li>
    </ul>
  </header>
  <div class="homepage-sections">
    <ul class="sections-list">
      <li class="group">
        <h2 id="section-business"><a href="/browse/benefits">Benefits</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur</p>
      </li>
      <li class="group">
        <h2 id="section-business"><a href="/browse/benefits">Citizenship &amp; life in the UK</a></h2>
        <p>Etiam at risus et justo dignissim congue</p>
      </li>
      <li class="group">
        <h2 id="section-business"><a href="/browse/benefits">Crime, justice &amp; the law</a></h2>
        <p>Nulla facilisi, duis aliquet egestas purus</p>
      </li>
      <li class="group">
        <h2 id="section-business"><a href="/browse/benefits">Driving, travel &amp; transport</a></h2>
        <p>In pellentesque fauci nulla justo, luctus</p>
      </li>
      <li class="group">
        <h2 id="section-business"><a href="/browse/benefits">Education</a></h2>
        <p>Class aptent taciti sociosqu ad litora</p>
      </li>
      </ul>
      <ul class="sections-list">
      <li class="group">
        <h2 id="section-business"><a href="/browse/benefits">Family</a></h2>
        <p>Mauris iaculis porttitor posuere praesent</p>
      </li>
      <li class="group">
        <h2 id="section-business"><a href="/browse/benefits">Housing &amp; local services</a></h2>
        <p>Sed auctor neque eu tellus rhoncus ut</p>
      </li>
      <li class="group">
        <h2 id="section-business"><a href="/browse/benefits">Running a business</a></h2>
        <p>Nullam in dui mauris. Vivamus hendrerit</p>
      </li>
      <li class="group">
        <h2 id="section-business"><a href="/browse/benefits">Tax</a></h2>
        <p>Nulla at nulla justo, eget luctus tortor</p>
      </li>
      <li class="group">
        <h2 id="section-business"><a href="/browse/benefits">Work, jobs &amp; pensions</a></h2>
        <p>Etiam at risus et justo dignissim congue</p>
      </li>
    </ul>
  </div>

</section>
<section class="main-campaign group">
    <a href="/tour"><%= image_tag 'homepage/homepage-govuk-promo.png', :alt => 'The best place to find government services and information is www.gov.uk.  Click to take the tour.' %></a>
</section>

<section class="minor-campaigns group">
  <article class="most-popular">
    <header><h1>Most read on GOV.UK</h1></header>
    <ul>
      <li class="guide"><a href="">Running a limited company</a></li>
      <li class="guide"><a href="">Register a trademark</a></li>
      <li class="guide"><a href="">Report a crime or anti-social behaviour</a></li>
      <li class="guide"><a href="">Housing benefit</a></li>
      <li class="guide"><a href="">Get a tax disc</a></li>
      <li class="guide"><a href="">Register a trademark</a></li>
      <li class="guide"><a href="">MPs favourite cheeses</a></li>
      <li class="guide"><a href="">Business rates</a></li>
      <li class="guide"><a href="">How to massage your cat</a></li>
      <li class="guide"><a href="">When is the next bank holiday?</a></li>
    </ul>
  </article>
  <article class="mini-promo">
    <header><h1>New workplace pensions</h1></header>
    <p>Starting from October, millions of workers will be enrolled into a workplace pension.</p>
    <p><a href="">What it means for you</a></p>
  </article>
  <article class="inside-gov">
    <header>
      <h1>Inside Government</h1>
      <p>Coming soon</p>
    </header>
    <p>From 17 November, certain department websites will become part of Inside Government on GOV.UK</p>
    <p>For a list of existing Department websites, please see the <a href="">Cabinet Office website</a></p>
  </article>
</section>