<% content_for :extra_headers do %>
<link rel="canonical" href="<%= root_path %>" />
<% end %>
<% content_for :title, "Welcome to GOV.UK Beta (Test) - simpler, clearer, faster access to UK government
services and information" %>

<%= javascript_include_tag 'homepage.js' %>

<section id="homepage">
  <header>
    <hgroup>
      <h1>Welcome to GOV.UK, the best way to get to government services and information</h1>
      <h1 class="strap">Simpler, clearer, faster.</h1>
    </hgroup>
  </header>

  <div class="homepage-search group">
    <form id="search" name="search" action="/search" method="get">
      <div class="search-suggestions">
        Get started! Try searching for
        <ul id="homepage-search-suggestion">
          <li><a title="Search for jobs" href="/search?q=jobs">jobs</a></li>
          <li><a title="Search for business rates" href="/search?q=business rates">business rates</a></li>
          <li><a title="Search for student finance" href="/search?q=student%20finance">student finance</a></li>
          <li><a title="Search for income support" href="/search?q=income%20support">income support</a></li>
          <li><a title="Search for sole trader" href="/search?q=sole trader">sole trader</a></li>
          <li><a title="Search for car tax" href="/search?q=car%20tax">car tax</a></li>
          <li><a title="Search for housing benefit" href="/search?q=housing%20benefit">housing benefit</a></li>
          <li><a title="Search for passport" href="/search?q=passport">passport</a></li>
          <li><a title="Search for driving test" href="/search?q=driving%20test">driving test</a></li>
          <li><a title="Search for new business" href="/search?q=new business">new business</a></li>
          <li><a title="Search for redundancy" href="/search?q=redundancy">redundancy</a></li>
          <li><a title="Search for tax credits" href="/search?q=tax%20credits">tax credits</a></li>
          <li><a title="Search for attendance allowance" href="/search?q=attendance%20allowance">attendance allowance</a></li>
          <li><a title="Search for carers allowance" href="/search?q=carers%20allowance">carers allowance</a></li>
          <li><a title="Search for trademark" href="/search?q=trademark">trademark</a></li>
          <li><a title="Search for theory test" href="/search?q=theory%20test">theory test</a></li>
          <li><a title="Search for maternity" href="/search?q=maternity">maternity</a></li>
          <li><a title="Search for child benefit" href="/search?q=child%20benefit">child benefit</a></li>
          <li><a title="Search for disability living allowance" href="/search?q=disability%20living%20allowance">disability living allowance</a></li>
          <li><a title="Search for employment and support allowance" href="/search?q=employment%20and%20support%20allowance">employment and support allowance</a></li>
          <li><a title="Search for holiday entitlement" href="/search?q=holiday%20entitlement">holiday entitlement</a></li>
          <li><a title="Search for comapny name" href="/search?q=company%20name">company name</a></li>
        </ul>
      </div>

      <label for="main_autocomplete" class="visuallyhidden">Search</label><input id="main_autocomplete" type="search" name="q" value="" autocomplete="off" />
      <button class="button big search" type="submit">
        <span class="call-to-action">Search</span>
      </button>

    </form>
  </div>

  <div id="homepage-carousel">
    <div class="homepage-carousel-wrapper">
      <ul class="homepage-carousel group">
        <li class="guide"><a href="/find-job">Find a job</a></li>
        <li class="quick-answer"><a href="/set-up-sole-trader">Set up as a sole trader</a></li>
        <li class="service"><a href="/book-a-driving-theory-test">Book a driving theory test</a></li>
        <li class="quick-answer"><a href="/student-finance-calculator">Student finance calculator</a></li>
        <li class="quick-answer"><a href="/licence-finder">Licence finder</a></li>
        <li class="guide"><a href="/running-a-limited-company">Running a limited company</a></li>
        <li class="quick-answer"><a href="/passport-fees">Passport fees</a></li>
        <li class="quick-answer"><a href="/legal-right-to-work-in-the-uk">Check if someone can work in the UK</a></li>
        <li class="quick-answer"><a href="/council-tax-bands">Council Tax bands</a></li>
        <li class="service"><a href="/register-a-trademark">Register a trademark</a></li>
        <li class="quick-answer"><a href="/national-minimum-wage-rates">National Minimum Wage rates</a></li>
      </ul>
    </div>

    <ul class="homepage-carousel-controls group">
      <li class="prev"><a href="#">Previous</a></li>
      <li class="pause"><a href="#">Pause</a></li>
      <li class="next"><a href="#">Next</a></li>
    </ul>
  </div>

  <div class="homepage-sections">
    <div class="group">
      <div class="homepage-sections-column">
        <ul class="sections-list">
          <li>
            <h3 id="section-business"><a href="/browse/business">Business</a></h3>
            <ul class="sections-links">
              <li><a href="/running-a-limited-company">Running a limited company</a></li>
              <li><a href="/register-a-trademark">Register a trademark</a></li>
              <li><a href="/introduction-to-business-rates">Business rates</a></li>
              <li class="last"><a href="/browse/business" aria-describedby="section-business">more&nbsp;…</a></li>
          </ul>
        </li>

        <li>
          <h3 id="section-crime-and-justice"><a href="/browse/crime-and-justice">Crime and Justice</a></h3>
          <ul class="sections-links">
            <li><a href="/report-crime-anti-social-behaviour">Report a crime or anti-social behaviour</a></li>
            <li><a href="/jury-service">Jury service</a></li>
            <li class="last"><a href="/browse/crime-and-justice" aria-describedby="section-crime-and-justice">more&nbsp;…</a></li>
          </ul>
        </li>

        <li>
          <h3 id="section-driving"><a href="/browse/driving">Driving</a></h3>
          <ul class="sections-links">
            <li><a href="/car-tax-disc-vehicle-licence">Get a tax disc</a></li>
            <li><a href="/book-a-driving-theory-test">Book a driving theory test</a></li>
            <li><a href="/mot-your-vehicle">MOT your vehicle</a></li>
            <li class="last"><a href="/browse/driving" aria-describedby="section-driving">more&nbsp;…</a></li>
          </ul>
        </li>

        <li>
          <h3 id="section-education"><a href="/browse/education">Education</a></h3>
          <ul class="sections-links">
            <li><a href="/apply-for-student-finance-2012-13">Student finance 2012-13</a></li>
            <li><a href="/school-term-holiday-dates">School term and holiday dates</a></li>
            <li class="last"><a href="/browse/education" aria-describedby="section-education">more&nbsp;…</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="homepage-sections-column">
      <ul class="sections-list">
        <li>
          <h3 id="section-family"><a href="/browse/family">Family</a></h3>
          <ul class="sections-links">
            <li><a href="/maternity-benefits">Maternity pay entitlement</a></li>
            <li><a href="/after-a-death">What to do after someone dies</a></li>
            <li class="last"><a href="/browse/family" aria-describedby="section-family">more&nbsp;…</a></li>
          </ul>
        </li>

          <li>
            <h3 id="section-housing"><a href="/browse/housing">Housing</a></h3>
            <ul class="sections-links">
              <li><a href="/housing-benefit">Housing benefit</a></li>
              <li><a href="/pay-council-tax">Pay your Council Tax</a></li>
              <li><a href="/planning-permission">Planning permission</a></li>
              <li class="last"><a href="/browse/housing" aria-describedby="section-housing">more&nbsp;…</a></li>
            </ul>
          </li>

          <li>
            <h3 id="section-life-in-the-uk"><a href="/browse/life-in-the-uk">Life in the UK</a></h3>
            <ul class="sections-links">
              <li><a href="/petition-government">Petition the government</a></li>
              <li><a href="/register-to-vote">Register to vote</a></li>
              <li><a href="/devolution-uk">Devolution in the UK</a></li>
              <li class="last"><a href="/browse/life-in-the-uk" aria-describedby="section-life-in-the-uk">more&nbsp;…</a></li>
            </ul>
          </li>

          <li>
            <h3 id="section-money-and-tax"><a href="/browse/money-and-tax">Money and Tax</a></h3>
            <ul class="sections-links">
              <li><a href="/benefits-adviser">Benefits adviser</a></li>
              <li><a href="/vat-rates">VAT rates</a></li>
              <li><a href="/file-your-self-assessment-tax-return">File your self assessment tax return</a></li>
              <li class="last"><a href="/browse/money-and-tax" aria-describedby="section-money-and-tax">more&nbsp;…</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="homepage-sections-column last">
        <ul class="sections-list">
          <li>
            <h3 id="section-neighbourhoods"><a href="/browse/neighbourhoods">Neighbourhoods</a></h3>
            <ul class="sections-links">
              <li><a href="/find-local-transport-plans">Local transport plans</a></li>
              <li><a href="/find-your-local-park">Find your local park</a></li>
              <li class="last"><a href="/browse/neighbourhoods" aria-describedby="section-neighbourhoods">more&nbsp;…</a></li>
            </ul>
          </li>

          <li>
            <h3 id="section-travel"><a href="/browse/travel">Travel</a></h3>
            <ul class="sections-links">
              <li><a href="/apply-renew-passport">Apply for a UK passport</a></li>
              <li><a href="/take-pet-abroad">Taking your pet abroad</a></li>
              <li class="last"><a href="/browse/travel" aria-describedby="section-travel">more&nbsp;…</a></li>
            </ul>
          </li>

          <li>
            <h3 id="section-work"><a href="/browse/work">Work</a></h3>
            <ul class="sections-links">
              <li><a href="/find-job">Find a job</a></li>
              <li><a href="/national-minimum-wage-rates">National Minimum Wage rates</a></li>
              <li><a href="/bank-holidays">UK bank holidays</a></li>
              <li class="last"><a href="/browse/work" aria-describedby="section-work">more&nbsp;…</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
