<% content_for :extra_headers do %>
<link rel="canonical" href="<%= root_path %>" />
<meta name="viewport" content="width=1200"/>
<% end %>
<% content_for :title, "Welcome to GOV.UK Beta (Test) - simpler, clearer, faster access to UK government
services and information" %>

<%= javascript_include_tag 'homepage.js' %>

<section id="homepage">
  <header>
    <hgroup>
      <h1>Welcome to GOV.UK, the best way to get government services and information</h1>
      <h1 class="strap">Simpler, clearer, faster.</h1>
    </hgroup>
  </header>

  <div class="homepage-search group">
    <form id="homepage-search-form" name="search" action="/search" method="get">
      <div class="search-suggestions">
        Get started! Try searching for <span id="homepage-search-suggestion">student finance</span>
      </div>

      <label for="homepage-search-input" class="visuallyhidden">Search</label><input id="" type="search" name="q" value="" autocomplete="no" />
      <button class="button big search" type="submit">
        <span class="call-to-action">Search</span>
      </button>

    </form>
  </div>

  <div id="homepage-carousel">
    <div class="homepage-carousel-wrapper">
      <ul class="homepage-carousel group">
        <li class="guide"><a href="/find-job">Find a job</a></li>
        <li class="quick-answer"><a href="/set-up-sole-trader">Set up as a sole trader</a></li>
        <li class="service"><a href="/book-a-driving-theory-test">Book a driving theory test</a></li>
        <li class="quick-answer"><a href="/student-finance-calculator">Student finance calculator</a></li>
        <li class="quick-answer"><a href="/licence-finder">Licence finder</a></li>
        <li class="quick-answer"><a href="/passport-fees">Passport fees</a></li>
        <li class="quick-answer"><a href="/legal-right-to-work-in-the-uk">Check if someone can work in the UK</a></li>
        <li class="quick-answer"><a href="/council-tax-bands">Council Tax bands</a></li>
        <li class="service"><a href="/register-a-trademark">Register a trademark</a></li>
        <li class="quick-answer"><a href="/national-minimum-wage-rates">National Minimum Wage rates</a></li>
        <li class="guide"><a href="/sick-leave-pay-employees">Sick leave and pay for your employees</a></li>
      </ul>
    </div>

    <ul class="homepage-carousel-controls group">
      <li class="prev"><a href="#">Previous</a></li>
      <li class="pause"><a href="#">Pause</a></li>
      <li class="next"><a href="#">Next</a></li>
    </ul>
  </div>

  <div class="homepage-sections">
      <div class="group">

      <div class="homepage-sections-column">
        <ul class="sections-list">
          <li>
            <h3><a href="#">Business</a></h3>
            <ul class="sections-links">
              <li><a href="#">Starting Up</a></li>
              <li><a href="#">Employing people</a></li>
              <li><a href="#">Self-employed</a></li>
              <li class="last"><a href="#">more&#8202;…</a></li>
            </ul>
          </li>

          <li>
            <h3><a href="#">Crime and Justice</a></h3>
            <ul class="sections-links">
              <li><a href="#">Report a crime or anti-social behaviour</a></li>
              <li><a href="#">Jury service</a></li>
              <li class="last"><a href="#">more&#8202;…</a></li>
            </ul>
          </li>

          <li>
            <h3><a href="#">Driving</a></h3>
            <ul class="sections-links">
              <li><a href="#">Get a tax disc</a></li>
              <li><a href="#">Book a driving test</a></li>
              <li><a href="#">MOT your vehicle</a></li>
              <li class="last"><a href="#">more&#8202;…</a></li>
            </ul>
          </li>

          <li>
            <h3><a href="#">Education</a></h3>
            <ul class="sections-links">
              <li><a href="#">Student finance 2012-13</a></li>
              <li><a href="#">School term and holiday dates</a></li>
              <li class="last"><a href="#">more&#8202;…</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="homepage-sections-column">
        <ul class="sections-list">
          <li>
            <h3><a href="#">Family</a></h3>
            <ul class="sections-links">
              <li><a href="#">Maternity pay entitlement</a></li>
              <li><a href="#">What to do after someone dies</a></li>
              <li class="last"><a href="#">more&#8202;…</a></li>
            </ul>
          </li>

          <li>
            <h3><a href="#">Housing</a></h3>
            <ul class="sections-links">
              <li><a href="#">Housing benefit</a></li>
              <li><a href="#">Pay your council tax</a></li>
              <li><a href="#">Planning permission</a></li>
              <li class="last"><a href="#">more&#8202;…</a></li>
            </ul>
          </li>

          <li>
            <h3><a href="#">Life in the UK</a></h3>
            <ul class="sections-links">
              <li><a href="#">Petition the government</a></li>
              <li><a href="#">Register to vote</a></li>
              <li><a href="#">Devolution in the UK</a></li>
              <li class="last"><a href="#">more&#8202;…</a></li>
            </ul>
          </li>

          <li>
            <h3><a href="#">Money and Tax</a></h3>
            <ul class="sections-links">
              <li><a href="#">Benefits advisor</a></li>
              <li><a href="#">VAT rates</a></li>
              <li><a href="#">File your self assessment tax return</a></li>
              <li class="last"><a href="#">more&#8202;…</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="homepage-sections-column last">
        <ul class="sections-list">
          <li>
            <h3><a href="#">Neighbourhoods</a></h3>
            <ul class="sections-links">
              <li><a href="#">Local transport plans</a></li>
              <li><a href="#">Find your local park</a></li>
              <li class="last"><a href="#">more&#8202;…</a></li>
            </ul>
          </li>

          <li>
            <h3><a href="#">Travel</a></h3>
            <ul class="sections-links">
              <li><a href="#">Apply for a UK passport</a></li>
              <li><a href="#">Taking your pet abroad</a></li>
              <li class="last"><a href="#">more&#8202;…</a></li>
            </ul>
          </li>

          <li>
            <h3><a href="#">Work</a></h3>
            <ul class="sections-links">
            <li><a href="#">Find a job</a></li>
            <li><a href="#">National minimum wage rates</a></li>
            <li><a href="#">UK bank holidays</a></li>
            <li class="last"><a href="#">more&#8202;…</a></li>
          </ul>
      </div>
    </div>
  </div>
</section>
