<% content_for :extra_headers do %>
<link rel="canonical" href="<%= root_path %>" />
<% end %>
<% content_for :title, "Welcome to GOV.UK Beta (Test) - simpler, clearer, faster access to UK government
services and information" %>

<%= javascript_include_tag 'homepage.js', defer:true %>

<section id="homepage">
  <header>
    <hgroup>
      <h1 class="strap">Simpler, clearer, faster.</h1>
      <h1>Welcome to GOV.UK, the best place to find government services and information</h1>
    </hgroup>
  </header>

  <div class="homepage-search group">
    <form id="search" name="search" action="/search" method="get">
      <div class="search-suggestions group">
        <span>Get started! Try searching for</span>
        <ul id="homepage-search-suggestion">
          <li><a title="Search for jobs" href="/search?q=jobs">jobs</a></li>
          <li><a title="Search for business rates" href="/search?q=business%20rates">business rates</a></li>
          <li><a title="Search for student finance" href="/search?q=student%20finance">student finance</a></li>
          <li><a title="Search for income support" href="/search?q=income%20support">income support</a></li>
          <li><a title="Search for sole trader" href="/search?q=sole%20trader">sole trader</a></li>
          <li><a title="Search for car tax" href="/search?q=car%20tax">car tax</a></li>
          <li><a title="Search for housing benefit" href="/search?q=housing%20benefit">housing benefit</a></li>
          <li><a title="Search for passport" href="/search?q=passport">passport</a></li>
          <li><a title="Search for driving test" href="/search?q=driving%20test">driving test</a></li>
          <li><a title="Search for new business" href="/search?q=new%20business">new business</a></li>
          <li><a title="Search for redundancy" href="/search?q=redundancy">redundancy</a></li>
          <li><a title="Search for tax credits" href="/search?q=tax%20credits">tax credits</a></li>
          <li><a title="Search for attendance allowance" href="/search?q=attendance%20allowance">attendance allowance</a></li>
          <li><a title="Search for carers allowance" href="/search?q=carer%27s%20allowance">carer&rsquo;s allowance</a></li>
          <li><a title="Search for trademark" href="/search?q=trademark">trademark</a></li>
          <li><a title="Search for theory test" href="/search?q=theory%20test">theory test</a></li>
          <li><a title="Search for maternity" href="/search?q=maternity">maternity</a></li>
          <li><a title="Search for child benefit" href="/search?q=child%20benefit">child benefit</a></li>
          <li><a title="Search for disability living allowance" href="/search?q=disability%20living%20allowance">disability living allowance</a></li>
          <li><a title="Search for employment and support allowance" href="/search?q=employment%20and%20support%20allowance">employment and support allowance</a></li>
          <li><a title="Search for holiday entitlement" href="/search?q=holiday%20entitlement">holiday entitlement</a></li>
          <li><a title="Search for company name" href="/search?q=company%20name">company name</a></li>
        </ul>
      </div>

      <label for="main_autocomplete" class="visuallyhidden">Search</label><input id="main_autocomplete" type="search" name="q" value="" autocomplete="off" />
      <button class="button big search" type="submit">
        <span class="call-to-action">Search</span>
      </button>

    </form>
  </div>

  <div class="homepage-sections">
    <ul class="sections-list">
      <li class="group">
        <h2 id="section-business"><a href="/browse/business">Business</a></h2>
        <div class="sections-links">
          Advice on <a href="/running-a-limited-company">running a limited company</a>, how to <a href="/register-a-trademark">register a trademark</a>, information about <a href="/introduction-to-business-rates">business rates</a> and <a href="/browse/business" aria-describedby="section-business">more&nbsp;…</a>
        </div>
      </li>

      <li class="group">
        <h2 id="section-crime-and-justice"><a href="/browse/crime-and-justice">Crime and justice</a></h2>
        <div class="sections-links">
          How to <a href="/report-crime-anti-social-behaviour">report a crime or anti-social behaviour</a>, information on <a href="/jury-service">jury service</a>, and <a href="/browse/crime-and-justice" aria-describedby="section-crime-and-justice">more&nbsp;…</a>
        </div>
      </li>

      <li class="group">
        <h2 id="section-driving"><a href="/browse/driving">Driving</a></h2>
        <div class="sections-links">
          <a href="/car-tax-disc-vehicle-licence">Get a tax disc</a>, <a href="/book-a-driving-theory-test">Book a driving theory test</a>, <a href="/getting-an-mot">Getting an MOT</a> and <a href="/browse/driving" aria-describedby="section-driving">more&nbsp;…</a>
        </div>
      </li>

      <li class="group">
        <h2 id="section-education"><a href="/browse/education">Education</a></h2>
        <div class="sections-links">
          Information about <a href="/student-finance-calculator">student finance</a>, <a href="/school-term-holiday-dates">school term and holiday dates</a> and <a href="/browse/education" aria-describedby="section-education">more&nbsp;…</a>
        </div>
      </li>

      <li class="group">
        <h2 id="section-family"><a href="/browse/family">Family</a></h2>
        <div class="sections-links">
          Calculate your <a href="/maternity-benefits">maternity pay entitlement</a>, advice on <a href="/after-a-death">what to do after someone dies</a> and <a href="/browse/family" aria-describedby="section-family">more&nbsp;…</a>
        </div>
      </li>

      <li class="group">
        <h2 id="section-housing"><a href="/browse/housing">Housing</a></h2>
        <div class="sections-links">
          How to claim <a href="/housing-benefit">housing benefit</a>, <a href="/pay-council-tax">pay your Council Tax</a> online, information about <a href="/planning-permission-england-wales">planning permission</a> and <a href="/browse/housing" aria-describedby="section-housing">more&nbsp;…</a>
        </div>
      </li>

      <li class="group">
        <h2 id="section-life-in-the-uk"><a href="/browse/life-in-the-uk">Life in the UK</a></h2>
        <div class="sections-links">
          <a href="/petition-government">Petition the government</a> online, <a href="/register-to-vote">register to vote</a>, information about <a href="/devolution-uk">devolution in the UK</a> and <a href="/browse/life-in-the-uk" aria-describedby="section-life-in-the-uk">more&nbsp;…</a>
        </div>
      </li>

      <li class="group">
        <h2 id="section-money-and-tax"><a href="/browse/money-and-tax">Money and tax</a></h2>
        <div class="sections-links">
          Get <a href="/benefits-adviser">advice on benefits</a>, find out the <a href="/vat-rates">VAT rates</a>, <a href="/file-your-self-assessment-tax-return">file your self assessment tax return</a> and <a href="/browse/money-and-tax" aria-describedby="section-money-and-tax">more&nbsp;…</a>
        </div>
      </li>

      <li class="group">
        <h2 id="section-neighbourhoods"><a href="/browse/neighbourhoods">Neighbourhoods</a></h2>
        <div class="sections-links">
          Find out about <a href="/find-local-transport-plans">local transport plans</a>, <a href="/find-your-local-park">find your local park</a> and <a href="/browse/neighbourhoods" aria-describedby="section-neighbourhoods">more&nbsp;…</a>
        </div>
      </li>

      <li class="group">
        <h2 id="section-travel"><a href="/browse/travel">Travel</a></h2>
        <div class="sections-links">
          <a href="/apply-renew-passport">Apply for a UK passport</a>, information about <a href="/take-pet-abroad">taking your pet abroad</a>, and <a href="/browse/travel" aria-describedby="section-travel">more&nbsp;…</a>
        </div>
      </li>

      <li class="group">
        <h2 id="section-work"><a href="/browse/work">Work</a></h2>
        <div class="sections-links">
          <a href="/jobs-jobsearch">Find a job</a>, information on <a href="/national-minimum-wage-rates">National Minimum Wage rates</a>, when are <a href="/bank-holidays">UK bank holidays</a> and <a href="/browse/work" aria-describedby="section-work">more&nbsp;…</a>
        </div>
      </li>
    </ul>
  </div>
</section>
