<% content_for :title, "www.gov.uk - the trial ‘beta’ version of the UK government's website" %>

  <section id="content" role="main" class="group">

    <div class="homepage-section">
      <header class="homepage-banner group">
        <div class="tag-line">
          <h1>gov.uk</h1>
          <p>This is a trial ‘beta’ version of the UK government’s website. Use services and find official information.</p>
        </div>
        <form action="http://#{Plek.current.find("search")}/search" class="group">
          <fieldset>
            <legend class="visuallyhidden">Search the beta.gov.uk site</legend>
            <label for="main_autocomplete" class="visuallyhidden">Search</label>
            <input type="text" id="main_autocomplete" name="q" value="" placeholder="type your search here">
            <input type="submit" value="Search">
            <p id="search_hint">eg try <span>Bank holidays</span> or <span>Lost passport</span></p>
          </fieldset>
        </form>
      </header>
     </div>

    <div class="homepage-section">
      <div class="tools-topics group">
        <h2>Popular tools &amp; topics</h2>
        <ul>
          <li class="nearest"><a href="/register-offices">Register Offices</a></li>
          <li class="transaction"><a href="/buy-a-uk-fishing-rod-licence">Buy a UK fishing rod licence</a></li>
          <li class="programme"><a href="/crisis-loans">Crisis Loans</a></li>
          <li class="answer"><a href="/vat-rates">VAT rates</a></li>
          <li class="answer"><a href="/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport</a></li>
          <li class="programme"><a href="/statutory-sick-pay-ssp-">Statutory Sick Pay (SSP)</a></li>
          <li class="transaction"><a href="/order-copy-birth-death-marriage-certificate">Order a copy of a birth, death or marriage certificate</a></li>
          <li class="local_transaction"><a href="/apply-for-a-school-uniform-grant">Apply for a school uniform grant</a></li>
          <li class="guide"><a href="/parental-rights-and-responsibilities">Parental rights and responsibilities</a></li>
          <li class="answer"><a href="/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
        </ul>
      </div>
    </div>

    <div class="homepage-section">
      <div class="personal-favourites group">
        <h2>Your bookmarks</h2>
        <div class="smart-clippings">
          <ul>
            <li>
              <div class="clipping group register-office">
                <h3>Lambeth Register Office</h3>
                <a href="#" class="remove" title="Remove this from your homepage"></a>
                <iframe width="150" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=SW2+1RW&amp;aq=&amp;sll=53.800651,-4.064941&amp;sspn=17.675514,31.420898&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;hnear=London+SW2+1RW,+United+Kingdom&amp;t=m&amp;ll=51.460639,-0.116987&amp;spn=0.008022,0.012789&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
                <div class="info">
                  <p>020 7926 9420</p>
                  <p>Lambeth Register Office<br />
                  Town Hall <br />
                  Brixton Hill <br />
                  London <br />
                  SW2 1RW</p>
                </div>
                <span class="jigsaw-piece"></span>
              </div>
            </li>
            <li>
              <div class="clipping group bank-holiday">
                <h3>Next bank holiday</h3>
                <a href="#" class="remove" title="Remove this from your homepage"></a>
                <p class="bank-holiday-date">1 May</p>
                <span class="jigsaw-piece"></span>
              </div>
            </li>
            <li>
              <div class="clipping group bank-holiday">
                <h3>Next bank holiday</h3>
                <a href="#" class="remove" title="Remove this from your homepage"></a>
                <p class="bank-holiday-date">1 May</p>
                <span class="jigsaw-piece"></span>
              </div>
            </li>
            <li>
              <div class="clipping group register-office">
                <h3>Lambeth Register Office</h3>
                <a href="#" class="remove" title="Remove this from your homepage"></a>
                <iframe width="150" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=SW2+1RW&amp;aq=&amp;sll=53.800651,-4.064941&amp;sspn=17.675514,31.420898&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;hnear=London+SW2+1RW,+United+Kingdom&amp;t=m&amp;ll=51.460639,-0.116987&amp;spn=0.008022,0.012789&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
                <div class="info">
                  <p>020 7926 9420</p>
                  <p>Lambeth Register Office<br />
                  Town Hall <br />
                  Brixton Hill <br />
                  London <br />
                  SW2 1RW</p>
                </div>
                <span class="jigsaw-piece"></span>
              </div>
            </li>
          </ul>
        </div>
        <div class="bookmarks">
          <ul>
            <li class="guide"><a href="#">Enhanced rider scheme</a> <a href="#" class="remove" title="Remove this from your homepage"></a></li>
            <li class="guide"><a href="#">Driving disqualifications</a> <a href="#" class="remove" title="Remove this from your homepage"></a></li>
            <li class="guide"><a href="#">Vehicle insurance</a> <a href="#" class="remove" title="Remove this from your homepage"></a></li>
            <li class="guide"><a href="#">Being stopped by the police while driving - your rights</a> <a href="#" class="remove" title="Remove this from your homepage"></a></li>
            <li class="guide"><a href="#">Wills, probate and inheritance - sorting out someone's affairs after their death</a> <a href="#" class="remove" title="Remove this from your homepage"></a></li>
            <li class="guide"><a href="#">How apprenticeships work</a> <a href="#" class="remove" title="Remove this from your homepage"></a></li>
            <li class="answer"><a href="#">Support for families and friends of prisoners: what's available</a> <a href="#" class="remove" title="Remove this from your homepage"></a></li>
          </ul>
        </div>
      </div>
    </div>

  </section>
