<% content_for :extra_headers do %>
<link rel="canonical" href="<%= root_path %>" />
<% end %>
<% content_for :title, "Welcome to GOV.UK Beta (Test) - simpler, clearer, faster access to UK government 
services and information" %>

  <section id="content" role="main" class="group">
    <div class="homepage-section">
      <header class="homepage-banner group">
        <div class="tag-line">
          <p>Welcome to GOV.UK, the best way to get to government services and&nbsp;information</p>
        </div>
        <form id="search" class="site-search" action="<%= @prefix %>/search" method="get" role="search">
          <fieldset>
            <legend class="visuallyhidden">Search the beta.gov.uk site</legend>
            <label for="main_autocomplete" class="visuallyhidden">Search</label>
            <input type="text" id="main_autocomplete" name="q" value="">
            <input type="submit" value="Search" class="button">
            <p class="totry">Try bank holidays, clock change, student finance, car tax</p>
          </fieldset>
        </form>
      </header>
     </div>
    <div class="feature-items">
      <div class="sections">
        <div class="browse section">
          <h2>Browse</h2>
          <ul>
            <li><a href="/browse/crime-and-justice">Crime and justice</a></li>      
            <li><a href="/browse/driving">Driving</a></li>
            <li><a href="/browse/education">Education</a></li>      
            <li><a href="/browse/family">Family</a></li>
            <li><a href="/browse/housing">Housing</a></li>        
            <li><a href="/browse/life-in-the-uk">Life in the UK</a></li>
            <li><a href="/browse/money-and-tax">Money and tax</a></li>
            <li><a href="/browse/neighbourhoods">Neighbourhoods</a></li>        
            <li><a href="/browse/travel">Travel</a></li>
            <li><a href="/browse/work">Work</a></li>
          </ul>
        </div>
        <div class="popular section">
          <h2>Popular</h2>
          <ul>
            <li class="transaction"><a href="/car-tax-disc-vehicle-licence">Get a tax disc</a></li>
            <li class="answer"><a href="/bank-holidays">UK bank holidays</a></li>
            <li class="answer"><a href="/student-finance-calculator">Student finance calculator</a></li>
            <li class="programme"><a href="/housing-benefit">Housing Benefit</a></li>
            <li class="answer"><a href="/maternity-benefits">Maternity pay entitlement</a></li>
            <li class="guide"><a href="/after-a-death/overview">What to do after someone dies</a></li>
            <li class="transaction"><a href="/pay-council-tax">Pay your Council Tax</a></li>
            <li class="answer"><a href="/vat-rates">VAT rates</a></li>
          
          </ul>
        </div>
      </div>
    </div>
    <div class="aerial-info">
      <p class="details">This is an aerial photograph of <a href="http://en.wikipedia.org/wiki/Angel_of_the_North">The Angel of the North</a>.</p>
    </div>
  </section>
  
