<% content_for :extra_headers do %>
<link rel="canonical" href="<%= root_path %>" />
<meta name="description" content="GOV.UK - The new place to find government services and information replacing Directgov and Business Link - Simpler, clearer, faster" />
<% end %>
<% content_for :title, "Welcome to GOV.UK" %>

<section id="content" class="root-index">
  <div id="homepage">

    <header class="homepage-section intro">
      <div class="strap">
        <h1>Welcome to GOV.UK</h1>

        <p>The new place to find government services and information</p>
        <p>Simpler, clearer, faster</p>
      </div>
      <p class="replaces">This website replaces</p>
      <ul>
        <li><%= image_tag 'homepage/directgov-logo.png', :alt => 'Directgov' %></li>
        <li><%= image_tag 'homepage/businesslink-logo.png', :alt => 'Businesslink' %></li>
      </ul>
    </header>

    <div class="homepage-section homepage-categories group">
      <ul class="categories-list group">
        <li class="group">
          <h2><a href="/browse/driving">Driving, transport and travel</a></h2>
          <p>Includes passports and car tax</p>
        </li>
        <li class="group">
          <h2><a href="/browse/benefits">Benefits</a></h2>
          <p>Includes tax credits and eligibility</p>
        </li>
        <li class="group">
          <h2><a href="/browse/business">Businesses and self-employed</a></h2>
          <p>Tools and guidance for businesses</p>
        </li>
        <li class="group">
          <h2><a href="/browse/employing-people">Employing people</a></h2>
          <p>Includes pay, contracts and hiring</p>
        </li>
        <li class="group">
          <h2><a href="/browse/education">Education and learning</a></h2>
          <p>Includes student loans and admissions</p>
        </li>
        <li class="group">
          <h2><a href="/browse/working">Working, jobs and pensions</a></h2>
          <p>Includes holidays and finding a job</p>
        </li>
        <li class="group">
          <h2><a href="/browse/housing">Housing and local services</a></h2>
          <p>Owning or renting and council services</p>
        </li>
        <li class="group">
          <h2><a href="/browse/justice">Crime, justice and the law</a></h2>
          <p>Legal processes, courts and the police</p>
        </li>
        <li class="group">
          <h2><a href="/browse/tax">Money and tax</a></h2>
          <p>Includes debt and Self Assessment</p>
        </li>
        <li class="group">
          <h2><a href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></h2>
          <p>Includes civil partnerships and Lasting Power of Attorney</p>
        </li>
        <li class="group">
          <h2><a href="/browse/disabilities">Disabled people</a></h2>
          <p>Includes your rights, benefits and the Equality Act</p>
        </li>
        <li class="group">
          <h2><a href="/browse/citizenship">Citizenship and life in the UK</a></h2>
          <p>Includes voting, how government works</p>
        </li>
      </ul>
    </div>

    <section class="main-campaign group">
      <a href="/government">Find out about government departments, policies, announcements and more. Inside Government. Get started.</a>
    </section>

    <section class="minor-campaigns group">
      <article class="homepage-section most-popular">
        <header><h1>Most active on GOV.UK</h1></header>
        <ul>
          <li><a href="/jobs-jobsearch">Universal Jobmatch job search</a></li>
          <li><a href="/student-finance-register-login">Log in to student finance</a></li>
          <li><a href="/passport-fees">Passport fees</a></li>
          <li><a href="/jobseekers-allowance">Jobseeker's Allowance</a></li>
          <li><a href="/council-tax-bands">Council Tax bands</a></li>
          <li><a href="/running-a-limited-company/directors-responsibilities">Running a limited company</a></li>
          <li><a href="/book-a-driving-theory-test">Driving theory test</a></li>
          <li><a href="/calculate-vehicle-tax-rates">Car tax rates</a></li>
          <li><a href="/car-tax-disc-vehicle-licence">Get a car tax disc</a></li>
          <li><a href="/vat-rates">VAT rates</a></li>
        </ul>
      </article>
      <article class="homepage-section mini-promo">
        <header>
          <h1>Self Assessment</h1>
        </header>
        <a href="http://www.hmrc.gov.uk/sa/deadline-news.htm"><%= image_tag 'homepage/self-assessment-promo.jpg', :alt => "Do your Tax Return online" %></a>
        <p>Find inner peace. Do your tax return online by 31 January. If you miss it you will get a £100 penalty.</p>

        <p><a href="http://www.hmrc.gov.uk/sa/deadline-news.htm" rel="external">Do it today and take a load off your mind</a></p>
      </article>
      <article class="homepage-section inside-gov">
        <div class="inner">
          <header>
            <h1><a href="https://www.gov.uk/government">Inside Government</a></h1>
          </header>
          <p>Departments, policy, announcements and publications.</p>
          <p>Inside Government on GOV.UK will replace the websites of most government departments and agencies.</p>
          <p><a href="/tour#inside-government">Take the tour</a>.</p>
        </div>
      </article>
    </section>

  </div>
</section>
