<%- presenter = TransactionPresenter.new(@publication) -%>

<section id="content" role="main" class="group">

  <header class="page-header group">
    <hgroup>
     <h1><span>Service</span> Find a job with Universal Jobmatch</h1>
    </hgroup>
    <nav class="skip-to-related">
      <a href="#related">Not what you're looking for? ↓</a>
    </nav>                
  </header>
	<div class="article-container group">
  	<article role="article" class="group">
     <div class="inner">

      <section class="intro">
        <div class="get-started-intro"><p>Register or sign in to Universal Jobmatch and search for full or part-time jobs in Great Britain and abroad by location, title, or type of work. The Universal Jobmatch service lets you create an online CV and automatically match it to available jobs.</p></div>
        <p class="visuallyhidden"><a href="#what-you-need-to-know">What you need to know</a></p>
        
      </section>

      <section class="more">
       <!-- tabs go here -->
        
      </section>

     </div>
   </article>
</div>

</section>

<div id="related-items"></div>
