<% content_for :extra_headers do %>
  <meta name="robots" content="noindex, nofollow" />
<% end %>

<%= render layout: 'base_page', locals: {
  context: 'Service',
  title: params[:slug] == 'transaction-finished' ? 'Your transaction is finished' : 'Thank you',
  publication: @publication,
  edition: @edition,
  json_link: publication_path(@publication.slug, edition: @edition, format: :json, all: true),
} do %>
  <p>Please join the NHS Organ Donor Register.</p>
  <p>If you needed an organ transplant would you have one? If so please help others.</p>
  <p>
    <a rel="external" href="https://www.organdonation.nhs.uk/how_to_become_a_donor/registration/consent.asp?campaign=2244&amp;v=7" title="Register to become an organ donor" class="button" role="button">Join</a>
    or
    <a rel="external" href="http://www.organdonation.nhs.uk/how_to_become_a_donor/questions/index.asp?campaign=2244&amp;v=7" title="Learn more about organ donation">Find out more</a>
  </p>
<% end %>
