
<% content_for :title, "www.gov.uk - the trial ‘beta’ version of the UK government's official website" %>
<% content_for :wrapper_class, "wrapper" %>

<!-- related position hack -->
<div class="related-positioning">
	<div class="related-container">
		<div class="related-container-two">
   		<div class="related">
		     <div class="inner" class="group">
		       <h2>Related tools &amp; topics</h2>
		       <nav role="navigation">
		         <ul>
              <li>Eligibility calculator</li>
		         </ul>
		       </nav>
		     </div>
		   </div><!-- end .related -->
		</div>
	</div>
</div>
<!-- end related position hack -->


<section role="main" class="planner group">

  <header class="group">
		<div class="inner">
			<hgroup>
				<h1>
					<span>Planner</span>
					Maternity leave
				</h1>
			</hgroup>
		</div>
	</header>

  <article role="article" class="group">
		<div class="inner date-planner">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in ipsum lacinia urna ultrices euismod a fermentum nulla. Pellentesque nec dui tellus. Quisque venenatis scelerisque magna vitae fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis in neque magna. Curabitur nisi mauris, pharetra nec mattis eget, gravida eu augue. Vivamus lobortis accumsan mauris, id condimentum enim feugiat a.</p>
			
			<div class="intro">
				<form action="/plannerresults">
				<p>When is your baby due?
					<select>
						<option>17</option>
					</select>  
					
					<select>
						<option>February</option>
					</select>  
					
					<select>
						<option>2012</option>
					</select>  
					<input type="submit" value="Go" class="button" />
				</p>
				</form>
			</div>
			
				<h2>How this works</h2>
				<p>You'll get the key dates you should be aware of in regards to your maternity leave, as well as a calendar you can print to help you plan your leave.</p>
				<ol>
					<li>Generate key dates</li>
					<li>Make a calendar</li>
					<li>Print your calendar</li>
				</ol>
	
			
		</article>
		<!--
		Date by which you must have notified your employer of when you plan to start your maternity leave	05 November, 2011
		Earliest date you can start your maternity leave	27 November, 2011
		Period of Ordinary Maternity Leave	Monday, January 16, 2012 to Sunday, July 15, 2012
		Period of Additional Maternity Leave	Monday, July 16, 2012 to Saturday, January 12, 2013
		Expected week of childbirth	12 February, 2012 to 18 February, 2012
		Baby's due date	17 February, 2012
		-->
  </section>
