<% content_for :extra_javascript do %>
<script src="/javascripts/planner-calendar.js" type="text/javascript"></script>
<script src="/javascripts/maternity.js" type="text/javascript"></script>
<% end %>

<% content_for :title, "www.gov.uk - the trial ‘beta’ version of the UK government's official website" %>
<% content_for :wrapper_class, "wrapper" %>

<!-- related position hack -->
<div class="related-positioning">
	<div class="related-container">
		<div class="related-container-two">
   		<div class="related">
		     <div class="inner" class="group">
		       <h2>Related tools &amp; topics</h2>
		       <nav role="navigation">
		         <ul>
              <li>Eligibility calculator</li>
		         </ul>
		       </nav>
		     </div>
		   </div><!-- end .related -->
		</div>
	</div>
</div>
<!-- end related position hack -->


<section role="main" class="planner group">

  <header class="group">
		<div class="inner">
			<hgroup>
				<h1>
					<span>Planner</span>
					Maternity leave
				</h1>
			</hgroup>
		</div>
	</header>

  <article role="article" class="group">
		<div class="inner date-planner">
			<div class="intro">
				<p>When is your baby due? 
					<select>
						<option>17</option>
					</select>
					<select>
						<option>February</option>
					</select>
					<select>
						<option>2012</option>
					</select>
					<input type="submit" value="Go" class="button" />
				</p>
			</div>
		<section class="key-dates">
			<header>
				<h1>Key Dates</h1>
			</header>
			<ul>
				<li><a href="#">Print</a></li>
				<li><a href="#">iCal</a></li>
			</ul>
			
		</section>
		<div id="calendar"></div>
	
			
		</article>
		<!--
		Date by which you must have notified your employer of when you plan to start your maternity leave	05 November, 2011
		Earliest date you can start your maternity leave	27 November, 2011
		Period of Ordinary Maternity Leave	Monday, January 16, 2012 to Sunday, July 15, 2012
		Period of Additional Maternity Leave	Monday, July 16, 2012 to Saturday, January 12, 2013
		Expected week of childbirth	12 February, 2012 to 18 February, 2012
		Baby's due date	17 February, 2012
		-->
  </section>
