<% # this needs to take into account that each help page has its own page title content_for :title, "Platform tools and resources for developers | GOV.UK" %>

<section id="content" role="main" class="group ancillary platform">

	<header class="page-header group">
		<hgroup>
		  <h1>Platform tools and resources for developers</h1>
		</hgroup>
	</header>

  <%= render :partial => 'platform_menu' %>
  <article role="article" class="group">

  <% if @slug %>
    <%= render :partial => "platform_#{@slug}" %>
  <% else %>
    <section>

  		<h1>About our platform</h1>

    	<p>Content here</p>

  </section>
  <% end %>
    
  </article>

</section>
