<% content_for :title, "Platform tools and resources for developers | GOV.UK" %>

<section id="content" role="main" class="group ancillary platform">

	<header class="page-header group">
		<hgroup>
		  <h1>Platform tools and resources for developers</h1>
		</hgroup>
	</header>

  <nav class="menu group" role="navigation">
    <ul>
      <li><a class="help-home" href="#">Home</a></li>
      <li><a class="help-searching" href="#">Searching</a></li>
      <li><a class="help-contactus" href="#">Contact us</a></li>
      <li><a class="help-accessibility" href="#">Accessibility</a></li>
      <li><a class="help-terms" href="#">Terms and conditions</a></li>
      <li><a class="help-cookies" href="#">Cookies</a></li>
      <li><a class="help-Feedback" href="#">Feedback</a></li>
    </ul>
  </nav>

  <article role="article" class="group">
    
    <h1>1. Search</h1>

		<p>The search box is found on the top right of every page. As you enter your search term, suggested links will appear below so you can quickly access the content you are looking for. If you complete your search term and click 'go', you will be taken to a results page displaying the relevant content. Different types of content - such as text, multimedia or tools - have symbols to distinguish them so that you can easily choose the right one for you.</p>

		<h1>Related tools and topics</h1>

		<p>The related tools and topics box is found on the right side of every page. It displays links to content or tools that may be relevant to you based on the information you are viewing at the time.</p>
			<p>The related tools and topics box is found on the right side of every page. It displays links to content or tools that may be relevant to you based on the information you are viewing at the time.</p>
			
		<h2>Related tools and topics h2</h2>
		<p>The related tools and topics box is found on the right side of every page. It displays links to content or tools that may be relevant to you based on the information you are viewing at the time.</p>
		
		<h1>Related tools and topics h1</h1>
		<h2>Related tools and topics h2</h2>
		<h3>Related tools and topics h3</h3>
		<h4>Related tools and topics h4</h4>
<p>The search box is found on the top right of every page. As you enter your search term, suggested links will appear below so you can quickly access the content you are looking for. If you complete your search term and click 'go', you will be taken to a results page displaying the relevant content. Different types of content - such as text, multimedia or tools - have symbols to distinguish them so that you can easily choose the right one for you.</p>

		<h1>3. Top-level navigation bar</h1>

		<p>At the top of each page, a navigation bar shows you which section of the site you are currently in. You can use it to return to the section or website homepage.</p>
    
  </article>

</section>