<% content_for :title, "www.gov.uk - the trial ‘beta’ version of the UK government's official website" %>
<% content_for :wrapper_class, "wrapper" %>

<section id="content" role="main" class="group search">

	<header>
		<h1>Search results</h1>
	</header>

  <div class="results top group">
    <header>
      <h2>There were <strong>0</strong> Results for <span>Police</span></h2>
    </header>

    <ul class="search-not-found">
      <li>
        <h3><a href="#s">Please try again</a></h3>
        <p>We can&rsquo;t find any results for [search term].</p>
        <p>Return to the search box at the top of the page and try another search.</p>
      </li>
    <ul>
  </div>

</section>
