<% content_for :title, "www.gov.uk - the trial ‘beta’ version of the UK government's official website" %>
<% content_for :wrapper_class, "wrapper" %>

<section id="content" role="main" class="group search">

	<header>
		<h1>Search results</h1>
		<p>There were <strong>[xxx]</strong> results for [search term].</p>
	</header>

  <div class="results top group">
    <header>
      <h2>Top 4 results for <span>[search term]</span></h2>
    </header>
    <ol>
      <li class="local_transaction">
        <a href="#" title="View [transaction title]">Order a copy of a birth, death or marriage certificate</a>
        <p>You can order a copy of a birth, death or marriage certificate from the General Register Office. This is only available in England and Wales.</p>

        <div class="transaction-link">
          <a href="#" title="Follow the direct link to this transaction - (you will leave the gov.uk website)">View this transaction &rarr;</a>
        </div>
      </li>
      <li class="answer">
        <a href="#" title="View xxx">Stop my former partner taking my child out of the country</a>
        <p>You can <strong>stop your ex-partner</strong> (or anyone else connected to your child) from getting your child a passport by getting a court order to stop them.</p>
      </li>
      <li class="guide">
        <a href="#" title="View xxx">Bank holidays in England 2012</a>
        <ul>
          <li><a href="#">Part 1</a></li>
          <li><a href="#">Part 2</a></li>
          <li><a href="#">Part 3</a></li>
        </ul>
      </li>
      <li class="transaction">
        <a href="#" title="View xxx">Buy a UK fishing rod licence</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
    <ol>
  </div>

  <div class="results group">
    <header>
      <h3>More results</h3>
    </header>

    <ol>
      <li>
        <a href="#">Lorem ipsum dolor sit</a>
        <small>http://www.gov.uk/url/points/here</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
      <li>
        <a href="#">Bank holidays in England 2012</a>
        <small>http://www.gov.uk/url/points/here</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
      <li>
        <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit</a>
        <small>http://www.gov.uk/url/points/here</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
      <li>
        <a href="#">Bank holidays in England 2012</a>
        <small>http://www.gov.uk/url/points/here</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
      <li>
        <a href="#">Incididunt ut labore et dolore magna aliqua</a>
        <small>http://www.gov.uk/url/points/here</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
      <li>
        <a href="#">Bank holidays in England 2012</a>
        <small>http://www.gov.uk/url/points/here</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
      <li>
        <a href="#">Stop my former partner taking my child out of the country</a>
        <small>http://www.gov.uk/url/points/here</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
      <li>
        <a href="#">Bank holidays in England 2012</a>
        <small>http://www.gov.uk/url/points/here</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
      <li>
        <a href="#">Order a copy of a birth, death or marriage certificate</a>
        <small>http://www.gov.uk/url/points/here</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
      <li>
        <a href="#">Buy a UK fishing rod licence</a>
        <small>http://www.gov.uk/url/points/here</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
    <ol>
  </div>

</section>
