<% content_for :title, "www.gov.uk - the trial ‘beta’ version of the UK government's official website" %>
<% content_for :wrapper_class, "wrapper" %>

<section id="content" role="main" class="group search">

	<header>
		<h1>Search results</h1>
		<p>There are currently [xxx] results for &ldquo;search term&rdquo;.</p>
	</header>

  <div class="results top group">
    <header>
      <h2>Results for <span>Police</span></h2>
    </header>

    <ul class="search-promoted">
      <li>
        <h3><a href="#" title="View xxx">http://www.police.gov.uk</a></h3>
        <p>The official website for the Police is http://www.police.gov.uk - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p><a href="#" class="button" title="View this website (you will leave the gov.uk website)">View this website &rarr;</a></p>
      </li>
    <ul>
  </div>

  <div class="results group">
    <header>
      <h3>More results</h3>
    </header>
    <ol>
      <li>
        <a href="#">Lorem ipsum dolor sit</a>
        <small>http://www.gov.uk/url/points/here</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
      <li>
        <a href="#">Bank holidays in England 2012</a>
        <small>http://www.gov.uk/url/points/here</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
      <li>
        <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit</a>
        <small>http://www.gov.uk/url/points/here</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
      <li>
        <a href="#">Bank holidays in England 2012</a>
        <small>http://www.gov.uk/url/points/here</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
      <li>
        <a href="#">Incididunt ut labore et dolore magna aliqua</a>
        <small>http://www.gov.uk/url/points/here</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
      <li>
        <a href="#">Bank holidays in England 2012</a>
        <small>http://www.gov.uk/url/points/here</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
      <li>
        <a href="#">Stop my former partner taking my child out of the country</a>
        <small>http://www.gov.uk/url/points/here</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
      <li>
        <a href="#">Bank holidays in England 2012</a>
        <small>http://www.gov.uk/url/points/here</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
      <li>
        <a href="#">Order a copy of a birth, death or marriage certificate</a>
        <small>http://www.gov.uk/url/points/here</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
      <li>
        <a href="#">Buy a UK fishing rod licence</a>
        <small>http://www.gov.uk/url/points/here</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
    <ol>
  </div>

</section>
