<% content_for :title, "www.gov.uk - the trial ‘beta’ version of the UK government's official website" %>
<% content_for :wrapper_class, "wrapper" %>

  <section id="content" role="main" class="group search">

	<header>
		<h1>Search results</h1>
		<p>Looks like we haven't got this far yet.  Don't worry, full search will be coming soon!</p>
	</header>


	<!--div class="results group">
		<header>
			<h2>Search results <span>(139 articles)</span></h2>
		</header>
		<ol>
			<li><a href="#">Bank holidays in England 2012</a></li>
			<li><a href="#">Bank holidays in England 2012</a></li>
			<li><a href="#">Bank holidays in England 2012</a></li>
		<ol>
	</div-->

  </section>
