<% content_for :extra_javascript do %>
<script src="/javascripts/geo-locator.js" type="text/javascript"></script>
<% end %>
<% content_for :title, "beta.gov.uk - the trial ‘beta’ version of the UK government's official website" %>
  <section class="group section" role="main">
	<%= render :partial => 'location_header' %>  
	<div id="homepage-search" class="location-not-set group">
		<header>
			<h1><%= @section.name %></h1>
		</header>

		
	<div class="popular-sections group">
		<div class="popular-in-section">
			<h2>Popular in this section</h2>
			<ul>
				<li class="answer"><a href="#">Bank holidays in England 2012</a></li>
				<li class="answer"><a href="#">Bank holidays in England 2012</a></li>
				<li class="answer"><a href="#">Bank holidays in England 2012</a></li>
				<li class="answer"><a href="#">Bank holidays in England 2012</a></li>
				<li class="answer"><a href="#">Bank holidays in England 2012</a></li>
				<li class="answer"><a href="#">Bank holidays in England 2012</a></li>
				<li class="answer"><a href="#">Bank holidays in England 2012</a></li>
				<li class="answer"><a href="#">Bank holidays in England 2012</a></li>
				<li class="answer"><a href="#">Bank holidays in England 2012</a></li>
				<li class="answer"><a href="#">Bank holidays in England 2012</a></li>
			</ul>
		</div>
	

	</div>

	<div class="a-z group">
		<header>
			<h2>A to Z</h2>
		
		</header>
		<ul>
			<li><h3>A</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
			</li>
			<li><h3>B</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
			</li>
			<li><h3>C</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
			</li>
			<li><h3>D</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
			</li>
			<li><h3>E</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
			</li>
			<li><h3>F</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
			</li>
			<li><h3>G</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
			</li>
			<li><h3>H</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
			</li>
			<li><h3>I</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
			</li>
			<li><h3>J</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
			</li>
			<li><h3>K</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
			</li>
			<li><h3>L</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
			</li>
			<li><h3>M</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
			</li>
			<li><h3>N</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
			</li>
			<li><h3>O</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
			</li>
			<li><h3>P</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
			</li>
			<li><h3>Q</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
			</li>
			<li><h3>R</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
			</li>
			<li><h3>S</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
			</li>
			<li><h3>T</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
			</li>
			<li><h3>U</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
			</li>
			<li><h3>V</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
			</li>
			<li><h3>W</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
			</li>
			<li><h3>X</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
			</li>
			<li><h3>Y</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
			</li>
			<li><h3>Z</h3>
				<ul>
					<li class="guide"><a href="/preview/2/parental-rights-and-responsibilities/who-has-parental-responsibility">Parental rights and responsibilities</a></li>
					<li class="answer"><a href="/preview/2/law-on-leaving-your-child-home-alone">The law on leaving your child home alone</a></li>
					<li class="guide"><a href="/preview/2/stop-ex-partner-getting-child-passport">Stop your ex-partner getting your child a passport </a></li>
				</ul>
			</li>
		<ul>
	</div>

  </section>
