<div id="global-locator-box" class="popover">
  <div id="global-set-location">

    <h2>Settings</h2>

    <p>We&rsquo;ve worked hard to make our website as easy-to-use and understand as possible for every visitor, regardless of ability or disability.</p>
    <p>We have also added an additional way to view the website for dyslexic users or those who find words difficult, and we will be looking into adding more in the upcoming months.</p>

    <h3>Change the theme</h3>
    <div class="personalise-options">
      <input type="radio" title="use the easier-to-read theme" id="wordsdifficult" name="acc-options">I find words difficult</input>
      <input type="radio" title="don't use a custom theme, just show me the regular website" id="core" name="acc-options">Show me the regular website</input>

    </div>

    <div class="global-location hidden">
      <h2>Set your location</h2>
      <div class="global-locator-error"></div>

        <form id="global-locator-form">
          <fieldset>
            <legend class="visuallyhidden">Postcode lookup</legend>
            <% if @edition %>
              <input type="hidden" name="edition" value="<%= @edition %>" />
            <% end %>
            <div class="location_error"></div>

            <div class="ask_location">
              <label for="postcode">Enter a UK postcode <input class="postcode" name="postcode" type="text" placeholder="e.g. SW1A 2AA"></label>
              <input type="submit" value="Set my location &rarr;" class="button" />
            </div>

            <div class="finding_location hidden">
              <p>Locating you&hellip;</p>
            </div>
            <div class="found_location hidden">
              <p class="friendly-name">We think you&rsquo;re in <strong></strong>. <a class="change-location" href="#">Not in <span class="friendly-name"></span>?</a></p>
            </div>
          </fieldset>
        </form>

        <h3>Why?</h3>
        <p>When you set your location we can give you details of services close to you, like Passport offices, driving test centres or police stations.</p>
        <p><small>Your approximate location is <a href="/cookies/">stored in a cookie</a> on your machine, but we do not save your postcode or precise location on our servers.</small></p>
      </div>
  </div>

</div>
<script type="text/javascript">
$(document).ready(function() {

  $('.global-location').removeClass('hidden');
  var global_form = new AlphaGeoForm('#global-locator-form');

});
</script>