<% content_for :title, "www.gov.uk - the trial ‘beta’ version of the UK government's official website" %>
<% content_for :wrapper_class, "wrapper" %>

  <section id="content" role="main" class="group">
    <header class="group">
        <hgroup>
          <h1><span>Smart answer </span>Question formats</h1>
        </hgroup>
    </header>
		<div class="article-container group">
    	<article role="article" class="group">
	      <div class="inner">
	        <ul class="questions">
	          <li class="answered">
	            <!-- once answered, changing the question to past-tense and showing what you answered -->
	            <!-- probably want to put an ID on each li, so we can anchor to them -->
	            <p>Your passport has your country listed as: United Kingdom <a href="">Change your answer</a></p>
	          </li>
	          <li>
	            <form>
	              <label class="question" for="id">Which country is listed in your passport?  Does this become country specific because we show flags or something?</label>
	              <select id="id">
	                <option>United Kingdom</option>
	              </select>
	              <input type="submit" class="button progress-question" value="Continue" />
	            </form>
	          </li>
	          <li>
	            <form>
	              <label class="question" for="yn">Do you like yes or no buttons best?</label>
	              <span class="yesno">
	                <input type="submit" value="Yes" class="button" id="yn" />
	                <input type="submit" value="No" class="button" />
	              </span>
	            </form>
	            </li>
	            <li>
	              <form>
  	              <p class="question">Do you like yes or no radios best?</p>
  	                <label><input type="radio" value="Yes" /> Yes</label>
                    <label><input type="radio" value="No" /> No</label>
  	            </form>
  	            <input type="submit" class="button progress-question" value="Continue" />
  	        </li>
	          <li>
	            <form>
	              <label class="question" for="dob">When is your birthday?</label>
	              <select id="dob">
	                <option>1</option>
	              </select>
	              <select>
	                <option>January</option>
	              </select>
	              <select>
	                <option>1900</option>
	              </select>
	              <input type="submit" class="button progress-question" value="Continue" />
	            </form>
            </li>
	          <li>
	            <label class="question" for="fave">Which is your favourite one of these things with drop down?</label>
	            <select id="fave">
	              <option>this one</option>
	            </select>
	            <input type="submit" class="button progress-question" value="Continue" />
	          </li>
	          <li>
	            <p class="question">Which is your favourite one of these things with radio?</p>
	              <label><input type="radio" /> this one</label>
	              <label><input type="radio" /> that one</label>
	              <label><input type="radio" /> the other one</label>
	            <input type="submit" class="button progress-question" value="Continue" />
	          </li>
	          <li>
	            <label class="question" for="q">How much money do you earn per week?</label>
	            <span class="monetary"><span>£</span><input type="text" id="q" /></span>
	            <input type="submit" class="button progress-question" value="Continue" />
	          </li>
	          <li class="answer">
	            <p>You win!  I'm not sure what you win, but it's something and it's probably awesome.</p>
	            <p><a href="" class="button">Continue on to some other website</a></p>
	          </li>
	        </ul>
	      </div>
	    </article>
			<div class="meta-data">
  			<p class="modified-date">Last updated: xxx</p>
        <p>Re-use this data:</p>
				<ul class="api-links">
          <li class="json"><a href="">JSON</a></li>
        </ul>
  		</div>
		</div>
  </section>

<!-- related -->
<div class="related-positioning">
	<div class="related-container">

   		<div class="related">
		     <div class="inner group">
		       <h2>Related tools &amp; topics</h2>
		       <nav role="navigation">
		         <ul>
                  <li class="related-topic"><a href="">View</a></li>
		         </ul>
		       </nav>
		     </div>
		   </div>

	</div>
</div>
<!-- end related -->