<%- presenter = TransactionPresenter.new(@publication) -%>

<main id="content" role="main" class="group">
  <header class="page-header group">
    <div>
      <h1><%= @publication.title %></h1>
    </div>
  </header>
</main>
