<% content_for :title, "Tour of GOV.UK | Help | GOV.UK" %>
<section id="content" role="main" class="group tour">

  <header class="page-header group">
    <hgroup>
      <h1>Tour of GOV.UK</h1>
    </hgroup>
  </header>

  
  <article role="article" class="group">
    <section>
      <div class="tour-feature intro">
        <!--div class="screenshot">
          <img src="" alt="GOV.UK Homepage screenshot" />
        </div -->
        <div class="description">
          <p>Welcome to the GOV.UK beta site <span>a better way to find government services and information.</span></p>
        </div>
      </div>
      
      
      <div class="tour-feature">
        <div class="description">
          <h2>Start with search</h2>
          <p>People begin most internet journeys with search. So that’s where our site begins.</p>
        </div>
        <div class="screenshot">
          <img src="" alt="[point to main search box]" />
        </div>
      </div>

      <div class="tour-feature">
        <div class="description">
          <h2>Simple navigation</h2>
          <p>We keep the options simple and clear, and always show you where you are on the site.</p>
        </div>
        <div class="screenshot">
          <img src="" alt="[point to top nav and the crumb trail (is that what you call it?)]" />
        </div>
      </div>

     <div class="tour-feature">
       <div class="description">
         <h2>Clearly grouped content</h2>
         <p>A clear pop-up menu takes you straight to the most popular and useful pages and topics.</p>
        </div>
        <div class="screenshot">
          <img src="" alt="[point to main pop-up nav at bottom of page]" />
        </div>
    </div>

    <div class="tour-feature">
      <div class="description">
        <h2>We love feedback</h2>
        <p>It’s a beta, so please give us any and all feedback. It’ll help us make the site better.</p>
      </div>
      <div class="screenshot">
        <img src="" alt="[point to feedback button in footer]" />
        <p></p>
      </div>
    </div>

    <div class="tour-feature">
      <div class="description">
        <h2>Space to breathe</h2>
        <p>The clean design simplifies rather than confuses. There’s also space for any government news or announcements.</p>
      </div>
      <div class="screenshot">
        <img src="" alt="[point to main promo area in the middle of the homepage i.e. the nice big photos]" />
      </div>
    </div>

    <div class="tour-feature">
      <div class="description">
        <h2>Clearly organised information</h2>
        <p>To help people find what they need, we’ve organised information in the most user-friendly way.</p>
      </div>
      <div class="screenshot">
        <img src="" alt="[show example of clear, simple page]" />
      </div>
    </div>
    
    <div class="tour-feature">
      <div class="description">
        <h2>Each page makes sense</h2>
        <p>If people arrive at our pages from an external search, each page needs to make standalone sense.</p>
      </div>
      <div class="screenshot">
        <img src="" alt="[show a typical (and clear) landing page]" />
      </div>
    </div>

    <div class="tour-feature">
      <div class="description">
        <h2>Simple and straightforward</h2>
        <p>Pages are simple so that people can spend as little time on the site as possible, without fuss or delay.</p>
      </div>
    </div>

      <h2>Information is presented in a few different ways:</h2>

    <div class="tour-feature">
      <div class="description">
        <p>Guides are groups of information that are more lengthy or complex. Most guides have chapters on the left-hand side, allowing you to quickly access the right information.</p>
      </div>
      <div class="screenshot">
        <img src="" alt="Screenshot of Find out about adult learning and skills guide" />
        <p>Find out about adult learning and skills</p>
      </div>
    </div>
    
    <div class="tour-feature">
      <div class="description">
        <p>Quick answers provide concise answers to popular user questions. Less text, more specific answers.</p>
      </div>
      <div class="screenshot">
        <img src="" alt="Screenshot of Child Benefit rates quick answer" />
        <p>Child Benefit rates</p>
      </div>
    </div>
    
    <div class="tour-feature">
      <div class="description">
        <p>Smart answers – by answering a series of questions, you’ll get to one specific answer in a relatively open ended situation e.g. working out which maternity benefits you’re eligible for.</p>
      </div>
      <div class="screenshot">
        <img src="" alt="Screenshot of Maternity benefits you're eligible for smart answer" />
        <p>Maternity benefits you're eligible for</p>
      </div>
    </div>
    
    <div class="tour-feature">
      <div class="description">
        <p>Services are tools and transactional pages that enable you to complete tasks online and interact with government.</p>
      </div>
      <div class="screenshot">
        <img src="" alt="Screenshot of Apply online for a replacement Child Trust Fund voucher service" />
        <p>Apply online for a replacement Child Trust Fund voucher</p>
      </div>
    </div>
    
    <div class="tour-feature">
      <div class="description">
        <p>Local services – just enter your postcode and find places and services which are local to you, such as your nearest recycling point or driving test centre.</p>
      </div>
      <div class="screenshot">
        <img src="" alt="Screenshot of Disability day care centre local service" />
        <p>Disability day care centres</p>
      </div>
    </div>
    
    <div class="tour-feature">
      <div class="description">
        <p>Benefits and schemes – an overview of a particular government benefit or scheme, allowing you to read additional information if you need using the tabs at the top of the page.</p>
      </div>
      <div class="screenshot">
        <img src="" alt="Screenshot of Statutory Sick Pay Benefit and Scheme" />
        <p>Statutory Sick Pay</p>
      </div>
    </div>


      <p>Thanks for reading, and we hope you like the site.</p>
      
    </section>

  </article>

</section>