<% content_for :title, "Tour - GOV.UK Beta (Test)" %>
<section id="content" role="main" class="group tour">
<div class="tour-container full-width group">
  <header class="page-header group">
    <hgroup>
      <h1>GOV.UK is the best place to find government services and information.</h1>
    </hgroup>
  </header>
  <div class="tour-video">
    <div id="govuk-tour-video">
      <figure class="media-player-wrapper" id="video">
        <a href="http://www.youtube.com/watch?v=SuEU-d4A5Tk">Watch our video about GOV.UK</a>
      </figure>
    </div>
    <figcaption><p>Watch Sarah Richards and Mike Bracken from the Government Digital Service introduce GOV.UK in this short video.</p> 
      <p><a href="">View video transcript</a></p>
      <div class="video-transcript">
        <p>Sarah: GOV.UK is a new website, it's the best place to find government services and information.</p>
        <p>Mike: GOV.UK makes it simpler, clearer and faster for people to get what they need from government.</p>
        <p>Sarah: It's got some step-by-step guides for things like employing new staff, which can make some complicated processes much easier to understand.</p>
        <p>Mike: You can work out things like maternity pay with the help of some very simple tools.</p>
        <p>Sarah: And for things like Bank Holidays, we put the information most people are looking for right in the middle of the page.</p>
        <p>Mike: GOV.UK. It's simpler, clearer and faster. Have a look at www.gov.uk.</p>
      </div>
    </figcaption>
  </div>
  <div class="tour-intro">
    <p>It’s a simpler, clearer and faster way to get what you need from the government.</p>
    <p>You can read more about the site below, or get started now by searching for things like <a href="/search?q=driving+test">driving test</a>, <a href="/search?q=passport">passport</a>, and <a href="/search?q=holiday+entitlement">holiday entitlement</a>.</p>
  </div>
  <ul class="tour-topics group">
    <li>
        <h2>Starting with search</h2>
        <p>People begin most internet journeys with search, so we’ve designed the site with that in mind.</p>
      <p>Whether you use a search engine or our own search tools, we’ve made sure you’ll get to the information you want quickly.</p>
      <form class="search-box" action="/search" method="get" role="search">
        <p>
          <label for="main_autocomplete2" class="visuallyhidden">Try searching</label>
          <input type="text" id="main_autocomplete2" value="" name="q" placeholder="Enter search text">
          <input type="submit" value="Search" class="button">
        </p>
      </form>
      </li>
      <li>
        <h2>Simple navigation</h2>
        <p>We use clear and simple headings and descriptions like <a href="/browse/driving/mot-insurance">&lsquo;MOT and vehicle insurance&rsquo;</a> or <a href="/browse/business/imports-exports">&lsquo;Imports and exports&rsquo;</a>. And we always show you where you are, so you can quickly explore a category.</p>
        
      </li>
      <li>
        <h2>Plain and direct language</h2>
        <p>We’ve made sure that everything on GOV.UK has been written simply and directly, so that it&rsquo;s usable and accessible by everyone. That means short, engaging pieces of writing that avoid unnecessary jargon.</p>
      <p>The <a href="/designprinciples/styleguide">GOV.UK style guide</a> goes into more detail about the guidelines our writers follow for everything on the site.</p>
      </li>
      <li>
        <h2>Pages clear of clutter</h2>
        <p>Pages are clean and simple, and we’ve looked carefully at what people search for so we show the information most people want right away.</p>
        
      </li>
      <li>
        <h2>Step-by-step guides</h2>
        <p>We’ll take you step by step through complicated processes, like <a href="/employing-staff">employing staff for the first time</a> and highlight the most important information.</p>
        
      </li>
      <li>
        <h2>Detail when you need it</h2>
        <p>If you need more specific information, about things like <a href="/maternity-benefits">maternity pay entitlement</a>, then our tools will quickly give you a clear answer.</p>
        
      </li>
  </ul>


  <h2>Try searching GOV.UK now</h2>
  <form class="search-box" action="/search" method="get" role="search">
    <p>
      <label for="main_autocomplete2" class="visuallyhidden">Try searching</label>
      <input type="text" id="main_autocomplete2" value="" name="q" placeholder="Enter search text">
      <input type="submit" value="Search" class="button">
    </p>
  </form>
</div>
</section>

<% content_for :body_classes do %>full-width<% end %>

<% content_for :extra_javascript do %>
  <%= javascript_include_tag 'media-player.js', :defer => 'defer' %>
  <%= javascript_include_tag 'tour.js', :defer => 'defer' %>
<% end %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag 'media-player.css' %>
<% end %>