<% content_for :title, "Help using GOV.UK | Help | GOV.UK" %>
<section id="content" role="main" class="group ancillary help">

  <header class="page-header group">
    <hgroup>
      <h1>Tour of GOV.UK</h1>
    </hgroup>
  </header>

  <%= render :partial => 'menu' %>
  <article role="article" class="group">
    <section>

      <h2>Tour</h2>

      
    </section>

  </article>

</section>