<% content_for :title, "Tour of GOV.UK - Help - GOV.UK Beta (Test)" %>
<section id="content" role="main" class="group tour">
<div class="tour-container full-width group">
  <header class="page-header group">
    <hgroup>
      <h1>GOV.UK is the best place to find government services and information.</h1>
    </hgroup>
  </header>
  <div class="tour-video">
    <figure></figure>
    <figcaption><p>Find out about GOV.UK in under a minute.</p></figcaption>
  </div>
  <div class="tour-intro">
    <p>It’s a simpler, clearer and faster way to get what you need from government.</p>
    <p>You can read more about the site below, or get started now by searching for things like <a href="https://www.gov.uk/search?q=car+tax">car tax</a>, <a href="https://www.gov.uk/search?q=passports">passports</a>, and <a href="https://www.gov.uk/search?q=holiday+entitlement">holiday entitlement</a>.</p>
  </div>
  <ul class="tour-topics group">
    <li>
        <h2>Starting with search</h2>
        <p>People begin most internet journeys with search, so we’ve designed the site with that in mind.</p>
      <p>Whether you use a search engine or our own search tools, we’ve made sure you’ll get to the information you want quickly.</p>
      <form class="search-box" action="/search" method="get" role="search">
        <p>
          <label for="main_autocomplete2" class="visuallyhidden">Try searching</label>
          <input type="text" id="main_autocomplete2" value="" placeholder="Enter search text">
          <input type="submit" value="Search" class="button">
        </p>
      </form>
      </li>
      <li>
        <h2>Simple navigation</h2>
        <p>We use clear and simple headings and descriptions like <a href="#">'LINK TO CATEGORY'</a> or <a href="#">'LINK TO CATEGORY'</a>. And we always show you where you are, so you can quickly explore a category.</p>
        <img src="images/breadcrumbs.png" />
      </li>
      <li>
        <h2>Plain and direct language</h2>
        <p>We’ve made sure that everything on GOV.UK has been written simply and directly, so that it is usable and accessible by everyone. That means short, engaging pieces of writing that avoid unnecessary jargon.</p>
      <p>The <a href="https://www.gov.uk/designprinciples/styleguide">GOV.UK style guide</a> goes into more detail about the guidelines our writers adhere to for everything on the website.</p>
      </li>
      <li>
        <h2>Pages clear of clutter</h2>
        <p>Pages are clean and simple, and we’ve looked carefully at what people search for so we show the information most people want right away.</p>
        <img src="images/placeholder.png" />
      </li>
      <li>
        <h2>Step-by-step guides</h2>
        <p>We’ll take you through complicated processes, like employing staff for the first time, step-by-step, and highlight the most important information.</p>
        <img src="images/placeholder.png" />
      </li>
      <li>
        <h2>Detail when you need it</h2>
        <p>If you need more specific information, about things like maternity pay entitlement, then our tools will quickly give you a clear answer.</p>
        <img src="images/placeholder.png" />
      </li>
  </ul>


  <h2>Search GOV.UK</h2>
  <p>Some sort of introductory paragraph call to action thing here.</p>
  <form class="search-box" action="/search" method="get" role="search">
    <p>
      <label for="main_autocomplete2" class="visuallyhidden">Try searching</label>
      <input type="text" id="main_autocomplete2" value="" placeholder="Enter search text">
      <input type="submit" value="Search" class="button">
    </p>
  </form>
</div>
</section>

<% content_for :body_classes do %>full-width<% end %>