@import "govuk_publishing_components/individual_component_support";

.app-c-download-link {
  display: inline-block;
  padding-left: 25px;
  background-image: url("components/download-link/download-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 3px;
  background-size: 20px 20px;
}

.app-c-download-link--calendar {
  padding-left: 26px;
  background-image: url("components/download-link/calendar-icon.svg");
  background-position: 0 2px;
  background-size: 18px 21px;
}
