@import "@defra/interactive-map/dist/css/index";
@import "@defra/interactive-map/plugins/interact/dist/css/index";

.app-c-map--enabled {
  padding: 0;
  background-color: #d7e0e5;
  border: solid 1px $govuk-border-colour;

  @include govuk-media-query($until: desktop) {
    max-height: 80vh;
  }
}

.app-c-map__copyright {
  margin-top: govuk-spacing(1);
}

.app-c-map__copyright-text {
  margin: 0;
}

.app-c-map__popup-title {
  display: block;
  margin-bottom: govuk-spacing(1);
  @include govuk-font(19, $weight: bold);
}

.app-c-map__markers-list {
  display: none;
  padding-top: govuk-spacing(1);
}

.app-c-map__markers-list--visible {
  display:block;
}

.app-c-map__key {
  position: relative;
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  margin-right: 0.4em;
  vertical-align: text-top;

  &::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 30%;
    top: 35%;
    left: 35%;
    background: #FFFFFF;
    border-radius: 100%;
  }
}

.app-c-map__key--square {
  border-radius: 4px;
}

.app-c-map__key--circle {
  border-radius: 100%;
}

.app-c-map__key--pin {
  transform: rotate(45deg);
  border-radius: 100%;
  border-bottom-right-radius: 0;
}

.app-c-map__key--blue {
  background: #1d70b8;
}

.app-c-map__key--green {
  background: #0f7a52;
}

.app-c-map__key--orange {
  background: #f47738;
}

.app-c-map__key--red {
  background: #ca3535;
}

// leaflet element override styles
.leaflet-popup-content {
  padding: govuk-spacing(2) 0;
  padding-top: govuk-spacing(3);
  @include govuk-font(16);
}

.leaflet-popup-close-button {
  transform: scale(1.5);
  transform-origin: top right;
}
