.app-c-postal-vote-video {
  .gem-c-govspeak__youtube-video {
    width: 100%;
    max-width: 560px;
    height: auto;
    padding-bottom: 0;
    aspect-ratio: 16 / 9;
  }

  .gem-c-govspeak__youtube-placeholder {
    box-sizing: border-box;
    max-width: 560px;
  }
}
