@import "govuk_publishing_components/individual_component_support";

.app-c-subscribe {
  margin-bottom: govuk-spacing(8);
  padding-top: govuk-spacing(3);
  @include govuk-font($size: 19);
}

.app-c-subscribe__link {
  @include govuk-font($size: 19, $weight: bold);

  display: block;
  background: url("calendars/icon-calendar.png") no-repeat scroll 0 0;
  min-height: 2.5em;
  padding: 0 0 0 3em;

  @include govuk-device-pixel-ratio {
    background-image: url("calendars/icon-calendar-2x.png");
    background-size: 29px 24px;
  }
}
