$govuk-compatibility-govuktemplate: true;
$govuk-use-legacy-palette: false;

// BASE Stylesheet

// Components from govuk_publishing_components gem
@import 'govuk_publishing_components/all_components';

// local styleguide includes
@import "styleguide/conditionals";

// Helper stylesheets (things on more than one page layout)
@import "helpers/overwrites";
@import "helpers/truncated-url";
@import "helpers/title-context-reset";

// View stylesheets
@import "views/completed-transaction";
@import "views/cookie-settings";
@import "views/homepage";
@import "views/travel-advice";
@import "views/report-child-abuse";
@import "views/local-authority";
@import "views/simple-smart-answer";

// exceptional format overrides
@import "views/jobsearch";
@import "views/location_form";
@import "views/local-transaction";

// Reset some global styles from the `wrapper` layout
.gem-c-related-navigation {
  h3 {
    font-size: 16px;
  }
  ul {
    padding: 0;
    margin: 0;
  }
}

// Reset some styles from the `.content` when it's wrapped in the Govspeak
// component. Can be removed when static is no longer being used.
.content-block {
  .gem-c-govspeak {
    h2 + p,
    h3 + p {
      margin-top: govuk-spacing(4);
    }

    .help-notice {
      p {
        padding: 0;
      }
    }
  }
}
