// BASE Stylesheet

// govuk_frontend_toolkit mixins
@import "_conditionals";
@import "_typography";
@import "_colours";
@import "_css3";

// local styleguide includes
@import "styleguide/_conditionals.css.scss";
@import "styleguide/_colours.scss";

// View stylesheets
@import "views/browse";
@import "views/campaigns";
@import "views/completed-transaction.scss";
@import "views/homepage";
@import "views/industry-sectors";
@import "views/tour";
@import "views/travel-advice";
@import "views/search";
@import "views/help";

