// This flag stops the font from being included in this application's
// stylesheet - the font is being served by Static across all of GOV.UK, so is
// not needed here.
$govuk-include-default-font-face: false;

@import "govuk_publishing_components/govuk_frontend_support";

// Helper stylesheets (things on more than one page layout)
@import "helpers/content-bottom-margin";
@import "helpers/inverse-background";
@import "helpers/sticky-element-container";

// frontend mixins
@import "mixins/margins";

.article-container {
  margin-bottom: govuk-spacing(6);

  @include govuk-media-query($from: tablet) {
    @include responsive-bottom-margin;
  }
}

.direction-rtl {
  direction: rtl;
  text-align: start;

  table th {
    text-align: start;
  }
}
