.govuk-width-container {
  width: 960px;
  margin: 0 auto;
}

.govuk-grid-row {
  margin: 0;
  clear: both;
}

.govuk-grid-column-one-third {
  float: left;
  width: 32%;
  padding: 0;
}

.govuk-grid-column-two-thirds {
  float: left;
  width: 60%;
  padding: 0;
}

.home-top__links {
  padding: 15px 20px 25px 20px;
  background: black;
}

.home-promo__image {
  width: 100%;
}
