$govuk-compatibility-govuktemplate: false;
$govuk-use-legacy-palette: false;
$govuk-new-link-styles: true;

// Components from govuk_publishing_components gem
@import "govuk_publishing_components/govuk_frontend_support";
@import "govuk_publishing_components/components/action-link";
@import "govuk_publishing_components/components/back-link";
@import "govuk_publishing_components/components/big-number";
@import "govuk_publishing_components/components/character-count";
@import "govuk_publishing_components/components/contextual-sidebar";
@import "govuk_publishing_components/components/details";
@import "govuk_publishing_components/components/error-alert";
@import "govuk_publishing_components/components/govspeak";
@import "govuk_publishing_components/components/image-card";
@import "govuk_publishing_components/components/intervention";
@import "govuk_publishing_components/components/lead-paragraph";
@import "govuk_publishing_components/components/panel";
@import "govuk_publishing_components/components/phase-banner";
@import "govuk_publishing_components/components/radio";
@import "govuk_publishing_components/components/related-navigation";
@import "govuk_publishing_components/components/select";
@import "govuk_publishing_components/components/step-by-step-nav";
@import "govuk_publishing_components/components/step-by-step-nav-header";
@import "govuk_publishing_components/components/step-by-step-nav-related";
@import "govuk_publishing_components/components/subscription-links";
@import "govuk_publishing_components/components/success-alert";
@import "govuk_publishing_components/components/summary-list";
@import "govuk_publishing_components/components/table";
@import "govuk_publishing_components/components/tabs";
@import "govuk_publishing_components/components/warning-text";

// These components aren't found in the templates, but the styles are still
// needed as they're used within a page's `content_item`.
//
// Document list is needed for the "Sign in to a service" page.
@import "govuk_publishing_components/components/document-list";
// Inset text is needed for the "Sign in to a service" page.
@import "govuk_publishing_components/components/inset-text";

// local app components
@import "components/calendar";
@import "components/metadata";
@import "components/subscribe";

// local styleguide includes
@import "styleguide/conditionals";

// Helper stylesheets (things on more than one page layout)
@import "helpers/truncated-url";
@import "helpers/title-context-reset";

// View stylesheets
@import "views/calendars";
@import "views/cookie-settings";
@import "views/homepage";
@import "views/travel-advice";
@import "views/recruitment-banner";
@import "views/report-child-abuse";
@import "views/local-authority";

// exceptional format overrides
@import "views/location_form";
@import "views/local-transaction";

// account homepage stylesheet
@import "views/accounts";

// Reset some global styles from the `wrapper` layout
.gem-c-related-navigation {
  h3 {
    font-size: 16px;
  }

  ul {
    padding: 0;
    margin: 0;
  }
}

// Reset some styles from the `.content` when it"s wrapped in the Govspeak
// component. Can be removed when static is no longer being used.
.content-block {
  .gem-c-govspeak {
    h2 + p,
    h3 + p {
      margin-top: govuk-spacing(4);
    }

    .help-notice p {
      padding: 0;
    }
  }
}

.gem-c-govspeak {
  address {
    font-style: normal;
  }
}

.article-container {
  margin-bottom: govuk-spacing(6);

  @include govuk-media-query($from: tablet) {
    @include responsive-bottom-margin;
  }
}

.govuk-roadmap__intro {
  @include govuk-font(24);
}

.govuk-roadmap-section {
  border-bottom: 5px solid govuk-colour("black");
  margin-bottom: govuk-spacing(6);
  padding-bottom: govuk-spacing(6);
}

.govuk-roadmap-section__image {
  max-width: 300px;
  margin: 0 auto;
}

.govuk-roadmap-numbers__column {
  @include govuk-media-query($until: desktop) {
    width: 50%;
  }
}
