.govuk-width-container {
  max-width: 960px;
  margin: 0 auto;
}

.govuk-grid-row {
  margin: 0;
  clear: both;
}

.govuk-grid-column-one-third {
  float: left;
  width: 32%;
  padding: 0;
}

.govuk-grid-column-two-thirds {
  float: left;
  width: 60%;
  padding: 0;
}

.home-top__links {
  position: absolute;
  bottom: 0;
  right: -15px;
  box-sizing: border-box;
  padding: 15px 20px 25px 20px;
  width: 30%;
  background: black;
}
