// BASE Stylesheet

// Components from govuk_publishing_components gem
@import 'govuk_publishing_components/all_components';

// govuk_frontend_toolkit mixins
@import "colours";
@import "conditionals";
@import "css3";
@import "device-pixels";
@import "grid_layout";
@import "measurements";
@import "shims";
@import "typography";
@import "design-patterns/media-player";
@import "design-patterns/buttons";

// local styleguide includes
@import "styleguide/colours";
@import "styleguide/conditionals";
@import "styleguide/not-ie-conditional";

// Helper stylesheets (things on more than one page layout)
@import "helpers/player-container";
@import "helpers/pagination";
@import "helpers/beta-label";
@import "helpers/error-summary";
@import "helpers/truncated-url";
@import "helpers/title-context-reset";

// View stylesheets
@import "views/completed-transaction";
@import "views/cookie-settings";
@import "views/homepage";
@import "views/tour";
@import "views/travel-advice";
@import "views/help";
@import "views/report-child-abuse";
@import "views/local-authority";
@import "views/simple-smart-answer";

// exceptional format overrides
@import "views/jobsearch";
@import "views/location_form";
@import "views/local-transaction";

.column-desktop-third {
  @include grid-column( 2/3, $full-width: desktop );
}

// Reset some global styles from the `wrapper` layout
.gem-c-related-navigation {
  h3 {
    font-size: 16px;
  }
  ul {
    padding: 0;
    margin: 0;
  }
}

// Delete after https://github.com/alphagov/govuk_publishing_components/pull/301
// is merged and used in this application.
.gem-c-radio__input {
  font-size: inherit;
}

// overwrites

// `content-block` leaks styles into the `govuk-tabs` component so we need to
// overwrite a few attributes to defend the component and preserve these values
.content-block {
  .govuk-tabs__list {
    padding: 0;
    margin: 0;
  }

  .govuk-tabs__list-item {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
}
