// This flag stops the font from being included in this application's
// stylesheet - the font is being served by Static across all of GOV.UK, so is
// not needed here.
$govuk-include-default-font-face: false;

@import "govuk_publishing_components/govuk_frontend_support";

// Helper stylesheets (things on more than one page layout)
@import "helpers/truncated-url";

// Reset some styles from the `.content` when it"s wrapped in the Govspeak
// component. Can be removed when static is no longer being used.
.content-block {
  .gem-c-govspeak {
    h2 + p,
    h3 + p {
      margin-top: govuk-spacing(4);
    }

    .help-notice p {
      padding: 0;
    }
  }
}

.gem-c-govspeak {
  address {
    font-style: normal;
  }
}

.article-container {
  margin-bottom: govuk-spacing(6);

  @include govuk-media-query($from: tablet) {
    @include responsive-bottom-margin;
  }
}

.govuk-roadmap__intro {
  @include govuk-font(24);
}

.govuk-roadmap-section {
  border-bottom: 5px solid govuk-colour("black");
  margin-bottom: govuk-spacing(6);
  padding-bottom: govuk-spacing(6);
}

.govuk-roadmap-section__image {
  max-width: 300px;
  margin: 0 auto;
}

.govuk-roadmap-numbers__column {
  @include govuk-media-query($until: desktop) {
    width: 50%;
  }
}

.bank-hols .govuk-panel {
  margin-bottom: govuk-spacing(6);
}



.herotest {
  position: relative;
  background:  govuk-colour("mid-grey");
  margin-bottom: 300px;
}

.herotest-image {
  display: block;
  max-width: 100%;
}

.herotest-text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.herotest-text-box {
  width: calc(100% / 2);
  margin-top: govuk-spacing(4);
  padding: govuk-spacing(4);
  background: govuk-colour("light-grey");
  border: solid 1px $govuk-border-colour;
}

.herotest--full-width {
}

.herotest--limited-width {
  background:  govuk-colour("mid-grey");

  .herotest-image {
    width: 1573px;
    margin: 0 auto;
  }
}

.herotest--fixed-height {
  .herotest-wrapper {
    display: flex;
    justify-content: center;
    height: 500px;
    overflow: hidden;
  }

  .herotest-image {
    height: 100%;
    max-width: none;
  }
}

.herotest--true-full-fixed-height {
  .herotest-wrapper {
    position: relative;
    height: 500px;
    overflow: hidden;
  }

  .herotest-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
