$govuk-compatibility-govuktemplate: true;

// BASE Stylesheet

// Components from govuk_publishing_components gem
@import 'govuk_publishing_components/all_components';

// govuk_frontend_toolkit mixins
@import "design-patterns/media-player";

// local styleguide includes
@import "styleguide/conditionals";

// Helper stylesheets (things on more than one page layout)
@import "helpers/player-container";
@import "helpers/error-summary";
@import "helpers/truncated-url";
@import "helpers/title-context-reset";

// View stylesheets
@import "views/completed-transaction";
@import "views/cookie-settings";
@import "views/homepage";
@import "views/travel-advice";
@import "views/report-child-abuse";
@import "views/local-authority";
@import "views/simple-smart-answer";

// exceptional format overrides
@import "views/jobsearch";
@import "views/location_form";
@import "views/local-transaction";

// Reset some global styles from the `wrapper` layout
.gem-c-related-navigation {
  h3 {
    font-size: 16px;
  }
  ul {
    padding: 0;
    margin: 0;
  }
}
