.govuk-width-container {
  max-width: 960px;
  margin: 0 auto;
}

.govuk-grid-row {
  margin: 0 -15px;
}

.govuk-grid-column-one-third {
  float: left;
  width: 33.3333%;
  padding: 0 15px;
}

.govuk-grid-column-two-thirds {
  float: left;
  width: 66.6666%;
  padding: 0 15px;
}

.home-top__links {
  padding: 15px 20px 5px 20px;
  background: black;
}
