// BASE Stylesheet

// govuk_frontend_toolkit mixins
@import "_conditionals";
@import "_typography";
@import "_colours";
@import "_css3";
@import "design-patterns/media-player";

// local styleguide includes
@import "styleguide/_conditionals.css.scss";
@import "styleguide/_colours.scss";

// Helper stylesheets (things on more than one page layout)
@import "helpers/player-container";

// View stylesheets
@import "views/browse";
@import "views/campaigns";
@import "views/completed-transaction.scss";
@import "views/homepage";
@import "views/specialist-sectors";
@import "views/tour";
@import "views/travel-advice";
@import "views/search";
@import "views/help";
@import "views/tax-disc";
@import "views/view-driving-licence";
@import "views/checkbox-filter";

