// BASE Stylesheet

// govuk_frontend_toolkit mixins
@import "colours";
@import "conditionals";
@import "css3";
@import "device-pixels";
@import "grid_layout";
@import "measurements";
@import "shims";
@import "typography";
@import "design-patterns/media-player";
@import "design-patterns/buttons";

// local styleguide includes
@import "styleguide/colours";
@import "styleguide/conditionals";
@import "styleguide/not-ie-conditional";

// Helper stylesheets (things on more than one page layout)
@import "helpers/player-container";
@import "helpers/pagination";

// View stylesheets
@import "views/campaigns";
@import "views/completed-transaction";
@import "views/homepage";
@import "views/tour";
@import "views/travel-advice";
@import "views/search";
@import "views/help";
@import "views/checkbox-filter";

// exceptional format overrides
@import "views/check-vehicle-tax";
@import "views/make-a-sorn";
@import "views/tax-disc";
@import "views/view-driving-licence";
@import "views/jobsearch";
