$govuk-compatibility-govuktemplate: true;
$govuk-use-legacy-palette: false;

@import 'govuk_publishing_components/govuk_frontend_support';
@import 'govuk_publishing_components/components/print/back-link';
@import 'govuk_publishing_components/components/print/button';
@import 'govuk_publishing_components/components/print/feedback';
@import 'govuk_publishing_components/components/print/govspeak';
@import 'govuk_publishing_components/components/print/search';
@import 'govuk_publishing_components/components/print/share-links';
@import 'govuk_publishing_components/components/print/step-by-step-nav';
@import 'govuk_publishing_components/components/print/step-by-step-nav-header';
@import 'govuk_publishing_components/components/print/subscription-links';
@import 'govuk_publishing_components/components/print/textarea';
@import 'govuk_publishing_components/components/print/title';
