<% title = t("contact.govuk.feedback_thankyou.title") %>

<% content_for :title, "#{title} - GOV.UK" %>

<%= render "govuk_publishing_components/components/title", {
  title: title
} %>

<p class="govuk-body" 
   data-module="ga4-auto-tracker"
   data-ga4-auto="<%= { event_name: "form_complete", type: "contact", text: title, action: "complete", tool_name: "Contact GOV.UK", section: title }.to_json %>">
  <a href="/" class="govuk-link"><%= t("contact.govuk.feedback_thankyou.return")%></a>.
</p>
