<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:g-custom="http://base.google.com/cns/1.0" xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0">
  <channel>
    <title>Travel Advice Summary</title>
    <description>Travel Alerts Summary RSS</description>
    <copyright>The Foreign and Commonwealth Office</copyright>
    <pubDate>Tue, 05 Feb 2013 10:20:28 GMT</pubDate>
    <lastBuildDate>Tue, 05 Feb 2013 10:20:28 GMT</lastBuildDate>
    <ttl>1</ttl>
    <dc:date>2013-02-05T10:20:28Z</dc:date>
    <dc:rights>The Foreign and Commonwealth Office</dc:rights>
    <item>
      <title><%= @publication.country['name'] %></title>
      <link>http://www.fco.gov.uk/content/en/rss-outbound/travel-advice/travel-alerts-full1.rss?itemid=850889582</link>
      <description></description>
      <pubDate></pubDate>
      <guid></guid>
      <dc:date></dc:date>
      <g-custom:id type="string"></g-custom:id>
      <g-custom:travelSummary type="string"></g-custom:travelSummary>
      <g-custom:safetySecurity type="string"></g-custom:safetySecurity>
      <g-custom:lawsCustoms type="string"></g-custom:lawsCustoms>
      <g-custom:entryRequirements type="string"></g-custom:entryRequirements>
      <g-custom:health type="string"></g-custom:health>
      <g-custom:naturalDisasters type="string"></g-custom:naturalDisasters>
      <g-custom:general type="string"></g-custom:general>
      <g-custom:originalID type="string"></g-custom:originalID>
    </item>
  </channel>
</rss>
