<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <title>Travel Advice Summary</title>
    <link>http://www.gov.uk/travel-advice</link>
    <description>Travel Alerts Summary RSS</description>
    <language>en-gb</language>
    <copyright>The Foreign and Commonwealth Office</copyright>
    <lastBuildDate><%= @publication.updated_at %></lastBuildDate>
    <ttl>1</ttl>
    <item>
      <title><%= @publication.country['name'] %></title>
      <link></link>
      <description></description>
    </item>
  </channel>
</rss>
