<%= render "govuk_publishing_components/components/notice", {
    description: sanitize(
        '<p class="govuk-body">
            <span class="govuk-!-font-weight-bold">You cannot update your account details at the moment.</span> This is because we\'re making changes to how the account works.</p>
        <p class="govuk-body">You\'ll be able to update your account details from midday on 28 October.</p>'
      )
} %>
