<% if show_confirmation_reminder? %>
  <%= render "govuk_publishing_components/components/notice" do %>
    <p class="govuk-body">
      <%= sanitize(t("account.confirm.intro.#{confirmation_banner_prompt_type}")) %>
    </p>
    <p class="govuk-body govuk-!-margin-bottom-0">
      <a href="<%= "#{Plek.find('account-manager')}/account/confirmation/new" %>" class="govuk-link"><%= t("account.confirm.link_text") %></a>
    </p>
  <% end %>
<% end %>
