<% if show_confirmation_reminder? %>
  <section class="user-reminder" aria-label="Notice" role="region">
    <p class="govuk-body govuk-!-margin-0">
      <%= sanitize(t("account.confirm.intro.#{confirmation_banner_prompt_type}")) %>
      <a href="<%= "#{Plek.find('account-manager')}/account/confirmation/new" %>" class="govuk-link"><%= t("account.confirm.link_text") %></a>
    </p>
  </section>
<% end %>
