<% content_for :title, "About GOV.UK - Support Pages - GOV.UK" %>

<section id="content" role="main" class="group support-page">
  <header class="page-header group">
    <hgroup class="full-width">
      <h1>About GOV.UK</h1>
    </hgroup>
  </header>


  <div class="support-container full-width group">
    <article role="article" class="group">
      <div class="inner">

        <div class="top-issues">
          <h2>On this page:</h2>
          <ul>
            <li><a href="#what-is-govuk">What is GOV.UK?</a></li>
            <li><a href="#where-can-i-find-govuk">Where can I find GOV.UK?</a></li>
            <li><a href="#who-built-govuk">Who built GOV.UK?</a></li>
            <li><a href="#what-can-i-find-on-govuk">What information can I find on GOV.UK?</a></li>
            <li><a href="#printed-brochures">Have you got printed brochures with the information on your site?</a></li>
            <li><a href="#is-govuk-up-to-date">Is the information on this site up to date?</a></li>
            <li><a href="#has-govuk-been-tested">Has the website been tested?</a></li>
            <li><a href="#what-is-detailed-guidance">What does &lsquo;detailed guidance&rsquo; mean?</a></li>
            <li><a href="#govuk-cookie-policy">What is GOV.UK&rsquo;s cookie policy?</a></li>
            <li><a href="#are-you-monitoring">Are you monitoring what I look at?</a></li>
            <li><a href="#reusing-information">Can I republish the information on this website?</a></li>
            <li><a href="#govuk-linking-policy">What is GOV.UK&rsquo;s linking policy?</a></li>
            <li><a href="#govuk-font">What font are you using on GOV.UK?</a></li>
            <li><a href="#govuk-accessibility-policy">What is GOV.UK&rsquo;s accessibility policy?</a></li>
          </ul>
        </div>


        <h2 id="what-is-govuk">What is GOV.UK?</h2>
        <p>GOV.UK is the best place to find government services and information. This website replaces Business Link and Directgov. It's simpler, clearer and faster for people to use, and is the first step towards a single website for most of government.</p>

        <h2 id="where-can-i-find-govuk">Where can I find GOV.UK?</h2>
        <p>You can find GOV.UK by typing <a href="https://www.gov.uk">www.gov.uk</a> into your internet browser or &lsquo;gov.uk&rsquo; into a search engine.</p>
        
        <h2 id="who-built-govuk">Who built GOV.UK?</h2>
        <p>GOV.UK has been built by the Government Digital Service, or &lsquo;GDS&rsquo;, who are part of the Cabinet Office. You can find out more about the team at <a href="http://digital.cabinetoffice.gov.uk/">http://digital.cabinetoffice.gov.uk/</a>.</p>

        <h2 id="what-can-i-find-on-govuk">What information can I find on GOV.UK?</h2>
        <p>From 17 October you&rsquo;ll be able to find information and services for citizens and businesses on GOV.UK. Over time, more information will be added to the website, including detailed guidance for professionals and comprehensive information on government policy. You can find out more about what is being added to GOV.UK at <a href="http://digital.cabinetoffice.gov.uk/">http://digital.cabinetoffice.gov.uk/</a>.</p>

        <h2 id="printed-brochures">Have you got printed brochures with the information on your site?</h2>
        <p>We don&rsquo;t have printed editions of the information on GOV.UK. However, at the bottom of each page there is a &lsquo;Print this&rsquo; button that will produce a printer-friendly version of the page you are on.</p>

        <h2 id="is-govuk-up-to-date">Is the information on this site up to date?</h2>
        <p>All government departments work very closely with the Government Digital Service to make sure all information on GOV.UK is accurate and up to date. If you have concerns about anything you&rsquo;ve read on GOV.UK then please use the link for feedback at the bottom of every page.</p>

        <h2 id="has-govuk-been-tested">Has the website been tested?</h2>
        <p>GOV.UK is being extensively and continuously tested, including with people whose first language is not English and people with disabilities. You can read more about our testing methods in <a href="http://digital.cabinetoffice.gov.uk/2012/10/05/testing-gov-uk-with-real-users/">this blog post</a>.</p>

        <h2 id="what-is-detailed-guidance">What does &lsquo;detailed guidance&rsquo; mean?</h2>
        <p>&lsquo;Detailed guidance&rsquo; is how we refer to information on GOV.UK written for a specialist audience. This includes professionals and members of the regulatory industry, financial services and others. We make it clear when you may need to look at detailed guidance.</p>

        <h2 id="govuk-cookie-policy">What is GOV.UK&rsquo;s cookie policy?</h2>
        <p>GOV.UK&rsquo;s cookie policy can be read at <a href="https://www.gov.uk/support/cookies">https://www.gov.uk/support/cookies</a>.</p>

        <h2 id="are-you-monitoring">Are you monitoring what I look at?</h2>
        <p>While we do track how people are using GOV.UK, we don&rsquo;t collect or store your personal information (eg your name or address) so this information can&rsquo;t be used to identify who you are.</p>
        <p>We use Google Analytics to store information about what pages users visit, how long they use the site, how they got here and what links are clicked on. We don&rsquo;t allow Google to use or share our analytics data. Google Analytics sets cookies to enable it to track this information. You can find out more at <a href="https://www.gov.uk/support/cookies">https://www.gov.uk/support/cookies</a>.</p>

        <h2 id="reusing-information">Can I republish the information on this website?</h2>
        <p>You can; GOV.UK is published under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/">Open Government Licence</a>. Please read the licence before you republish any information to make sure that you meet all of the conditions of use, and please don&rsquo;t pass your website off as an official site.</p>

        <h2 id="govuk-linking-policy">What is GOV.UK&rsquo;s linking policy?</h2>
        <p>GOV.UK links out to external organisations when that link is essential for helping someone complete a task that they begin on the site. For example, we link information on university applications to the Universities and Colleges Admissions Service (UCAS) website.</p>
        <p>We will consider link requests only from people who believe their sites fall into this &lsquo;essential&rsquo; category, and our support desk will pass your request onto the appropriate person.</p>

        <h2 id="govuk-font">What font are you using on GOV.UK?</h2>
        <p>The typeface we&rsquo;re using is called New Transport. It has has been designed by Margaret Calvert and Henrik Kubel, and is a slightly modified version of Transport, designed by Jock Kinneir and Margaret Calvert, in the late fifties/early sixties, for Britain&rsquo;s national motorway and road sign system.</p>
        <p>Our &lsquo;font stack&rsquo;, the full range of fonts we use in GOV.UK&rsquo;s <abbr title="Cascading Style Sheets">CSS</abbr>, is New Transport, Helvetica Neue, Arial, Helvetica, sans-serif.</p>

        <h2 id="govuk-accessibility-policy">What is GOV.UK&rsquo;s accessibility policy?</h2>
        <p>You can find GOV.UK&rsquo;s accessibility policy at <a href="https://www.gov.uk/support/accessibility">https://www.gov.uk/support/accessibility</a>.</p>
      </div>
    </article>

  </div>
</section>

<% content_for :body_classes do %>full-width<% end %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag 'support-styles' %>
<% end %>