<% content_for :title, "Accessibility and help using the internet - Support Pages - GOV.UK" %>

<%= content_for :extra_headers do %>
  <meta name="description" content="Help if you have accessibility issues or difficulty using the internet and why GOV.UK doesn’t have a separate accessibility statement">
<% end %>

<main id="content" role="main" class="group support-page">
  <header class="page-header group">
    <hgroup class="full-width">
      <h1>Accessibility and GOV.UK, and help using the internet</h1>
    </hgroup>
  </header>


  <div class="support-container full-width group">
    <article role="article" class="group">
      <div class="inner">

        <p>We&rsquo;re working hard to make GOV.UK as accessible and usable as we can for everyone.</p>

        <p>
          The website does not include a separate accessibility statement. The <abbr title="Government Digital Service">GDS</abbr> team is not comfortable with a statement that draws a distinction between accessibility and any other aspect of best practice development.
        </p>

        <p>
          GOV.UK should be usable by recent versions of Jaws, NVDA, VoiceOver, Window Eyes and Supernova screen readers, ZoomText, Magic, Supernova and basic operating system screen magnifiers, as well as speech recognition software including Dragon Naturally Speaking, and native operating system speech packages.
        </p>

        <p>If you have trouble using the site your feedback will help us to make it better, so if you spot any problems please visit <a href="/feedback">the feedback page</a> and let us know. And, if you&rsquo;re interested, <a rel="external" href="http://digital.cabinetoffice.gov.uk/2012/01/20/user-testing-accessibility/">this blog post</a> will tell you more about the accessibility testing we&rsquo;ve been doing.</p>

        <p>If you have any difficulty using the internet or have any accessibility issues, we hope the following information is useful.</p>

        <h2 id="help-getting-started-online">If you need help getting started online</h2>
        <p><a rel="external" href="http://www.bbc.co.uk/webwise/topics/using-the-web/">Getting started with the internet</a> (BBC WebWise)</p>

        <h2 id="internet-training">Find a free internet training course near you</h2>
        <p><a rel="external" href="/ukonline-centre-internet-access-computer-training">UK online centres</a> offer free computer and internet training across the country.</p>

        <h2 id="regular-access">If you don&rsquo;t have regular access to an internet connection</h2>
        <p><a href="/book-internet-access-at-library">Book internet access in your local library</a></p>

        <h2 id="keyboard-mouse">If you find a keyboard or mouse hard to use</h2>
        <p><a rel="external" href="http://www.bbc.co.uk/accessibility/guides/mouse_easier/">Find out how to make your mouse easier to use</a> (BBC My Web)</p>
        <p><a rel="external" href="http://www.bbc.co.uk/accessibility/guides/keyboard_mouse/">Find out how to use your keyboard to control your mouse</a> (BBC My Web)</p>
        <p><a rel="external" href="http://www.bbc.co.uk/accessibility/guides/alternative_devices/">Find out about alternatives to a keyboard and mouse</a> (BBC My Web)</p>

        <h2 id="visual">If you can&rsquo;t see very well</h2>
        <p><a rel="external" href="http://www.bbc.co.uk/accessibility/guides/text_larger/">Learn how to increase the size of the text in your web browser</a> (BBC My Web)</p>
        <p><a rel="external" href="http://www.bbc.co.uk/accessibility/guides/change_colours/">Learn how to change text and background colours to make them easier to read</a> (BBC My Web)</p>
        <p><a rel="external" href="http://www.bbc.co.uk/accessibility/guides/magnify/">Learn how to magnify your screen</a> (BBC My Web)</p>

        <h2 id="blind">If you are blind</h2>
        <p><a rel="external" href="http://www.bbc.co.uk/accessibility/guides/screenreaders/">Find out about screen readers and talking browsers</a> (BBC My Web)</p>

      </div>
    </article>

  </div>
</main>

<% content_for :body_classes do %>full-width<% end %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag 'support-styles' %>
<% end %>
