<% content_for :title, "APIs - Support Pages - GOV.UK" %>

<%= content_for :extra_headers do %>
  <meta name="description" content="How to use the GOV.UK APIs (Application Programming Interfaces)">
<% end %>

<main id="content" role="main" class="group support-page">
  <header class="page-header group">
    <hgroup class="full-width">
      <h1>GOV.UK Application Programming Interfaces (<abbr title="Application Programming Interface">API</abbr>s)</h1>
    </hgroup>
  </header>


  <div class="support-container full-width group">
    <article role="article" class="group">
      <div class="inner">

        <div class="top-issues">
          <h2>On this page:</h2>
          <ul>
            <li><a href="#have-you-got-apis">Have you got any <abbr title="Application Programming Interface">API</abbr>s I can use?</a></li>
            <li><a href="#what-happened-to-dg-bl-apis">What has happened to the Directgov and Business Link <abbr title="Application Programming Interface">API</abbr>s?</a></li>
          </ul>
        </div>

        <h2 id="have-you-got-apis">Have you got any <abbr title="Application Programming Interface">API</abbr>s I can use?</h2>
        <p>We do have <abbr title="Application Programming Interface">API</abbr>s available for developers to use. You can find out more information about them in <a rel="external" href="http://digital.cabinetoffice.gov.uk/2012/10/15/apis-for-all/">this blog post</a>.</p>

        <h2 id="what-happened-to-dg-bl-apis">What has happened to the Directgov and Business Link <abbr title="Application Programming Interface">API</abbr>s?</h2>
        <p>The Directgov and Business Link <abbr title="Application Programming Interface">API</abbr>s were switched off when those sites were replaced on 17 October 2012.</p>

      </div>
    </article>

  </div>
</main>

<% content_for :body_classes do %>full-width<% end %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag 'support-styles' %>
<% end %>
