<% content_for :title, "Browsers - Support Pages - GOV.UK" %>

<section id="content" role="main" class="group support-page">
  <header class="page-header group">
    <hgroup class="full-width">
      <h1>Browsers</h1>
    </hgroup>
  </header>


  <div class="support-container full-width group">
    <article role="article" class="group">
      <div class="inner">

        <div class="top-issues">
          <h2>On this page:</h2>
          <ul>
            <li><a href="#what-is-a-browser">What is a browser?</a></li>
            <li><a href="#why-should-i-upgrade">Why should I upgrade?</a></li>
            <li><a href="#how-do-i-upgrade-my-browser">How do I upgrade my browser?</a></li>
            <li><a href="#im-on-a-shared-computer">I'm on a shared or public computer - how do I upgrade?</a></li>
            <li><a href="#where-can-i-get-more-help">Where can I get more help?</a></li>
          </ul>
        </div>


        <h2 id="what-is-a-browser">What is a browser?</h2>
        <p>A browser is a piece of software on your computer that allows you to access the internet.</p>

        <h2 id="why-should-i-upgrade">Why should I upgrade?</h2>
        <p>When you're online looking at websites, your browser is the piece of software that lets you do this. It is also the piece of software that keeps you safe. If your browser is out of date, you may be less secure, and vulnerable to malware.</p>
        <p>Upgrading to a modern browser means you will: 
        <ul>
          <li>be safer</li>
          <li>have a faster browsing experience</li>
          <li>see more features on many of the most popular websites</li>
        </ul>
        
        <p>In addition, many modern browsers will let you know if a site you're using is insecure or otherwise unsafe.</p>

        <h2 id="how-do-i-upgrade-my-browser">How do I upgrade my browser?</h2>
        <p>Upgrading is simple: you will need to download a newer browser and instal it on your computer.</p>
        <p>Here is a list of browsers that will keep themselves up to date, each with a website that will explain what it's features and how to install it. You may currently be using an older, out-of-date version of one of the browsers listed. You should pick one that works for your computer's operating system (i.e. Microsoft Windows or Mac) and that has the features you like best. If you're not sure, pick any one and try it out for a while - you can always change to a different browser later, and they're all free.</p>
        <h3>For any computer (Windows, Mac):</h3>
        <ul>
            <li><a href="http://support.google.com/chrome/bin/answer.py?hl=en-GB&amp;answer=95346" rel="external">Google Chrome</a></li>
            <li><a href="http://www.mozilla.org/en-US/firefox/new/" rel="external">Mozilla Firefox</a></li>
            <li><a href="http://www.opera.com/computer" rel="external">Opera</a></li>
        </ul>
        <h3>Also available for Mac:</h3>
        <ul>
            <li><a href="http://www.apple.com/safari/" rel="external">Safari</a></li>
        </ul>
        <h3>Also available for Windows Vista or Windows 7</h3>
        <ul>
            <li><a href="http://windows.microsoft.com/en-GB/internet-explorer/downloads/ie-9/worldwide-languages" rel="external">Microsoft Internet Explorer 9</a></li>
        </ul>

        <h2 id="im-on-a-shared-computer">I'm on a shared or public computer - how do I upgrade?</h2>
        <p>If you are on a shared computer at home, speak to whoever is responsible for it about upgrading to a better browser. If that's you, let everyone who uses the computer know that you've installed a new piece of software for them to use.</p>
        <p>If you're on a public machine, including one at a school or library, speak to a member of staff to request that they upgrade their software.</p>

        <h2 id="where-can-i-get-more-help">Where can I get more help?</h2>
        <p><a href="http://www.getsafeonline.org/protecting-your-computer/update-your-browser/" rel="external">Get Safe Online</a> offers advice, help and more in-depth information on how and why you should keep your browser up to date.</p>
        
        
      </div>
    </article>

  </div>
</section>

<% content_for :body_classes do %>full-width<% end %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag 'support-styles' %>
<% end %>
