<% content_for :title, "Browsers - Support Pages - GOV.UK" %>

<section id="content" role="main" class="group support-page">
  <header class="page-header group">
    <hgroup class="full-width">
      <h1>Browsers</h1>
    </hgroup>
  </header>


  <div class="support-container full-width group">
    <article role="article" class="group">
      <div class="inner">

        <div class="top-issues">
          <h2>On this page:</h2>
          <ul>
            <li><a href="#what-is-a-browser">What is a browser?</a></li>
            <li><a href="#why-should-i-upgrade">Why should I upgrade?</a></li>
            <li><a href="#how-do-i-upgrade-my-browser">How do I upgrade my browser?</a></li>
            <li><a href="#what-can-i-find-on-govuk">I'm on a shared or public computer - how do I upgrade?</a></li>
            <li><a href="#printed-brochures">Where can I get more help?</a></li>
          </ul>
        </div>


        <h2 id="what-is-a-browser">What is a browser?</h2>
        <p>A browser is a piece of software on your computer that allows you to access and look at the internet.</p>
        <p>You can find out which browser you're using by clicking "Help" or "About" from the file menu of the window you're in right now.</p>

        <h2 id="why-should-i-upgrade">Why should I upgrade?</h2>
        <p>When you're online looking at websites, your browser is the piece of software that enables this.  It also is the pieces of software that keeps you safe.  If your browser is out of date, you may be more open to insecurities and malware.</p>
        <p>Upgrading to a modern browser also comes with additional features, often including a faster browsing experience with more features available to you on the websites you use most often.</p>

        <h2 id="how-do-i-upgrade-my-browser">How do I upgrade my browser?</h2>
        
        
      </div>
    </article>

  </div>
</section>

<% content_for :body_classes do %>full-width<% end %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag 'support-styles' %>
<% end %>
