<% content_for :title, "Cookies on GOV.UK - Support Pages - GOV.UK" %>

<section id="content" role="main" class="group support-page">
  <header class="page-header group">
    <hgroup class="full-width">
      <h1>Cookies</h1>
    </hgroup>
  </header>


  <div class="support-container full-width group">
    <article role="article" class="group">
      <div class="inner">

        <p>We sometimes place small data files on your computer. These are known as cookies. Most
        websites do this.</p>

        <p>They improve things by:</p>

        <ul>
          <li>remembering settings, so you don’t have to keep re-entering them whenever you visit a new page</li>
          <li>remembering information you’ve given (eg your postcode) so you don’t need to keep entering it</li>
          <li>measuring how you use the website so we can make sure it meets your needs</li>
        </ul>

        <p>Our cookies aren’t used to identify you personally. They’re just here to make the site work better
          for you. Indeed, you can manage and/or delete these small files as you wish.</p>

        <p>To learn more about cookies and how to manage them, visit <a href="http://www.AboutCookies.org">AboutCookies</a>.org.
          Or please read on to find out more about how and where we use cookies.</p>

        <hr/>

        <h2>How we use cookies</h2>

        <p>GOV.UK uses cookies in several places – we’ve listed each of them below with more details
          about why we use them and how long they will last.</p>

        <p>In most cases, we will let you know <strong>before</strong> we store
          a cookie on your computer by providing a message similar to this:
          <span class="sets-cookie"><a href="#" title="This link is an example that doesn’t do anything">sets a cookie</a>.</span></p>

        <h2 id="analyticscookies">Measuring website usage (Google Analytics)</h2>

        <p>We use Google Analytics to collect information about how people use this site. We do this to
          make sure it’s meeting its users’ needs and to understand how we could do it better.</p>

        <p>Google Analytics stores information about what pages you visit, how long you are on the site,
          how you got here and what you click on. We do not collect or store your personal information
          (e.g. your name or address) so this information cannot be used to identify who you are. We do
          not allow Google to use or share our analytics data.</p>

        <p>The following cookies are set by Google Analytics:</p>

        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Purpose</th>
              <th>Expires</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>_utma</td>
              <td>This randomly generated number is used to determine unique visitors to our site</td>
              <td>2 years</td>
            </tr>
            <tr>
              <td>_utmb</td>
              <td>This randomly generated number works with _utmc to calculate the average length
                of time users spend on our site</td>
              <td>30 minutes</td>
            </tr>
            <tr>
              <td>_utmc</td>
              <td>This randomly generated number works with _utmb to calculate when you close your browser</td>
              <td>when you close your browser</td>
            </tr>
            <tr>
              <td>_utmz</td>
              <td>This is a randomly generated number and information about how the site was
                reached (e.g. direct or via a link, organic search or paid search)</td>
              <td>6 months</td>
            </tr>
            <tr>
              <td>GDS_successEvents<br/>GDS_analyticsTokens</td>
              <td>These cookies help us identify how people use GOV.UK so we can make the site
                better</td>
              <td>4 months</td>
            </tr>
          </tbody>
        </table>

        <p>You can opt out of Google Analytics cookies by <a href="https://tools.google.com/dlpage/gaoptout">visiting this page</a> on Google.</p>

        <hr/>

        <h2 id="locationcookies">Storing your approximate location</h2>

        <p>Some pages on this site provide you with information based on your
        location. So when you enter your postcode, we save your approximate
        location to a cookie. This means you don’t have to keep typing your
        postcode in, and means we’ll always point you towards services that are
        closest to you e.g. the nearest
        <a href="/ukonline-centre-internet-access-computer-training" title="find UK online centres near you">UK online centre</a>.</p>

        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Typical Content</th>
              <th>Expires</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>govukgeo</td>
              <td>Saves details about your location so that services which require
              this information are consistent</td>
              <td>4 months</td>
            </tr>
          </tbody>
        </table>

        <hr/>

        <h2 id="tourcookies">Remembering if you’ve seen our introductory message</h2>

        <p>On your first visit to parts of GOV.UK, you may be greeted by a pop-up message that welcomes
        you and provides information about the site. We’ll store a cookie so that your computer knows
        you’ve seen it and knows not to show it again (and again...).</p>

        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Purpose</th>
              <th>Expires</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>seen_cookie_message</td>
              <td>Saves a message to let us know that you have seen our cookie message.</td>
              <td>1 month</td>
            </tr>
            <tr>
              <td>dp-tour</td>
              <td>Saves a message to let us know that you have seen our welcome message
                on the GDS Design Principles.</td>
              <td>7 days</td>
            </tr>
          </tbody>
        </table>

        <hr/>

        <h2 id="licences">Remembering your progress when applying for a licence</h2>

        <p>When you apply for a licence using the 'apply for a licence' service, we will set a cookie
          to remember your progress through the forms. These cookies don't store your personal data
          and are deleted once you have completed the transaction.</p>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Purpose</th>
              <th>Expires</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>licensing_session</td>
              <td>Set to remember information you have entered into a form when applying for a licence</td>
              <td>when you close your browser</td>
            </tr>
          </tbody>
        </table>

        <hr/>

        <h2 id="videocookies">Cookies from YouTube</h2>

        <p>On some parts of this site, we use YouTube to provide useful videos.  YouTube sets some
          or all of these cookies when you visit one of these pages.</p>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Purpose</th>
              <th>Expires</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>_use_hitbox</td>
              <td>This is a randomly generated number that identifies your browser</td>
              <td>when you close your browser</td>
            </tr>
            <tr>
              <td>VISITOR_INFO1_LIVE</td>
              <td>Set when viewing a page with Youtube videos on it. It is set by Youtube so they can count the views of embedded Youtube videos on them.	</td>
              <td>9 months</td>
            </tr>
          </tbody>
        </table>

        <hr/>

        <h2 id="directgov">Cookies from Directgov-branded government services</h2>

        <p>Some of the Directgov-branded government services we link to may <a href="http://www.direct.gov.uk/en/SiteInformation/Cookies/DG_WP201870">set additional cookies</a>.</p>

        <hr/>

        <h2 id="inside-government">Remembering if you’ve seen the number of departments that have moved to GOV.UK</h2>

        <p>On your first visit to the Inside Government part of GOV.UK, you may
          be greeted by a message about the number of departments that have
          moved over so far. When you dismiss the message we’ll store
          a cookie so that your computer knows you’ve seen it and knows not
          to show it
          again (and again...).</p>

        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Purpose</th>
              <th>Expires</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>inside-gov-joining</td>
              <td>A notification of how many departments have currently been moved to GOV.UK</td>
              <td>1 month</td>
            </tr>
          </tbody>
        </table>


      </div>
    </article>

  </div>
</section>

<% content_for :body_classes do %>full-width<% end %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag 'support-styles' %>
<% end %>
