<% content_for :title, "Directgov and Business Link - Support Pages - GOV.UK" %>

<section id="content" role="main" class="group support-page">
  <header class="page-header group">
    <hgroup class="full-width">
      <h1>Directgov and Business Link</h1>
    </hgroup>
  </header>


  <div class="support-container full-width group">
    <article role="article" class="group">
      <div class="inner">

        <div class="top-issues">
          <h2>On this page:</h2>
          <ul>
            <li><a href="#what-happened-to-directgov-businesslink">What has happened to Directgov and Business Link?</a></li>
            <li><a href="#why-am-i-on-govuk">I was expecting to be on Directgov/Business Link, why am I on GOV.UK?</a></li>
            <li><a href="#why-do-i-still-see-dg-bl-pages">Why do I still see pages for Business Link and Directgov?</a></li>
            <li><a href="#business-link-advertise-vacancies">I used to use Business Link to advertise job vacancies. Will I be affected by the changeover?</a></li>
            <li><a href="#what-happened-to-dg-bl-information">What has happened to the piece of information I used to find on Directgov/Business Link?</a></li>
            <li><a href="#what-happened-to-bl-emails">What has happened to the Business Link email alert service?</a></li>
          </ul>
        </div>

        <h2 id="what-happened-to-directgov-businesslink">What has happened to Directgov and Business Link?</h2>
        <p>Directgov and Business Link were replaced by GOV.UK on 17 October 2012. GOV.UK is now the best place to find government services and information, and those websites have been switched off.</p>
        <p>All of the pages once found on Directgov and Business Link can been found on the National Archives website, however they won&rsquo;t be updated after 17 October 2012.</p>

        <h2 id="why-am-i-on-govuk">I was expecting to be on Directgov/Business Link, why am I on GOV.UK?</h2>
        <p>GOV.UK replaced Directgov and Business Link on 17 October 2012.  GOV.UK is simpler, clearer and faster for people to use, and is the first step towards a single website for most of government. We have made sure that people visiting Directgov and Business Link are, whenever possible, taken to the relevant page on GOV.UK.</p>

        <h2 id="why-do-i-still-see-dg-bl-pages">Why do I still see pages for Business Link and Directgov?</h2>
        <p>Some services and tools will still carry the branding of Business Link and Directgov until they have been updated as part of the scheduled transition to GOV.UK.</p>

        <h2 id="business-link-advertise-vacancies">I used to use Business Link to advertise job vacancies. Will I be affected by the changeover?</h2>
        <p>GOV.UK continues to support the Jobcentre Plus service <a href="https://www.gov.uk/employer-direct-online">Employer Direct</a>, and you can still post new vacancies there after 17 October.</p>

        <h2 id="what-happened-to-dg-bl-information">What has happened to the piece of information I used to find on Directgov/Business Link?</h2>
        <p>In building GOV.UK, we made the decision to focus on the specific needs of people who use government services, and to simplify and merge content wherever it would make the information clearer for people. You can read more about that process in <a rel="external" href="http://digital.cabinetoffice.gov.uk/2012/10/09/exploring-user-needs/">this blog post</a>. </p>

        <h2 id="what-happened-to-bl-emails">What has happened to the Business Link email alert service?</h2>
        <p>The Business Link alerts service wasn&rsquo;t used by very many people, so we decided not to create a replacement.</p>
      </div>
    </article>

  </div>
</section>

<% content_for :body_classes do %>full-width<% end %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag 'support-styles' %>
<% end %>
