<% content_for :title, "Government Gateway - Support Pages - GOV.UK Beta (Test)" %>

<section id="content" role="main" class="group support-page">
  <header class="page-header group">
    <hgroup class="full-width">
      <h1>Government Gateway</h1>
    </hgroup>
  </header>


  <div class="support-container full-width group">
    <article role="article" class="group">
      <div class="inner">

        <div class="top-issues">
          <h2>On this page:</h2>
          <ul>
            <li><a href="#do-i-need-government-gateway">Do I need Government Gateway to use GOV.UK?</a></li>
            <li><a href="#who-can-fix-government-gateway">Who can help fix the problems I'm having logging in to Government Gateway?</a></li>
          </ul>
        </div>

        <h2 id="do-i-need-government-gateway">Do I need Government Gateway to use GOV.UK?</h2>
        <p>No, you don't need a Government Gateway account to use GOV.UK. </p>
        <p>Some of the tools and services we link to from GOV.UK may use a Government Gateway account for you to log in, but we will make sure this is noted on GOV.UK before you visit that site.</p>

        <h2 id="who-can-fix-government-gateway">Who can help fix the problems I'm having logging in to Government Gateway?</h2>
        <p>You can contact the Government Gateway team via the 'helpdesk' link on the Government Gateway website: <a href="http://www.gateway.gov.uk/">http://www.gateway.gov.uk/</a>.</p>

      </div>
    </article>

  </div>
</section>

<% content_for :body_classes do %>full-width<% end %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag 'support-styles' %>
<% end %>