<% content_for :title, "Health - Support Pages - GOV.UK" %>

<%= content_for :extra_headers do %>
  <meta name="description" content="Where to find information about government health services and policy, eg NHS Choices">
<% end %>

<main id="content" role="main" class="group support-page">
  <header class="page-header group">
    <hgroup class="full-width">
      <h1>Health information on GOV.UK</h1>
    </hgroup>
  </header>


  <div class="support-container full-width group">
    <article role="article" class="group">
      <div class="inner">

        <div class="top-issues">
          <h2>On this page:</h2>
          <ul>
            <li><a href="#where-can-i-find-information-about-health">Where can I find information about health?</a></li>
          </ul>
        </div>
        
        <h2 id="where-can-i-find-information-about-health">Where can I find information about health?</h2>
        <p>Please visit <a rel="external" href="http://www.nhs.uk">www.nhs.uk</a>, where you can find answers to questions you have about health and the health service, and <a rel="external" href="http://www.dh.gov.uk">www.dh.gov.uk</a> for input about government policy on health.</p>
  
      </div>
    </article>

  </div>
</main>

<% content_for :body_classes do %>full-width<% end %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag 'support-styles' %>
<% end %>
