<% content_for :title, "Health - Support Pages - GOV.UK Beta (Test)" %>

<section id="content" role="main" class="group support-page">
  <header class="page-header group">
    <hgroup class="full-width">
      <h1>Health</h1>
    </hgroup>
  </header>


  <div class="support-container full-width group">
    <article role="article" class="group">
      <div class="inner">

        <div class="top-issues">
          <h2>On this page:</h2>
          <ul>

          </ul>
        </div>


      </div>
    </article>

  </div>
</section>

<% content_for :body_classes do %>full-width<% end %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag 'support-styles' %>
<% end %>