<% content_for :title, "Support using GOV.UK - Support Pages - GOV.UK" %>

<section id="content" role="main" class="group support-page">
  <header class="page-header group">
    <hgroup class="full-width">
      <h1>Support pages</h1>
    </hgroup>
  </header>


  <div class="support-container full-width group">
    <article role="article" class="group">
      <div class="inner">
        <p>Find answers to common questions about the GOV.UK website.</p>

        <div class="top-issues">
          <h2>Top questions</h2>
          <ul>
            <li><a href="/support/about-govuk#what-is-govuk">What is GOV.UK?</a></li>
            <li><a href="/support/directgov-businesslink#what-happened-to-directgov-businesslink">What has happened to Directgov and Business Link?</a></li>
            <li><a href="/support/about-govuk#printed-brochures">Have you got printed brochures with the information on your site?</a></li>
          </ul>
        </div>

        <h2>Browse questions by topic</h2>

        <div class="support-contents">
          <div>
            <h2><a href="/support/about-govuk">About GOV.UK</a></h2>
            <p>Information about the website and the team that built it</p>
          </div>
          <div>
            <h2><a href="/support/directgov-businesslink">Directgov and Business Link</a></h2>
            <p>Information about websites that GOV.UK has replaced</p>
          </div>
          <div>
            <h2><a href="/support/apis">APIs</a></h2>
            <p>How developers can use GOV.UK&rsquo;s content</p>
          </div>
          <div>
            <h2><a href="/support/government-gateway">Government Gateway</a></h2>
            <p>Using Government Gateway accounts with GOV.UK</p>
          </div>
          <div>
            <h2><a href="/support/broken-pages">Errors and broken pages</a></h2>
            <p>How to report problems you experience while using GOV.UK</p>
          </div>
          <div>
            <h2><a href="/support/jobs-employment-tools">Jobs and employment tools</a></h2>
            <p>Questions about tools for work and businesses</p>
          </div>
          <div>
            <h2><a href="/support/health">Health</a></h2>
            <p>How to answer your questions about health</p>
          </div>
          <div>
            <h2><a href="/support/wales-scotland-ni">Wales, Scotland and Northern Ireland</a></h2>
            <p>Information for users living in devolved administrations</p>
          </div>
          <div>
            <h2><a href="/support/cookies">Cookies</a></h2>
            <p>How we use cookies on GOV.UK and each cookie&rsquo;s purpose</p>
          </div>
          <div>
            <h2><a href="/support/browsers">Browsers</a></h2>
            <p>Information about browsers and how to upgrade yours</p>
          </div>
          <div>
            <h2><a href="/support/privacy-policy">Privacy policy</a></h2>
            <p>Details about GOV.UK&rsquo;s approach to users&rsquo; privacy</p>
          </div>
          <div>
            <h2><a href="/support/accessibility">Accessibility</a></h2>
            <p>Includes information about getting started online and help using the internet</p>
          </div>
          <div>
            <h2><a href="/support/terms-conditions">Terms and conditions</a></h2>
            <p>Includes information about use of GOV.UK and our liability</p>
          </div>
          <div>
            <h2><a href="/support/linking-to-govuk">Linking to GOV.UK</a></h2>
            <p>How to link to GOV.UK from other websites</p>
          </div>
        </div>

        <div class="contact-us">
          <h2>Want to contact us directly?</h2>
          <ul>
            <li><a href="/feedback/contact">Contact us</a></li>
            <li><a href="/feedback/foi">Make a Freedom of Information Request</a></li>
          </ul>
        </div>
      </div>
    </article>

  </div>
</section>

<% content_for :body_classes do %>full-width<% end %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag 'support-styles' %>
<% end %>
