<% content_for :title, "GOV.UK and 'MyBusiness' - Support Pages - GOV.UK" %>

<%= content_for :extra_headers do %>
  <meta name="description" content="What happened to ‘MyBusiness’ when Business Link closed on 17 October, and where the information has gone">
<% end %>

<section id="content" role="main" class="group support-page">
  <header class="page-header group">
    <div class="full-width">
      <h1>Jobs and employment tools</h1>
    </div>
  </header>


  <div class="support-container full-width group">
    <article role="article" class="group">
      <div class="inner">

        <div class="top-issues">
          <h2>On this page:</h2>
          <ul>
            <li><a href="#what-has-happened-to-my-business-account">What has happened to my &lsquo;My Business&rsquo; account?</a></li>
          </ul>
        </div>
        
        <h2 id="what-has-happened-to-my-business-account">What has happened to my &lsquo;My Business&rsquo; account?</h2>
        <p>The &lsquo;My Business&rsquo; service run by Business Link was shut down on 17 October 2012, when GOV.UK replaced that site as the home of business services and information from the UK government.</p>
        <p>You won&rsquo;t be able to access any of the information once held in this account; it has been securely deleted and none of that information has been retained by the government.</p>

      </div>
    </article>

  </div>
</section>

<% content_for :body_classes do %>full-width<% end %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag 'support-styles' %>
<% end %>
