<% content_for :title, "Linking to GOV.UK from other websites - Support Pages - GOV.UK" %>

<section id="content" role="main" class="group support-page">
  <header class="page-header group">
    <hgroup class="full-width">
      <h1>Linking to GOV.UK from other websites</h1>
    </hgroup>
  </header>


  <div class="support-container full-width group">
    <article role="article" class="group">
      <div class="inner">

        <div class="top-issues">
          <h2>On this page:</h2>
          <ul>
            <li><a href="#text-links">Can I link to GOV.UK?</a></li>
            <li><a href="#logos">Can I use the logo to link to GOV.UK?</a></li>
          </ul>
        </div>

        <h2 id="text-links">Can I link to GOV.UK?</h2>
        <p>Of course! But rather than link to the home page, link directly to content deep within the website if it’s useful to the people visiting your site. The best link text to use is often the title of the page you are linking to.</p>

        <p>If you want to create a link to the GOV.UK home page, please use <a href="https://www.gov.uk/">GOV.UK</a> (in capitals) as the link text. </p>

        <h2 id="logos">Can I use the logo to link to GOV.UK?</h2>
        <p>We would prefer it if you used a text link to a page deep within the website if appropriate.</p>

        <p>If you are linking only to the home page and would like to use the GOV.UK logo, here are the images you will need. Please do not modify the logo in any way.</p>

        <img class="block-image" src="<%= image_path 'support/gov_uk_small.png' %>" alt="GOV.UK logo, small." />

        <img class="block-image" src="<%= image_path 'support/gov_uk_med.png' %>" alt="GOV.UK logo, medium." />

      </div>
    </article>

  </div>
</section>

<% content_for :body_classes do %>full-width<% end %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag 'support-styles' %>
<% end %>
