<% content_for :title, "Privacy policy - Support Pages - GOV.UK Beta (Test)" %>

<section id="content" role="main" class="group support-page">
  <header class="page-header group">
    <hgroup class="full-width">
      <h1>GOV.UK Privacy policy</h1>
    </hgroup>
  </header>


  <div class="support-container full-width group">
    <article role="article" class="group">
      <div class="inner">

        <p>We’ll only ever collect information that will help us make the site work better for you; information that will let us contact you if you've asked us to, let us give you accurate local information if you need it and give us a sense of how people are using the site, so we can keep improving it.</p>
        <p>Parts of the website may ask you for more information so that you can access government services or complete transactions. You will always be told when this information is being collected, and in many cases will be asked to enter it (for example, an email address for correspondence). This information will only be used for the purpose stated at the time it is collected.</p>
        <p>As we continue improving GOV.UK, we may update this privacy policy. You will be able to find the most up-to-date version of this policy here, at <a href="https://www.gov.uk/support/privacy-policy">www.gov.uk/support/privacy-policy</a>.</p>

        <h2 id="information-collected">The information we collect</h2>
        <p>We collect the following information from people visiting the website:</p>
        <ul>
          <li>The questions, queries and feedback people leave, including your email address if you send us email</li>
          <li>Visitors' IP addresses, and details of which version of a web browser they used</li>
          <li>Information on how people use the site, using cookies and page tagging techniques, to help us improve the website and our services</li>
        </ul>
        <p>If you send us feedback, a record of your message will be kept for up to six months before it's deleted.</p>

        <h3>More about cookies</h3>
        <p>GOV.UK uses small data files stored on your computer called 'cookies'. Most websites do this. They help us improve the website experience for you. Find out what we use them for, and how to control their use on our <a href="https://www.gov.uk/support/cookies">cookies page</a>.</p>

        <h2 id="where-we-store-data">Where we store your personal data</h2>
        <p>The data that we collect from you may be transferred to, and stored at, a destination outside the European Economic Area ("EEA"). It may also be processed by staff operating outside the EEA who work for us or for one of our suppliers. Such staff maybe engaged in the provision of support services. By submitting your personal data, you agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this privacy policy.</p>
        <p>All information you provide to us is stored on our secure servers. Any payment transactions will be <a href="http://en.wikipedia.org/wiki/HTTP_Secure">encrypted</a>.</p>
        <p>Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our site; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access.</p>

        <h2 id="how-we-use-information">How we use your information</h2>
        <h3>Any information we collect is used to:</h3>
        <ul>
          <li>improve the content and design of the website</li>
          <li>to carry out our obligations arising from any contracts entered into with visitors</li>
          <li>to allow visitors to participate in interactive features of our website, when visitors choose to do so.</li>
          <li>contact visitors (with their permission) to respond to feedback and queries</li>
        </ul>
        <p>We’ll never share your information with other organisations for marketing, market research or commercial purposes, and we don’t pass on your personal information to any other website.</p>

        <h3 id="information-disclosure">Disclosure of your information</h3>
        <p>We may disclose your personal information if we are under a duty to disclose or share visitor’s personal data in order to comply with any legal obligation, or in order to enforce or apply our terms of use and other agreements.  This includes exchanging information with other government departments for the purposes of law enforcement.</p>

        <h2 id="visitor-rights">Visitor’s rights</h2>
        <p>In accordance with Principle 6 of the Data Protection Act, visitors have the right to ask us not to process your personal data, and you have the right to access information held about you.</p>

        <h2 id="changes">Changes to our privacy policy</h2>
        <p>Any changes we may make to our privacy policy in the future will be posted on this page and, where appropriate, notified to you by e-mail.</p>

        <h2 id="links-to-other-sites">Links to other websites</h2>
        <p>This site contains links to and from websites of government departments and other organisations. We should make it clear that this privacy policy (the one you're reading) only applies to this GOV.UK site.</p>
        <h3>Following a link to another website</h2>
        <p>If you go to another website from this one, please read the privacy policy on that website if you want to know what it does with your information.</p>
        <h3>Following a link to GOV.UK from another website</h3>
        <p>When you come to GOV.UK from another website, we may get personal information about you from the other website. You should read the privacy policy of websites you visit that link you to GOV.UK if you want to know about this.</p>

      </div>
    </article>

  </div>
</section>

<% content_for :body_classes do %>full-width<% end %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag 'support-styles' %>
<% end %>