<% content_for :title, "Student finance - Support Pages - GOV.UK" %>

<%= content_for :extra_headers do %>
  <meta name="description" content="Who to contact for help and advice about student finance and any problems you’re having with your account">
<% end %>

<main id="content" role="main" class="group support-page">
  <header class="page-header group">
    <div class="full-width">
      <h1>Student finance</h1>
    </div>
  </header>


  <div class="support-container full-width group">
    <article role="article" class="group">
      <div class="inner">

        <div class="top-issues">
          <h2>On this page:</h2>
          <ul>
            <li><a href="#can-you-help-with-student-finance">Can you help me sort out my Student Finance?</a></li>
          </ul>
        </div>

        <h2 id="can-you-help-with-student-finance">Can you help me sort out my Student Finance?</h2>
        <p>We aren't able to offer advice about individual Student Finance and Student Loans, and we don't have access to specific accounts or applications.</p> 
        <p>You can contact Student Loans Company directly, using the link below:</p>
        <p><a rel="external" href="http://www.slc.co.uk/contact.aspx">http://www.slc.co.uk/contact.aspx</a></p>


      </div>
    </article>

  </div>
</main>

<% content_for :body_classes do %>full-width<% end %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag 'support-styles' %>
<% end %>
