<% content_for :title, "Student finance - Support Pages - GOV.UK Beta (Test)" %>

<section id="content" role="main" class="group support-page">
  <header class="page-header group">
    <hgroup class="full-width">
      <h1>Student finance</h1>
    </hgroup>
  </header>


  <div class="support-container full-width group">
    <article role="article" class="group">
      <div class="inner">

        <div class="top-issues">
          <h2>On this page:</h2>
          <ul>
            <li><a href="#can-you-help-with-student-finance">Can you help me sort out my Student Finance?</a></li>
          </ul>
        </div>

        <h2 id="can-you-help-with-student-finance">Can you help me sort out my Student Finance?</h2>
        <p>We aren't able to offer advice about individual Student Finance and Student Loans, and we don't have access to specific accounts or applications.</p> 
        <p>You can contact Student Loans Company directly, using the link below:</p>
        <p><a href="http://www.slc.co.uk/contact.aspx">http://www.slc.co.uk/contact.aspx</a></p>


      </div>
    </article>

  </div>
</section>

<% content_for :body_classes do %>full-width<% end %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag 'support-styles' %>
<% end %>
