<% content_for :title, "Terms and conditions - Support Pages - GOV.UK" %>

<section id="content" role="main" class="group support-page">
  <header class="page-header group">
    <hgroup class="full-width">
      <h1>Terms and conditions</h1>
    </hgroup>
  </header>


  <div class="support-container full-width group">
    <article role="article" class="group">
      <div class="inner">

        <p>This page (taken with the documents and pages it refers to) tells you the terms of use which you agree to when you use GOV.UK. GOV.UK is managed by the Government Digital Service, which part of the Cabinet Office (referred to as 'We' below). Please read these terms of use carefully before you start to use the site.</p>
        <p>This page was last updated on 15 October 2012.</p>

        <h2 id="using-govuk">Using GOV.UK</h2>
        <p>GOV.UK is maintained for your personal use.</p>
        <p>You agree to use this site only for lawful purposes, and in a manner that does not infringe the rights of, or restrict or inhibit the use and enjoyment of, this site by any third party. </p>
        <p>We aim to update our site regularly, and may change the content at any time.</p>
        <p>By using this site, you indicate that you accept these terms of use and that you agree to abide by them. If you do not agree to these terms of use, please refrain from using our site.</P>

        <h2 id="online-gov-services">Online government services or transactions</h2>
        <p>When using GOV.UK you may access an online government service or transaction that is delivered by another government department or agency. Each of these services will have its own terms and conditions or end user licences that apply only to that service. Users of any service should make sure they have read the relevant terms and conditions before completing that transaction.</p>

        <h2 id="linking-to-govuk">Linking to and from GOV.UK</h2>
        <p>We welcome and encourage other websites to link to the information that is hosted on these pages, and you don’t have to ask permission to link to GOV.UK.</p>
        <p>However, we don’t give you permission to suggest that your website is associated with, or endorsed by, GOV.UK.</p>
        <p>Where our site contains links to other sites and resources provided by third parties, these links are provided for your information only. We have no control over the contents of those sites or resources, and accept no responsibility for them or for any loss or damage that may arise from your use of them.</p>

        <h2 id="using-govuk-content">Using GOV.UK content</h2>
        <p>GOV.UK is published under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/">Open Government Licence</a>, and you can reproduce information from the site as long as you obey the terms of that licence.</p>
        <p>The material featured on this website is subject to Crown copyright protection unless otherwise indicated. Read the <a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">Crown copyright page</a> for more information.</p>

        <h2 id="disclaimer">Disclaimer</h2>
        <p>While we make every effort to keep GOV.UK up to date, we don’t provide any guarantees, conditions or warranties as to the accuracy of the information on the site.</p>
        <p>We don’t accept liability for loss or damage incurred by users of the website, whether direct, indirect or consequential, whether caused by tort, breach of contract or otherwise. This includes loss of:</p>
        <ul>
          <li>income or revenue</li>
          <li>business</li>
          <li>profits or contracts</li>
          <li>anticipated savings</li>
          <li>data</li>
          <li>goodwill</li>
          <li>tangible property</li>
        </ul>
        <p>or wasted management or office time in connection with our site or in connection with the use, inability to use, or results of the use of our site, any websites linked to it and any materials posted on it. This condition shall not prevent claims for loss of or damage to your tangible property or any other claims for direct financial loss that are not excluded by any of the categories set out above.</p>
        <p>This does not affect our liability for death or personal injury arising from our negligence, nor our liability for fraudulent misrepresentation or misrepresentation as to a fundamental matter, nor any other liability which cannot be excluded or limited under applicable law.</p>

        <h2 id="information-about-you">Information about you and your visits to GOV.UK</h2>
        <p>We process information about you in accordance with our <a href="https://www.gov.uk/support/privacy-policy">privacy policy</a>. By using our site, you consent to such processing and you warrant that all data provided by you is accurate.</p>

        <h2 id="virus-protection">Virus protection</h2>
        <p>We make every effort to check and test material at all stages of production, however you must take your own precautions to ensure that the process which you employ for accessing this website does not expose you to the risk of viruses, malicious computer code or other forms of interference which may damage your own computer system. </p>
        <p>We can’t accept any responsibility for any loss, disruption or damage to your data or your computer system which may occur whilst using material derived from this website.</p>

        <h2 id="hacking">Viruses, hacking and other offences</h2>
        <p>You must not misuse our site by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to our site, the server on which our site is stored or any server, computer or database connected to our site. You must not attack our site via a denial-of-service attack or a distributed denial-of-service attack.</p>
        <p>By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them.</p>

        <h2 id="governing-law">Governing law</h2>
        <p>These terms and conditions shall be governed by and construed in accordance with the laws of England and Wales. Any dispute arising under these terms and conditions shall be subject to the exclusive jurisdiction of the courts of England and Wales.</p>

        <h2 id="general">General</h2>
        <p>We accept no liability for any failure to comply with these terms and conditions where such failure is due to circumstance beyond our reasonable control.</p>
        <p>If we waive any rights available to us under these terms and conditions on one occasion, this does not means that those rights will automatically be waived on any other occasion.</p>
        <p>If any of these terms and conditions are held to be invalid, unenforceable or illegal for any reason, the remaining terms and conditions shall nevertheless continue in full force.</p>

        <h2 id="revisions">Revisions to these terms</h2>
        <p>We may at any time revise these terms and conditions without notice. Please check these terms and conditions regularly, as continued use of the GOV.UK website after a change has been made is your acceptance of the change.</p>

      </div>
    </article>

  </div>
</section>

<% content_for :body_classes do %>full-width<% end %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag 'support-styles' %>
<% end %>