<% content_for :title, "Wales, Scotland and Northern Ireland - Support Pages - GOV.UK" %>

<section id="content" role="main" class="group support-page">
  <header class="page-header group">
    <hgroup class="full-width">
      <h1>Wales, Scotland and Northern Ireland</h1>
    </hgroup>
  </header>


  <div class="support-container full-width group">
    <article role="article" class="group">
      <div class="inner">

        <div class="top-issues">
          <h2>On this page:</h2>
          <ul>
            <li><a href="#why-isnt-govuk-in-welsh">Why isn&rsquo;t GOV.UK in Welsh?</a></li>
            <li><a href="#does-govuk-cover-wales-scotland-ni">Does GOV.UK cover Wales, Scotland and Northern Ireland?</a></li>
          </ul>
        </div>
        
        <h2 id="why-isnt-govuk-in-welsh">Why isn&rsquo;t GOV.UK in Welsh?</h2>
        <p><a href="https://www.gov.uk">GOV.UK</a> has a Welsh language landing page at <a href="http://www.gov.uk/cymraeg">http://www.gov.uk/cymraeg</a>, which will direct users to Welsh-language government transactions and services.</p>
        <p>Within two months of launch, <a href="https://www.gov.uk">GOV.UK</a> Welsh language content will expand to cover the user needs that were in the Welsh language and that users accessed on the Directgov and Business Link sites. We&rsquo;re planning to look at the performance of these Welsh language user needs in April 2013, with the Welsh Assembly Government and Welsh Commissioner&rsquo;s Office.</p>
        <h2 id="does-govuk-cover-wales-scotland-ni">Does GOV.UK cover Wales, Scotland and Northern Ireland?</h2>
        <p><a href="https://www.gov.uk">GOV.UK</a> for citizens and businesses contains information and tools that relate to UK-wide legislation. In cases where the situation is very different in Wales, Scotland or Northern Ireland we will make reference to this and provide a link to the information provided by those administrations. Where there is only a small difference eg a different phone number or deadline, then we&rsquo;ll include that on <a href="http://www.gov.uk">GOV.UK</a>.</p>
        <p>Our intention is that any citizen in the UK can start their journey on <a href="https://www.gov.uk">GOV.UK</a>, and find their way to devolved information if required.</p>
      </div>
    </article>

  </div>
</section>

<% content_for :body_classes do %>full-width<% end %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag 'support-styles' %>
<% end %>
