<% content_for :title, "Britain is GREAT - GOV.UK" %>
<main id="content" role="main" class="group campaign">
  <section id="landing">
    <h1>Britain is GREAT</h1>
    <div class="organisation">
      <a href="https://www.gov.uk/government/organisations/cabinet-office" class="organisation-logo cabinet-office"><span>Cabinet Office</span></a>
    </div>

    <div class="campaign-image">
      <span class="image-scope">
        <style scoped>
          /* fall-back styles for browsers without media query support (IE6-8) */
          #banner {
            background-image: url('<%= image_path "campaign/britain_is_great/960px.jpg" %>');
          }

          /* small image for mobile */
          @media (min-width: 0px) {
            #banner {
              background-image: url('<%= image_path "campaign/britain_is_great/320px.jpg" %>');
            }
          }

          /* medium image for tablets */
          @media (min-width: 500px) {
            #banner {
              background-image: url('<%= image_path "campaign/britain_is_great/768px.jpg" %>');
            }
          }

          /* large image for desktop */
          @media (min-width: 900px) {
            #banner {
              background-image: url('<%= image_path "campaign/britain_is_great/960px.jpg" %>');
            }
          }
        </style>
        <span id="banner" role="presentation">Welcome to GREAT Britain</span>
      </span>
    </div>

    <article class="campaign">
      <p>The GREAT Britain campaign showcases the very best of what Britain has to offer. We welcome the world to visit, study and do business with the UK.</p>

      <h2>Business</h2>

      <p>The UK’s dynamic economy and business-friendly environment make it a great place to locate and expand your business.</p>

      <p>Get support to export and invest in the UK from <a href="http://www.ukti.gov.uk/" rel="external">UK Trade and Investment (UKTI)</a>.</p>

      <h2>Tourism</h2>

      <p>Explore the Queen's London home, read the curse on Shakespeare's tomb or climb the misty peaks of Scotland's mountains.</p>

      <p><a href="http://lovewall.visitbritain.com/" rel="external">Start exploring Britain today</a>.</p>

      <h2>Education</h2>

      <p>The UK offers international students a world-class education, globally respected universities and qualifications, great career prospects and a real adventure.</p>

      <p><a href="http://www.educationuk.org/" rel="external">Get advice about studying in the UK</a> including scholarships, choosing a course and life in the UK.</p>
    </article>
  </section>
</main>
