<% content_for :title, "Government support for small businesses - GOV.UK" %>
<section id="content" role="main" class="group campaign">
  <section id="landing">
    <h1 style="margin: 25px 0 15px;">Government support for small businesses</h1>
    <div class="organisation">
      <a href="http://www.dwp.gov.uk" class="organisation-logo
      department-for-business-innovation-and-skills"><span>Department
      <br />for Business <br />Innovation &amp; Skills</span></a>
    </div>

    <div class="campaign-image">
      <span class="image-scope">
        <style scoped>
          /* fall-back styles for browsers without media query support (IE6-8) */
          #banner {
            background-image: url('<%= image_path "campaign/bis-business-support/960px.jpg" %>');
          }

          /* small image for mobile */
          @media (min-width: 0px) {
            #banner {
              background-image: url('<%= image_path "campaign/bis-business-support/320px.jpg" %>');
            }
          }

          /* medium image for tablets */
          @media (min-width: 500px) {
            #banner {
              background-image: url('<%= image_path "campaign/bis-business-support/768px.jpg" %>');
            }
          }

          /* large image for desktop */
          @media (min-width: 900px) {
            #banner {
              background-image: url('<%= image_path "campaign/bis-business-support/960px.jpg" %>');
            }
          }
        </style>
        <span id="banner" role="presentation"></span>
      </span>

      <div class="campaign-links inner group">
        <h2>Business finance</h2>
        <nav role="navigation">
          <ul class="links">
            <li><a href="https://www.gov.uk/business-finance-support-finder">Finance and support finder</a></li>
            <li><a href="https://www.gov.uk/business-finance-explained">Business finance explained</a></li>
            <li><a href="https://www.gov.uk/which-finance-is-right-for-your-business">Which finance is right for your business?</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <article class="campaign">
      <p>Whether your business is well-established or just starting out, there’s a wealth of guidance, support, information and mentoring out there to help you grow. Some of the key sources of financial support are highlighted below.</p>

      <h2>Financial support</h2>
      <p>The <a href="https://www.gov.uk/regional-growth-fund-a-guide-for-small-and-medium-enterprises-smes">Regional Growth Fund</a> provides grants and loans to a wide range of businesses to help them invest, creating jobs and sustainable growth.</p>
      <p>If you’re looking for bank finance, you could benefit from
      an <a href="https://www.gov.uk/understanding-the-enterprise-finance-guarantee">Enterprise Finance Guarantee (EFG)</a>.  EFG provides added security for loans to viable businesses that lack the collateral for standard bank loans.</p>
      <p>To encourage equity investments in small companies, there are a number of <a rel="external" href="http://www.hmrc.gov.uk/manuals/vcmmanual/">tax relief schemes</a> available. These include the <a rel="external" href="http://www.seiswindow.org.uk/">Seed Enterprise Investment Scheme</a> aimed at investors in small, early-stage companies, and the <a href="http://www.hmrc.gov.uk/eis/">Enterprise Investment Scheme</a>, a similar initiative for more established companies. Companies looking to recruit and retain key staff using share options can offer <a href="https://www.gov.uk/enterprise-management-incentives">Enterprise Management Incentives</a>.</p>
      <p>And if you’re just starting off and aged between 18 and 30, <a rel="external" href="http://www.startuploans.co.uk/">Start-Up Loans</a> may be able to help provide you with advice and finance to help you get your business up and running.</p>

      <h2>Export support</h2>
      <p>If you are thinking about <a href="https://www.gov.uk/browse/business/imports-exports">exporting or importing</a>, you’ll find all the information you need to get started on GOV.UK.</p>
      <p><a href="https://www.gov.uk/export-finance-and-insurance-an-overview">UK Export Finance</a> provides financial guarantees and credit insurance services to support exporters in situations where commercial products aren’t available. <a rel="external" href="http://www.ukti.gov.uk/">UK Trade &amp; Investment</a> can also offer help with various aspects of exports.</p>

      <h2>Other support</h2>
      <p>Working with government, the Institute of Chartered Accountants in England and Wales has published a best-practice guideline on SME finance that explains the various types of funding available for smaller businesses. Business finance explained also provides an overview of common types of finance with the advantages and disadvantages of each and the business finance and support finder is a useful way to see what’s available.</p>
      <p>Finally a business mentor may be able to help you start-up and grow your business. <a rel="external" href="http://www.mentorsme.co.uk/">Mentorsme.co.uk</a> helps business owners find mentors and events across the UK and has useful resources to guide help you find the right mentor.</p>
    </article>
  </section>
</section>
