<% content_for :title, "Coming in June: portable criminal records checks- GOV.UK" %>
<section id="content" role="main" class="group campaign">
  <section id="landing">
    <h1>Coming in June: portable criminal records checks</h1>
    <div class="organisation">
      <a href="/government/organisations/disclosure-and-barring-service" class="organisation-logo organisation-logo-dbs"><span>Disclosure &amp;<br>Barring Service</span></a>
    </div>

    <div class="campaign-image">
      <span class="image-scope">
        <style scoped>
          /* fall-back styles for browsers without media query support (IE6-8) */
          #banner {
            background-image: url('<%= image_path "campaign/disclosure/960px.jpg" %>');
          }

          /* small image for mobile */
          @media (min-width: 0px) {
            #banner {
              background-image: url('<%= image_path "campaign/disclosure/320px.jpg" %>');
            }
          }

          /* medium image for tablets */
          @media (min-width: 500px) {
            #banner {
              background-image: url('<%= image_path "campaign/disclosure/768px.jpg" %>');
            }
          }

          /* large image for desktop */
          @media (min-width: 900px) {
            #banner {
              background-image: url('<%= image_path "campaign/disclosure/960px.jpg" %>');
            }
          }
        </style>
        <span id="banner" role="presentation"></span>
      </span>

      <div class="campaign-links inner group">
        <h2 id="find-out-more">Find out more</h2>
        <nav role="navigation" aria-labelledby="find-out-more">
          <ul class="links">
            <li><a href="/government/publications/dbs-update-service-applicant-guide">I am an applicant</a></li>
            <li><a href="/government/publications/dbs-update-service-employer-guide">I am an employer</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <article class="campaign">
      <h2>You may never need to apply for another criminal records check</h2>
      <p>The Disclosure and Barring Service (DBS) provides a criminal records checking service and barring function that helps employers make safer recruitment decisions and prevents unsuitable people from working with vulnerable people.</p>

      <div class="application-notice info-notice">
        <p>The Criminal Records Bureau (CRB) and the Independent Safeguarding Authority (ISA) merged to form the Disclosure and Barring Service.</p>
      </div>

      <p>On 17 June 2013, the DBS will launch a new service – the Update Service.</p>

      <h2>The Update Service</h2>

      <p>For an annual subscription of just &pound;13 your DBS certificate will be kept up to date so you can take it from role to role within the same workforce, where the same level and type of check are required. This could save you a lot of time and money, will give you greater control of your information and you could apply for jobs pre-checked.</p>

      <p>With your permission, employers can check the status of your certificate online for free. This will save them time and money and they will have the results instantly.</p>

      <h2>Find out more</h2>
      <p>You can read more information about:</p>
      <ul>
        <li><a href="/government/publications/dbs-update-service-applicant-guide">help for applicants</a></li>
        <li><a href="/government/publications/dbs-update-service-employer-guide">guidance for employers</a></li>
        <li><a href="/disclosure-barring-service-check">who can ask for a DBS check</a></li>
      </ul>

      <p>You can also read the latest <a href="/government/news/coming-soon-disclosure-and-barring-service-to-launch-the-update-service">news about the Update Service</a>.</p>

    </article>
  </section>
</section>
