<% content_for :title, "Fire Kills: you can prevent it - GOV.UK" %>
<section id="content" role="main" class="group campaign">
  <section id="landing">
    <h1>Fire Kills: you can prevent it</h1>
    <div class="organisation">
      <a href="http://www.dclg.gov.uk" class="organisation-logo department-for-communities-and-local-government "><span>Department <br />for Communities and<br />Local Government</span></a>
    </div>
    <div class="campaign-image">
      <span class="image-scope">
        <style scoped>
          /* fall-back styles for browsers without media query support (IE6-8) */
          #banner {
            background-image: url('<%= image_path "campaign/fire-kills/960px.jpg" %>');
          }

          /* small image for mobile */
          @media (min-width: 0px) {
            #banner {
              background-image: url('<%= image_path "campaign/fire-kills/320px.jpg" %>');
            }
          }

          /* medium image for tablets */
          @media (min-width: 500px) {
            #banner {
              background-image: url('<%= image_path "campaign/fire-kills/768px.jpg" %>');
            }
          }

          /* large image for desktop */
          @media (min-width: 900px) {
            #banner {
              background-image: url('<%= image_path "campaign/fire-kills/960px.jpg" %>');
            }
          }
        </style>
        <span id="banner">Fire Kills: you can prevent it</span>
      </span>

      <div class="campaign-links inner group">
        <h2 id="find-out-more">Find out more</h2>
        <nav role="navigation" aria-labelledby="find-out-more">
          <ul class="links">
            <li><a href="https://www.youtube.com/watch?v=Ir2bekewg-8&amp;feature=player_embedded" rel="external">Watch the video</a></li>
            <li><a href="https://www.facebook.com/firekills" rel="external">Fire Kills on Facebook</a></li>
            <li><a href="/government/organisations/department-for-communities-and-local-government/series/fire-safety-guidance">Fire safety leaflets</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <article class="campaign">
      <h2>When you change your clock, test your smoke alarm</h2>
      <p>Last year 226 people died in house fires. So when you change your clocks, test your smoke alarm. It takes no time at all and gives you and your family a better chance of surviving a fire.</p>

      <p><a href="https://www.youtube.com/watch?v=Ir2bekewg-8&amp;feature=player_embedded" rel="external">Watch the video</a></p>

      <h2>Fire Kills campaign</h2>

      <p>Join the discussion and find out more about fire safety and the campaign.</p>
      <ul class="links">
        <li><a href="https://www.facebook.com/firekills" rel="external">Facebook</a></li>
        <li><a href="http://pinterest.com/communitiesuk/fire-kills/" rel="external">Pinterest</a></li>
        <li><a href="https://twitter.com/Fire_Kills" rel="external">Twitter</a></li>
        <li><a href="http://firekills.tumblr.com/" rel="external">Tumblr</a></li>
      </ul>


      <h2>Fire safety leaflets</h2>

      <p>Download our top tips and advice about fire safety in the home. Keep your family safe from the potentially devastating effects of fire.</p>

      <p><a href="/government/organisations/department-for-communities-and-local-government/series/fire-safety-guidance">Fire safety leaflets</a></p>

      <h2>More on fire safety</h2>

      <ul class="links">
        <li><a href="/workplace-fire-safety-your-responsibilities">Fire safety in the workplace</a></li>
        <li><a href="http://www.lacors.gov.uk/lacors/upload/19175.pdf" rel="external">Fire safety regulations for landlords (PDF, 1.6MB)</a></li>
      </ul>



	</article>

  </section>
</section>
