<% content_for :title, "Know Before You Go - staying safe and healthy abroad" %>
<main id="content" role="main" class="group campaign">
  <section id="landing">
    <h1>Know Before You Go - staying safe and healthy abroad</h1>
    <div class="organisation">
      <a href="/government/organisations/foreign-commonwealth-office" class="organisation-logo foreign-and-commonwealth-office">Foreign &amp; <br />Commonwealth <br />Office</a>
    </div>

    <div class="campaign-image">
      <span class="image-scope">
        <style scoped>
          /* fall-back styles for browsers without media query support (IE6-8) */
          #banner {
            background-image: url('<%= image_path "campaign/know-before-you-go/960px.jpg" %>');
          }

          /* small image for mobile */
          @media (min-width: 0px) {
            #banner {
              background-image: url('<%= image_path "campaign/know-before-you-go/320px.jpg" %>');
            }
          }

          /* medium image for tablets */
          @media (min-width: 500px) {
            #banner {
              background-image: url('<%= image_path "campaign/know-before-you-go/768px.jpg" %>');
            }
          }

          /* large image for desktop */
          @media (min-width: 900px) {
            #banner {
              background-image: url('<%= image_path "campaign/know-before-you-go/960px.jpg" %>');
            }
          }
        </style>
        <span id="banner">Know before you go and stay safe when you're abroad</span>
      </span>

      <div class="campaign-links inner group">
        <h2 id="find-out-more">Find out more</h2>
        <nav role="navigation" aria-labelledby="find-out-more">
          <ul class="links">
            <li><a href="/foreign-travel-advice">Foreign travel advice</a></li>
            <li><a href="https://twitter.com/fcotravel" rel="external">Follow @fcotravel on Twitter</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <article class="campaign">
      <h2>Stay safe driving abroad</h2>

      <p>Make sure you’re fully insured and follow the local rules of the road.</p>

      <p><a href="https://www.facebook.com/fcotravel" rel="external">Driving abroad</a></p>

      <h2>Foreign travel advice</h2>

      <p>Stay safe and healthy abroad by taking some simple precautions:</p>

      <p>Check the <a href="/foreign-travel-advice" title="Foreign travel advice">foreign travel advice</a>.</p>

      <p>Before planning a trip take a look at our <a href="/foreign-travel-checklist" title="Foreign travel checklist">travel checklist</a>. </p>

      <p>Get <a href="/foreign-travel-insurance" title="Foreign travel insurance">comprehensive travel insurance</a> and read the small print. </p>

      <p><a href="/government/publications/visiting-friends-and-family-abroad" title="Visit family and friends abroad">Research your destination</a> - know the local laws and customs, even if you're visiting friends and family.</p>

      <p><a href="http://www.fitfortravel.nhs.uk/" rel="external">Check the health risks</a> before travelling.</p>

      <p><a href="/browse/abroad/passports" title="Passports">Check your passport</a> is valid and you have the necessary visas.</p>

      <p>Make sure you take copies of important travel documents and store them online using a secure data storage site.</p>

      <p>Tell someone where you're going and leave emergency contact details with them.</p>

      <p>Take enough money and have access to emergency funds.</p>

      <h2>Other Know Before You Go information</h2>

      <p>Planning a <a href="/gap-year-foreign-travel-advice" title="Gap year foreign travel advice">gap year</a>? It’s essential to plan well before any big trip abroad - especially if you spend several months away from home. </p>

      <p>A <a href="/government/publications/teachers-notes">resource for teachers</a> to help young people prepare for travelling alone or with friends for the first time. </p>

      <p><a href="/sea-river-and-piracy-safety">Sea and river safety and the danger of piracy</a> - the UK's safety standards aren’t matched by every country. If you’re travelling by sea or river there are a number of precautions you should take. </p>

      <p>Preparing for your trip if you have <a href="/foreign-travel-advice-for-people-with-mental-health-issues" title="Foreign travel advice for people with mental health issues">mental health issues</a> and getting help when abroad. </p>

      <p>Attitudes towards <a href="/lesbian-gay-bisexual-and-transgender-foreign-travel-advice" title="Lesbian, gay, bisexual and transgender foreign travel advice">lesbian, gay, bisexual and transgender travellers</a> around the world can be very different from those in the UK. However, you’re unlikely to have any problems if you prepare well and research your destination before you go. </p>

      <p>If you have a <a href="/foreign-travel-for-disabled-people" title="Foreign travel for disabled people">physical or mental disability</a> overseas travel can be challenging - information is available to ensure a trouble-free trip.</p>

      <p>Know Before You Go works with <a href="/government/publications/know-before-you-go-partners" title="Know Before You Go partners">600 industry partners</a>.</p>

    </article>

  </section>
</main>
