<% content_for :title, "Changes to driving licence rules from January 2013" %>
<section id="content" role="main" class="group campaign">
  <section id="landing">
    <h1>Changes to driving licence rules from January 2013</h1>
    <div class="organisation">
      <a href="http://www.dft.gov.uk/dvla/" class="organisation-logo organisation-logo-stacked-single-identity organisation-logo-stacked-single-identity-large"><span>Driver &amp; Vehicle<br>Licensing<br>Agency</span></a>
    </div>

    <div class="campaign-image">
      <span class="image-scope">
        <style scoped>
          /* fall
-back styles for browsers without media query support (IE6-8) */
          #banner {
            background-image: url('<%= image_path "campaign/dvla-new-licence-rules/960px.jpg" %>');
          }

          /* small image for mobile */
          @media (min-width: 0px) {
            #banner {
              background-image: url('<%= image_path "campaign/dvla-new-licence-rules/320px.jpg" %>');
            }
          }

          /* medium image for tablets */
          @media (min-width: 500px) {
            #banner {
              background-image: url('<%= image_path "campaign/dvla-new-licence-rules/768px.jpg" %>');
            }
          }

          /* large image for desktop */
          @media (min-width: 900px) {
            #banner {
              background-image: url('<%= image_path "campaign/dvla-new-licence-rules/960px.jpg" %>');
            }
          }
        </style>
        <span id="banner">New driving licence rules from January 2013</span>
      </span>

      <div class="campaign-links inner group">
        <h2>Find out more</h2>
        <nav role="navigation">
          <ul class="links">
            <li><a href="https://www.gov.uk/ride-motorcycle-moped/new-rules-from-january-2013">Motorcycles and moped licences</a></li>
            <li><a href="https://www.gov.uk/motorcycle-practical-test/rules-for-mopeds-and-motorcycles-used-in-the-practical-riding-test">Motorcycle practical test</a></li>
            <li><a href="https://www.gov.uk/become-lorry-bus-driver/rules-for-vehicles-used-in-the-practical-driving-test">Drivers of buses and lorries</a></li>
            <li><a href="https://www.gov.uk/towing-with-car">Towing rules for car and small vehicle drivers</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <article class="campaign">
	
      <h2></h2>

      <p>New rules affecting drivers in Great Britain will be introduced from 19 January 2013. They include changes to what you can drive, the minimum age from which some vehicles can be driven, and driving licence card validity periods for some driver groups.</p> 

	  <p>At the same time DVLA will introduce a new style driving licence.</p> 

	  <p>Existing drivers - the new rules will not take away your entitlement to drive if it was granted before 19 January 2013. However, some of the new rules will affect you.</p> 

	  <p>New drivers from 19 January 2013 - if you apply for provisional entitlement to drive, or pass a driving test from 19 January 2013, the new rules will apply to you.</p> 
	
	  <ul class="more">
      <li><a href="https://www.gov.uk/ride-motorcycle-moped/new-rules-from-january-2013">New rules for motorcycles, mopeds and tricycle licences</a></li>
      <li><a href="https://www.gov.uk/motorcycle-practical-test/rules-for-mopeds-and-motorcycles-used-in-the-practical-riding-test">New rules for the motorcycle practical test</a></li>  
      <li><a href="https://www.gov.uk/become-lorry-bus-driver/rules-for-vehicles-used-in-the-practical-driving-test">New rules for drivers of buses and lorries</a></li>
      <li><a href="https://www.gov.uk/towing-with-car">New towing rules for car and small vehicle drivers</a></li>
    </ul>

  </article>

  <section id="extra-links">
    <p class="introduction">Not what you were looking for?</p>

    <h2>More useful links:</h2>

    <ul class="more">
      <li><a href="https://www.gov.uk/vehicles-you-can-drive">Vehicles you can drive and their age restrictions</a></li>
      <li><a href="https://www.gov.uk/changes-to-the-driving-licence-and-categories">Changes to the driving licence and categories</a></li>
    </ul>

  </section>
</section>
