<% content_for :title, "HMRC is closing in on undeclared income - GOV.UK" %>
<section id="content" role="main" class="group campaign">
  <section id="landing">
    <h1>HMRC is closing in on undeclared income</h1>
    <div class="campaign-image">
      <span class="image-scope">
        <style scoped>
          /* fall-back styles for browsers without media query support (IE6-8) */
          #banner {
            background-image: url('<%= image_path "campaign/sort-my-tax/960px.jpg" %>');
          }

          /* small image for mobile */
          @media (min-width: 0px) {
            #banner {
              background-image: url('<%= image_path "campaign/sort-my-tax/320px.jpg" %>');
            }
          }

          /* medium image for tablets */
          @media (min-width: 500px) {
            #banner {
              background-image: url('<%= image_path "campaign/sort-my-tax/768px.jpg" %>');
            }
          }

          /* large image for desktop */
          @media (min-width: 900px) {
            #banner {
              background-image: url('<%= image_path "campaign/sort-my-tax/960px.jpg" %>');
            }
          }
        </style>
        <span id="banner" role="presentation">HMRC is closing in on undeclared income</span>
      </span>

      <div class="campaign-links inner group">
        <h2 id="find-out-more">Find out more</h2>
        <nav role="navigation" aria-labelledby="find-out-more">
          <ul class="links">
            <li><a href="/taxable-income">Income you need to declare</a></li>
            <li><a href="http://www.hmrc.gov.uk/undeclaredincome/index.htm" rel="external">How do I put it right?</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <article class="campaign">
	  <p>If you are already doing the right thing and paying tax on all of your income, then there's nothing more you need to do.</p> 

	  <p>But if you have any income you haven't told us about, you need to declare it before we catch you.</p> 

	  <p>Our new technology and extra staff make it easier for us to find you – no matter who you are.</p> 

	  <p>If you're not sure what income you need to declare then <a href="http://www.hmrc.gov.uk/undeclaredincome/gettingstarted/tax-affairs.htm" rel="external">find out now</a>.</p> 
	
	  <ul class="more">
        <li><a href="http://www.hmrc.gov.uk/sa/need-tax-return.htm" rel="external">Do you need to complete a tax return?</a></li>
        <li><a href="http://www.hmrc.gov.uk/undeclaredincome/index.htm" rel="external">How do I put it right? </a></li>
      </ul>

    <section id="extra-links">
      <p class="introduction">Not what you were looking for?</p>

      <h2>More on tax:</h2>

      <ul class="more">
        <li><a href="http://www.hmrc.gov.uk/undeclaredincome/gettingstarted/help.htm" rel="external">Getting help and advice</a></li>
        <li><a href="http://www.hmrc.gov.uk/admittingfraud/owningup.htm" rel="external">Owning up to fraud</a></li>
        <li><a href="http://www.hmrc.gov.uk/reportingfraud/index.htm" rel="external">Tell us about someone who is not declaring all their income</a></li>
        <li><a href="http://www.hmrc.gov.uk/agents/" rel="external">Help and advice for tax agents and advisers</a></li>
      </ul>
    </section>

	</article>

  </section>
</section>
