<% content_for :title, "HMRC is closing in on undeclared income - GOV.UK" %>
<main id="content" role="main" class="group campaign">
  <section id="landing">
    <h1>HMRC is closing in on undeclared income</h1>
    <div class="organisation">
      <a href="http://www.hmrc.gov.uk" class="organisation-logo hm-revenue-customs">HM Revenue <br />&amp; Customs</a>
    </div>

    <div class="campaign-image">
      <span class="image-scope">
        <style scoped>
          /* fall-back styles for browsers without media query support (IE6-8) */
          #banner {
            background-image: url('<%= image_path "campaign/sort-my-tax/960px.jpg" %>');
          }

          /* small image for mobile */
          @media (min-width: 0px) {
            #banner {
              background-image: url('<%= image_path "campaign/sort-my-tax/320px.jpg" %>');
            }
          }

          /* medium image for tablets */
          @media (min-width: 500px) {
            #banner {
              background-image: url('<%= image_path "campaign/sort-my-tax/768px.jpg" %>');
            }
          }

          /* large image for desktop */
          @media (min-width: 900px) {
            #banner {
              background-image: url('<%= image_path "campaign/sort-my-tax/960px.jpg" %>');
            }
          }
        </style>
        <span id="banner" role="presentation">HMRC is closing in on undeclared income</span>
      </span>

      <div class="campaign-links inner group">
        <h2 id="find-out-more">Find out more</h2>
        <nav role="navigation" aria-labelledby="find-out-more">
          <ul class="links">
            <li><a href="http://www.hmrc.gov.uk/undeclaredincome/?WT.mc_id=govuk1" rel="external">Find out about undeclared income and how to put it right.</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <article class="campaign">
      <p>If you are already doing the right thing and paying tax on all of your income, then there's nothing more you need to do.</p> 

      <p>But if you have any income you haven't told us about, you need to declare it before we catch you.</p>

      <p>Our new technology and extra staff make it easier for us to find you – no matter who you are.</p>

      <p><a href="http://www.hmrc.gov.uk/undeclaredincome/?WT.mc_id=govuk2" rel="external">Find out about undeclared income and how to put it right.</a></p>

      <h2>Putting your tax affairs in order</h2>

      <p>Check whether you need to <a href="http://www.hmrc.gov.uk/sa/need-tax-return.htm?WT.mc_id=govuk3" rel="external">complete a tax return</a>. Make sure you fill in your return accurately and send it on time.</p>

      <p><a href="http://www.hmrc.gov.uk/incometax/correct-mistakes.htm?WT.mc_id=govuk4" rel="external">Correct any mistakes</a> by telling HMRC about any tax that you think you owe, amending a previously incorrect return or <a href="http://www.hmrc.gov.uk/admittingfraud/owningup.htm?WT.mc_id=govuk5" rel="external">owning up to fraud</a>.</p>

      <p>Remember you can <a href="http://www.hmrc.gov.uk/undeclaredincome/gettingstarted/help.htm?WT.mc_id=govuk6" rel="external">get independent advice</a>, or talk to friends and family or an adviser about your tax concerns.</p>

      <p>You can also tell us about someone who isn’t declaring all their income using <a href="http://www.hmrc.gov.uk/reportingfraud/online.htm?WT.mc_id=govuk7" rel="external">HMRC’s online form</a>.</p>

    </article>
  </section>
</main>
