<% content_for :title, "UK Welcomes - GOV.UK" %>
<main id="content" role="main" class="group campaign">
  <section id="landing">
    <h1>UK Welcomes</h1>
    <div class="organisation">
      <a href="http://ec.europa.eu/internal_market/eu-go/index_en.htm" class="eugo">In partnership with <strong>EUGO</strong></a>
    </div>

    <div class="content-block campaign">
      <p>UK Welcomes, which is part of the EUGO network, gives simple information on how to set up and run your business in the UK.</p>

      <p>The guidance is aimed at those in the EEA (European Economic Area), but those from outside the <abbr title="European Economic Area">EEA</abbr> may also find it useful.</p>

      <p>Find out how to start doing business in the UK, with information on:</p>
      <ul>
        <li>the different types of business structure in the UK</li>
        <li>how to register your company</li>
        <li>what licence you may need to run your business</li>
        <li>registering for tax</li>
        <li>setting up a bank account</li>
        <li>employing people in the UK</li>
      </ul>
      <p>You can also get information on where to get help - such as money or advice - for your business.</p>

      <p><a href="/uk-welcomes-business" title="UK Welcomes business">Read our guide to setting up business in the UK.</a></p>
    </div>

  </section>
</main>
