<% content_for :title, "Are you thinking of going to university in 2014/15? - GOV.UK" %>
<main id="content" role="main" class="group campaign">
  <section id="landing">
    <h1>Are you thinking of going to university in 2014/15?</h1>
    <div class="organisation">
      <a href="/government/organisations/department-for-business-innovation-skills" class="organisation-logo department-for-business-innovation-skills">Department <br />for Business<br />Innovation &amp; Skills</a>
    </div>
    <div class="campaign-image">
      <span class="image-scope">
        <style scoped>
          /* fall-back styles for browsers without media query support (IE6-8) */
          #banner {
            background-image: url('<%= image_path "campaign/unimoney/960px.jpg" %>');
          }

          /* small image for mobile */
          @media (min-width: 0px) {
            #banner {
              background-image: url('<%= image_path "campaign/unimoney/320px.jpg" %>');
            }
          }

          /* medium image for tablets */
          @media (min-width: 500px) {
            #banner {
              background-image: url('<%= image_path "campaign/unimoney/768px.jpg" %>');
            }
          }

          /* large image for desktop */
          @media (min-width: 900px) {
            #banner {
              background-image: url('<%= image_path "campaign/unimoney/960px.jpg" %>');
            }
          }
        </style>
        <span id="banner">Are you thinking of going to university in 2014/15?</span>
      </span>
    </div>

    <article class="campaign">
      <h2>You won’t have to pay tuition fees upfront</h2>
      <p>Universities and colleges can charge up to £9,000 a year for courses. You won’t need to pay these fees upfront if you’re from England and studying for your first degree or other higher education qualification.</p>

      <h2>Student finance</h2>
      <p>You’ll probably be eligible for the following help if you’re a full-time student:</p>
      <ul>
        <li>a loan to pay your tuition fees</li>
        <li>loans and grants to help pay for your living costs</li>
        <li>extra help, eg scholarships and bursaries</li>
      </ul>

      <div class="application-notice info-notice">
      <h3>Part-time students</h3>
      <p>Part-time students could be eligible for a tuition fee loan. Studying part-time could give you flexibility over the way you study, boost your career prospects and allow you to learn while you earn.</p>
      </div>

      <p>Use the <a href="/student-finance-calculator">student finance calculator</a> to see what you can get.</p>

      <h2>What you’ll need to pay back</h2>
      <p>Your loan repayments will be based on your income, not what you borrowed. You’ll only make repayments when your income is over £21,000 a year. Use the <a rel="external" href="http://www.studentfinance.direct.gov.uk/scheme/dgv/pws/repayment-calculator.html">repayments calculator</a> to check how much you’ll pay back.</p>

      <p>Read the <a href="/student-finance">guide to student finance</a> for more information.</p>

      <h2>Finding a university or college course</h2>
      <p>You can <a href="/higher-education-courses-find-and-apply">search for most higher education courses</a> online.</p>

      <p>There’s also independent information about courses and student feedback and satisfaction on the <a rel="external" href="http://unistats.direct.gov.uk/">unistats website</a>.</p>

      <h2>Deadlines for applications</h2>
      <p>You can apply to <a rel="external" href="http://www.ucas.com/">UCAS</a> from mid-September this year for courses starting in September 2014.</p>

      <p>The deadline for most applications is January 2014, although this can vary depending on the course.</p>

      <p>You can <a href="/apply-online-for-student-finance">apply for student finance</a> from February 2014. You should apply by May to get the money before the start of your course, but you can still apply after that.</p>

      <h2>More information</h2>
      <p>See the <a href="/student-finance">guide to student finance</a> for more information and resources.</p>



	</article>

  </section>
</main>
