<% content_for :title, "Voluntary disclosure for health and wellbeing professionals - GOV.UK" %>
<main id="content" role="main" class="group campaign">
  <section id="landing">
    <h1>Voluntary disclosure for health and wellbeing professionals</h1>
    <div class="organisation">
      <a href="/government/organisations/hm-revenue-customs" class="organisation-logo hm-revenue-customs"><span>HM Revenue <br />&amp; Customs</span></a>
    </div>

    <div class="campaign-image">
      <span class="image-scope">
        <style scoped>
          /* fall-back styles for browsers without media query support (IE6-8) */
          #banner {
            background-image: url('<%= image_path "campaign/voluntary_disclosure_health_wellbeing/960px.jpg" %>');
          }

          /* small image for mobile */
          @media (min-width: 0px) {
            #banner {
              background-image: url('<%= image_path "campaign/voluntary_disclosure_health_wellbeing/320px.jpg" %>');
            }
          }

          /* medium image for tablets */
          @media (min-width: 500px) {
            #banner {
              background-image: url('<%= image_path "campaign/voluntary_disclosure_health_wellbeing/768px.jpg" %>');
            }
          }

          /* large image for desktop */
          @media (min-width: 900px) {
            #banner {
              background-image: url('<%= image_path "campaign/voluntary_disclosure_health_wellbeing/960px.jpg" %>');
            }
          }
        </style>
        <span id="banner" role="presentation"></span>
      </span>
    </div>

    <article class="campaign">
      <p>The Health and Wellbeing Tax Plan gives you an opportunity to bring your tax affairs up to date and get the best possible terms. Tell HM Revenue &amp; Customs (HMRC) about income you haven’t declared by making your ‘voluntary disclosure’.</p>

      <div class="application-notice info-notice">
        <p>You must fill in a notification form by 16 December 2013 and pay what you owe by 16 March 2014.</p>
      </div>

      <h2>Who can do this?</h2>

      <p>You can report undeclared income if you work in a health and wellbeing profession such as:</p>

      <ul>
        <li>physical therapy - eg physiotherapist, chiropractor, chiropodist, osteopath, occupational therapist</li>
        <li>alternative medicine or therapy - eg homeopathy, acupuncture, nutritional therapy, reflexology, nutrition</li>
        <li>other therapy - eg psychology, speech therapy, arts therapy</li>
      </ul>

      <h2>How to declare income</h2>

      <p><a href="http://www.hmrc.gov.uk/campaigns/5years-calc.pdf?WT.mc_id=govuk" rel="external">Use the calculator</a> to find out how much tax you have to pay.</p>

      <p>You must then:</p>

      <ol class="steps">
        <li>fill in a <a href="http://www.hmrc.gov.uk/campaigns/forms.htm?WT.mc_id=govuk" rel="external">notification form</a> by 16 December 2013</li>
        <li>fill in a <a href="http://www.hmrc.gov.uk/campaigns/forms.htm?WT.mc_id=govuk" rel="external">disclosure form</a> to disclose and pay what you owe by 16 March 2014</li>
      </ol>

      <p>If you need time to pay remember to talk to <abbr title="HM Revenue &amp; Customs">HMRC</abbr>. Call the health and wellbeing tax plan helpline before 16 March 2014.</p>

      <h2>Help and advice</h2>

      <p>Read more about how to make your <a href="/government/publications/health-and-wellbeing-tax-plan-your-guide-to-making-a-disclosure">voluntary disclosure</a>.</p>

      <p>Call the health and wellbeing tax plan helpline if you need help.</p>

      <div class="contact">
        <p>
          <strong>Health and wellbeing tax plan helpline</strong><br />
          Telephone: 0845 600 4507<br />
          Call from outside the UK: +44 1792 657 324<br />
          Monday to Friday, 8am to 6:30pm
        </p>
        <p><a href="/call-charges">Find out about call charges</a></p>
      </div>

    </article>
  </section>
</main>
