<% content_for :title, "Automatic enrolment into a workplace pension | GOV.UK Beta (Test)" %>
<section id="content" role="main" class="group">
  <section id="landing">
	  <h1>Automatic enrolment into a workplace pension</h1>
	  <div class="organisation">
      <a href="#" class="organisation-logo department-for-work-and-pensions"><span>Department <br />for Work &amp; <br />Pensions</span></a>
	  </div>

	  <div class="campaign-image">
      <%= image_tag "campaign/dwp-workplace-pensions/960px.jpg" %>

			<div class="campaign-links inner group">
	      <h2>Find out more</h2>
	      <nav role="navigation">
	        <ul class="links">
		        <li><a href="http://www.gov.uk/workplace-pensions/">Individuals</a></li>
	          <li><a href="http://www.thepensionsregulator.gov.uk/employers.aspx" rel="external">Employers</a></li>
	        </ul>
        </nav>
		  </div>
	  </div>

	  <article class="campaign">
	    <h2>Workplace pensions &mdash; what it means for you</h2>
	    <p>Starting from October 2012, millions of workers will be enrolled into a workplace pension. Your employer and the government will also pay into it - making it a hassle-free way of saving while you earn - and, when you retire, it will give you more to live on than just your State Pension.</p>
	    <p>Your employer will enrol you automatically, with people from larger employers being enrolled first, but you're totally free to opt out if you want to.</p>
	    <p>Want to know more? <a href="http://www.gov.uk/workplace-pensions/">Read our guide to workplace pensions</a>.<br />
	      You could also take a <a href="http://www.dwp.gov.uk/policy/pensions-reform/workplace-pension-reforms/case-studies/" rel="external">look at the case studies</a>.</p>
	  </article>

    <section id="find-out-more">
	    <p class="introduction">Not what you were looking for?</p>

	    <h2>More on pensions</h2>

	    <ul class="more">
		    <li><a href="https://www.gov.uk/state-pension" target="_blank">State Pension: qualifying and claiming</a></li>
		    <li><a href="https://www.gov.uk/additional-state-pension" target="_blank">Additional State Pension</a></li>
		    <li><a href="https://www.gov.uk/pension-credit-calculator" target="_blank">Pension Credit calculator</a></li>
		    <li><a href="https://www.gov.uk/find-lost-pension" target="_blank">Find a lost pension</a></li>
	    </ul>
	  </section>

  </section>
</section>
