<% content_for :title, "Automatic enrolment into a workplace pension - GOV.UK" %>
<main id="content" role="main" class="group campaign">
  <section id="landing">
    <h1>Workplace Pensions - We're all in</h1>
    <div class="organisation">
      <a href="/government/organisations/department-for-work-pensions" class="organisation-logo department-for-work-and-pensions">Department <br />for Work &amp; <br />Pensions</a>
    </div>

    <div class="campaign-image">
      <span class="image-scope">
        <style scoped>
          /* fall-back styles for browsers without media query support (IE6-8) */
          #banner {
            background-image: url('<%= image_path "campaign/dwp-workplace-pensions/960px.jpg" %>');
          }

          /* small image for mobile */
          @media (min-width: 0px) {
            #banner {
              background-image: url('<%= image_path "campaign/dwp-workplace-pensions/320px.jpg" %>');
            }
          }

          /* medium image for tablets */
          @media (min-width: 500px) {
            #banner {
              background-image: url('<%= image_path "campaign/dwp-workplace-pensions/768px.jpg" %>');
            }
          }

          /* large image for desktop */
          @media (min-width: 900px) {
            #banner {
              background-image: url('<%= image_path "campaign/dwp-workplace-pensions/960px.jpg" %>');
            }
          }
        </style>
        <span id="banner" role="presentation"></span>
      </span>
      <div class="campaign-links inner group">
      <h2>Find out more</h2>
      <nav role="navigation" aria-labelledby="find-out-more">
        <ul class="links">
          <li><a href="/workplace-pensions">I am a worker</a></li>
          <li><a href="http://www.thepensionsregulator.gov.uk/automatic-enrolment.aspx?ns_campaign=063ecrDWPemployers2013&amp;ns_mchannel=GovReferral&amp;ns_source=Gov&amp;ns_linkname=EmployerReferralGov&amp;ns_fee=0" rel="external">I am an employer</a></li>
        </ul>
      </nav>

      </div>
    </div>

    <article class="campaign">
      <p>Millions of workers are being automatically enrolled into a workplace pension by their employer. Once you’re enrolled, not only will you pay in to it but so will your boss and the government.</p>
      <div class="example">
        <p><strong>Example</strong></p>
        <p>John puts in £40, his employer puts in £30, the government adds £10 tax relief.</p>
        <p>A total of £80 will be paid into John's pension.</p>
      </div>
      <p>This is to make it easier for you to start saving. You can opt out if you want to, but that means losing out on employer and government contributions – and if you stay in you’ll have your own pension that you get when you retire.</p>

      <p>Every employer must automatically enrol workers into a workplace pension scheme who:</p>

      <ul>
        <li>are not already in one</li>
        <li>are aged between 22 and State Pension age</li>
        <li>earn more than £9,440 a year</li>
        <li>work in the UK</li>
      </ul>

      <p>Use our interactive tool to find out <a href="/auto-enrolled-into-workplace-pension">when you will be enrolled</a>.</p>

      <p>Get more information by <a href="/workplace-pensions">reading the guide</a>.</p>

      <p><a href="http://www.youtube.com/watch?v=zqxeGCj1cZQ" rel="external">See our TV ad</a>.</p>

      <p>If you’re an employer, you need to act now to prepare. <a href="http://www.thepensionsregulator.gov.uk/automatic-enrolment.aspx?ns_campaign=063ecrDWPemployers2013&amp;ns_mchannel=GovReferral&amp;ns_source=Gov&amp;ns_linkname=EmployerReferralGov&amp;ns_fee=0" rel="external">Visit The Pensions Regulator website</a>.</p>

    </article>
  </section>
</main>
