<% content_for :title, "Feedback | Help | GOV.UK Beta (Test)" %>
<% content_for :section_meta_tags do %>
  <meta name="x-section-name" content="Feedback" />
  <meta name="x-section-link" content="/feedback" />
<% end %>

<section id="content" role="main" class="group ancillary feedback">
  <div class="article-container">
    <header class="page-header group">
      <hgroup>
        <h1>Feedback</h1>
      </hgroup>
    </header>

    <article role="article" class="group">
      <div class="inner">
        <h2>Help us improve GOV.UK</h2>
        <p>This site is an experimental trial (‘beta’) of a home for government information and services, and the first steps towards a single government website. As it’s a beta site, we know there will be things that need fixing and improving. So we’d love your feedback.</p>

        <div class="pullout group">
          <p>The best way to suggest an idea, report a fault, or ask a question is to email us at <a href="mailto:govuk-feedback@digital.cabinet-office.gov.uk">govuk-feedback@digital.cabinet-office.gov.uk</a>. People from GOV.UK will help and answer your questions and respond to your feedback.</p>
          <p>You can also use Twitter (tweet us <a href="http://twitter.com/govuk" rel="external" target="_blank">@GovUK</a>).</p>
        </div>
        <p>Thanks in advance for all and any feedback.</p>
      </div>

    </article>
  </div>
</section>