<% content_for :title, "Feedback | Help | GOV.UK" %>
<% content_for :section_meta_tags do %>
  <meta name="x-section-name" content="Feedback" />
  <meta name="x-section-link" content="/feedback" />
<% end %>

<section id="content" role="main" class="group ancillary feedback">
  <div class="article-container">
    <header class="page-header group">
      <hgroup>
        <h1>Feedback</h1>
      </hgroup>
    </header>

    <article role="article" class="group">
      <div class="inner">
        <h2>Help us improve GOV.UK</h2>
        <p>This site is an experimental trial (‘beta’) replacement for Directgov and the first step towards a single government website. As it’s a beta site, we know there will be things that need fixing and improving. So we’d love your feedback.</p>

        <div class="pullout">
          <div class="image-in-text">
            <a href="http://getsatisfaction.com/govuk" rel="external" target="_blank"><img src="<%= asset_path "getsatisfaction.jpg" %>" alt="Get Satisfaction homepage"></a>
          </div>
          <p>The best way to suggest an idea, report a fault, or ask a question is via our page at <a href="http://getsatisfaction.com/govuk" rel="external" target="_blank"><strong>GetSatisfaction</strong></a>. This is an external site which helps us organise feedback and lets you see what other people have been saying. People from GOV.UK will be there to help and answer your questions.</p>
        </div>

        <p>You can also use Twitter (tweet us <a href="http://twitter.com/govuk" rel="external" target="_blank">@GovUK</a>) or email us at <a href="mailto:govuk-feedback@digital.cabinet-office.gov.uk">govuk-feedback@digital.cabinet-office.gov.uk</a></p>

        <p>Thanks in advance for all and any feedback.</p>
      </div>

    </article>
  </div>
</section>
