<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>
    <%= @publication.alternative_title.nil? ? @publication.alternative_title : @publication.title %> |
    <% unless @publication.section.nil? or @publication.section == ''%>
    <%= @publication.section %> |
    <% end %>
    Beta.gov.uk
  </title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/publisher.css" />
  <% if @publication.overview and @publication.overview != '' %>
  <meta name="description" content="<%= @publication.overview %>">
  <% end %>
  <% yield :extra_javascript %>
</head>
<body>

<%= yield %>

</body>
</html>
